:root {
    /* Colors: */
    --grey-dark-1b1b1f: #1B1B1F;
    --grey-regular-8f8f9a: #8F8F9A;
    --grey-light-bcbcc7: #BCBCC7;
    --grey-lighter-f9f9fb: #F9F9FB;
    --orange-ff9700: #FF9700;
    --pink-fe93af: #FE93AF;
    --red-fa5879: #FA5879;
    --purple-6557f9: #6557F9;
    --blue-0063fb: #0063FB;
    --turquoise-02d4c8: #02D4C8;
    --green-17db7e: #17DB7E;
    --white: #ffffff;
    --black: #000000;
    /* Font/text values */
    --unnamed-font-family-circular-std: Circular Std;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-black: 900px;
    --unnamed-font-weight-medium: 500px;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-size-14: 14px;
    --unnamed-font-size-16: 16px;
    --unnamed-font-size-20: 20px;
    --unnamed-font-size-24: 24px;
    --unnamed-font-size-32: 32px;
    --unnamed-font-size-48: 48px;
    --unnamed-font-size-80: 80px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-20: 20px;
    --unnamed-line-spacing-24: 24px;
    --unnamed-line-spacing-28: 28px;
    --unnamed-line-spacing-32: 32px;
    --unnamed-line-spacing-40: 40px;
    --unnamed-line-spacing-56: 56px;
    --unnamed-line-spacing-88: 88px;
}

body {
    font-family: var(--unnamed-font-family-circular-std);
}

a {
    color: var(--orange-ff9700);
}

.light-box {
    background: var(--white);
}

.light-grey-box {
    background: var(--grey-lighter-f9f9fb);
}

.slider_sections .carousel-item, .homeSlider .carousel-item {
    
    border-radius: 23px;
}
.faq_accordions .accordion-body p img{
    max-width:100%;
	height:auto;
}
.tools-single-page-sec .container .img-block img{
    border-radius: 15px;
}
.module-types_heading~p {
    color: var(--grey-dark-1b1b1f);
    font: normal normal normal 16px/24px Circular Std;
    letter-spacing: 0px;
    margin-bottom: 40px;
}
.inside-gray-header article.toolBanner p strong {
    font-size: 48px;
    line-height: 40px;
}

/* END */

a:hover {
    color: var(--grey-dark-1b1b1f)
}
/*===  header css ====*/
header {
    background: var(--grey-lighter-f9f9fb);
}

    header .navbar {
        padding: 40px 0;
        transition: all 0.5s;
    }

    header .navbar-expand-lg .navbar-nav .nav-link {
        margin-right: 40px;
        padding: 0;
        color: var(--grey-dark-1b1b1f);
        text-align: left;
        opacity: 1;
    }

    header .navbar-brand {
        margin-right: 40px;
    }

    header .dropdown-toggle::after {
        display: none;
    }

.create-gamebtn {
    width: 155px;
    height: 48px;
    background: var(--orange-ff9700);
    border-radius: 6px;
    font-size: var(--unnamed-font-size-16);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--white) !important;
}

.langage {
    outline: none;
	background:none !important;
}

.sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 0px 20px #00000017;
    background: var(--grey-lighter-f9f9fb) !important;
}

    .sticky .navbar {
        padding: 30px 0;
    }

header .navbar-nav {
    position: relative;
}

header .nav-item.dropdown {
    position: static;
}

.game-submenu {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E1E1EA;
    border-radius: 10px;
    width: 656px;
}

nav.nav .nav-bar ul li a {
    font: normal normal normal 16px/20px Circular Std;
    display: block;
    line-height: 40px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

header .sub-menu-items a:hover .submenu {
    color: #ff9700;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.pt-2rem {
    padding: 40px 0 0;
}

.p-2rem {
    padding: 40px;
}

.sub-menu-items p {
    margin: 0;
}

header .left-footer-heading .sub-menu-desc {
    font: normal normal normal 14px/18px Circular Std;
    color: #8F8F9A;
}

.sub-menu-items.games .row > div:last-child a .left-footer-heading p {
    text-decoration: underline;
    color: #FF9700;
    font-weight: var(--unnamed-font-style-normal);
}
/*===  header css ====*/
/*===  banner css ====*/
.bann_slider {
    background: var(--grey-lighter-f9f9fb);
}

.games-heading-1 {
    font: 900 48px/56px Circular Std;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--grey-dark-1b1b1f);
    margin-bottom: 10px;
}

.welcome-desc {
    font: normal 20px/28px Circular Std;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--grey-dark-1b1b1f);
    margin-bottom: 40px;
}

.btn-rect {
    font-size: var(--unnamed-font-size-16);
    font-weight: var(--unnamed-font-weight-medium);
    letter-spacing: var(--unnamed-character-spacing-0);
    padding: 15px 24px;
    color: var(--white);
    border: 1px solid #ff9700;
    background: var(--orange-ff9700);
    border-radius: 6px;	
    transition: background 1s;
}

.btn-alt .btn-rect:last-child {
    background: var(--white);
    border: 1px solid #E5E5EA;
    color: var(--black);
    margin: 0 10px;
}

    .btn-alt .btn-rect:last-child:hover {
        background: var(--white);
        color: var(--orange-ff9700);
    }

.sec-desc {
    font: var(--unnamed-font-size-14);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--grey-regular-8f8f9a);
    margin-top: 20px;
}

.bann_slider {
    padding-top: 24px;
    padding-bottom: 220px;
}


.popup-img {
    text-align: end;
    padding-right: 0;
    display: flex;
	background: #fff;
	align-items: center;
	justify-content: center;
}

.slid_box {
    max-width: 660px;
    margin: 0px auto;
	box-shadow: 0px 0 20px rgb(0 0 0 / 6%);
    border-radius: 11px;
	border: 1px solid #E1E1EA;
}

div#carouselA .custom-carousel-inner {
    position: absolute;
    top: -205px;
    width: 100%;
    text-align: center;
}

.popup-text {
    background: var(--white);
   
    border-left: 1px solid #E1E1EA;
    text-align: left;
    padding: 20px 40px;
    border-radius: 0px 10px 10px 0px;
}

    .popup-text p {
        font-size: var(--unnamed-font-size-20);
        margin: 0;
    }

.quiz-slider .carousel-indicators button {
    background: var(--grey-light-bcbcc7);
    opacity: 1;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none !important;
    display: block;
    padding: 0;
    margin: 0 8px 0 0;
    outline: none;
}

.custom-indicators button:last-child {
    margin-right: 0px;
}

.custom-indicators button.active {
    background: #5F5F69;
}

.custom-indicators {
    background: #F2F2F6;
    border-radius: 12px;
    width: 56px;
    height: 24px;
    margin: 0 auto;
    padding: 8px;
    top: 15px;
}

.py-100 {
    padding-bottom: 100px;
    padding-top: 100px;
}

.trusted-logo button.slick-prev.slick-arrow,
.trusted-logo button.slick-next.slick-arrow,
.trusted-logo .slick-dots {
    display: none !important;
}

.trusted-logo img {
    margin: 0 auto;
}

.companies-heading {
    font: normal normal normal 20px/28px Circular Std;
    letter-spacing: 0px;
    color: var(--grey-regular-8f8f9a);
    margin-bottom: 60px;
}

.customer-logos .slide img {
    max-width: 150px;
    object-fit: contain;
    line-height: 120px;
    display: block;
    vertical-align: middle;
    height: 75px;
    margin: 0 auto;
}

/*===  banner css ====*/
/*=== Learn with circle css  ====  */
.games-heading {
    font: normal normal normal 16px/24px Circular Std;
    letter-spacing: 0px;
    color: var(--grey-regular-8f8f9a);
}

.games-desc {
    color: var(--grey-dark-1b1b1f);
    font: normal normal normal 20px/28px Circular Std;
}

.game-slider .btn-rect {
    display: inline-block;
    margin-top: 20px;
}

.game-slider .custom-indicators {
    background: #36363a4a;
    left: 4%;
    top: 5%;
    right: auto;
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
}

.game-slider .carousel-indicators button {
    background: var(--white);
    opacity: 40%;
}

    .game-slider .carousel-indicators button.active {
        background: var(--white);
        opacity: 1;
    }

.game-slider .carousel-inner {
    border-radius: 20px;
}

/*----Learn bottom section --*/
.cirl_sec {
    margin-top: 50px; /*CHANGED*/
}

.module-types_heading {
    font: normal normal 900 24px/32px Circular Std;
    letter-spacing: 0px;
    color: var(--grey-dark-1b1b1f);
    margin: 29px 0 12px;
}

.module-types_desc {
    font: normal normal normal 16px/24px Circular Std;
    letter-spacing: 0px;
    color: var(--grey-dark-1b1b1f);
    margin-bottom: 40px;
}

.games-link-a {
    text-decoration: none;
    font: normal normal normal 16px/24px Circular Std;
}

.games-link {
    float: right;
    padding: 3rem;
}
/*=== Learn with circle css  ====  */
/*=== Network slider css  ====  */
.network-slider {
    padding-top: 180px;
}

    .network-slider .carousel-inner {
        padding-right: 0px;
    }
.network-slider .content-block {
    padding-right: 30px;
}
    .network-slider .custom-indicators {
        background: #36363a4a;
        right: 4%;
        left: auto;
    }
/*=== Network slider css  ====  */
/*===FAQ css  ====  */
.gray-box {
    padding: 10px 0;
    background-color: #F9F9FB;
}

.faq-heading {
    text-align: left;
    font: normal normal 900 48px/56px Circular Std;
    letter-spacing: 0px;
    color: var(--grey-dark-1b1b1f);
    opacity: 1;
}

.faq_accordions .accordion-item {
    margin-bottom: 10px;
    padding-bottom: 12px;
}

.faq_accordions .accordion-title {
    border: none;
    transition: 0.4s;
    margin-bottom: 0px;
    font: normal normal normal 14px/20px Circular Std;
    letter-spacing: 0px;
    color: var(--grey-regular-8f8f9a);
    padding-bottom: 26px;
}

.faq_accordions .accordion-button {
    cursor: pointer;
    font: normal normal 900 16px/24px Circular Std;
    letter-spacing: 0px;
    color: var(--grey-dark-1b1b1f);
    text-align: left;
}

.faq_accordions .accordion-body {
    font: normal normal normal 16px/24px Circular Std;
    letter-spacing: 0px;
    color: var(--grey-dark-1b1b1f);
    padding-bottom: 40px;
}

.faq_accordions .accordion-item:not(:last-child) {
    border-bottom: 1px solid #E3E3E5;
}

.faq_accordions .accordion-button::after {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    content: "";
    background-image: url(../img/icon-plus.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: transform .2s ease-in-out;
}

.faq_accordions .accordion-button:not(.collapsed)::after {
    background-image: url(../img/icon-minus.svg);
}

.categorya {
    padding-bottom: 25px;
}

.faq-sec {
    padding: 100px 0 80px 0;
}

/*=== FAQ css  ====  */
/*=== testimonial css  ====  */
.testimonial_sec {
    padding: 120px 0 200px;
}

.testimonial-width {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.testimonial-section h1 {
    font-weight: 400;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 20px;
}



.testimonial-contents {
    max-width: 900px;
    margin: auto;
}


    .testimonial-words p {
        font: italic normal normal 32px/40px Circular Std;
        color: var(--grey-dark-1b1b1f);
    }

.contact-name {
    font: normal normal bold 20px/28px Circular Std;
    letter-spacing: 0px;
    color: #1B1B1F;
    padding-top: 20px;
    margin-bottom: 8px;
}

.contact-role {
    font: normal normal normal 16px/24px Circular Std;
    letter-spacing: 0px;
    color: #8F8F9A;
}

/*=== testimonial css  ====  */
/*==== Tool sec ====*/
.tool-sec {
    padding: 200px 0;
    overflow: hidden;
    width: 100%;
}

    .tool-sec .cirl_sec {
        margin-top: 100px; /*CHANGED*/
    }

/*====== About section ====*/
.about-desc {
    font: normal normal normal 24px/32px Circular Std;
    letter-spacing: 0px;
    color: #1B1B1F;
}

.about-module-head {
    font: normal normal 900 32px/40px Circular Std;
    letter-spacing: 0px;
    color: #1B1B1F;
    margin-bottom: 0;
}

.about-module-desc {
    font: normal normal normal 16px/24px Circular Std;
    letter-spacing: 0px;
    color: #8F8F9A;
}

.module-types-desc {
    font: normal normal normal 16px/24px Circular Std;
    letter-spacing: 0px;
    color: #1B1B1F;
}

.about-btn {
    margin-top: 20px;
}

/*=== Scalable Pricing =====*/
.price-cards {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E1E1EA;
    border-radius: 10px;
    padding: 20px 20px 40px;
    box-shadow: 0px 16px 20px #0000000F;
}

.welcome-desc {
    font: normal normal normal 20px/28px Circular Std;
    letter-spacing: 0px;
    color: #1B1B1F;
}

.price-cards .welcome-desc:first-child {
    padding-top: 10px;
}

.btn-price-rect {
    font: 16px/20px Circular Std;
    font-weight: var(--unnamed-font-weight-medium);
    border: 1px solid var(--orange-ff9700);
    background: var(--orange-ff9700);
    border-radius: 6px;
    height: 48px;
    line-height: normal;
    color: var(--white);
}

.price-cards .contact-name {
    margin-bottom: 14px;
    padding-top: 40px;
}

.price-features-list div:nth-child(even) {
    background: #F9F9FB 0% 0% no-repeat padding-box;
}

.price-features-list .engage_box {
    margin: 0 -20px;
    padding: 13px 20px;
}

.price-cards .welcome-desc {
    margin-bottom: 15px;
}

.price-cards .module-types-desc {
    margin-bottom: 35px;
}

.pricing-box {
    margin: 250px 0 180px 0;
}
/*=== Scalable Pricing =====*/
/*=== Get started =====*/
.get-started {
    margin-bottom: 100px;
}

.get-started-heading {
    font: normal normal 900 48px/56px Circular Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    z-index: 9;
    position: relative;
    margin-bottom: 8px;
}

.get-started-desc {
    font: normal normal normal 20px/28px Circular Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    z-index: 9;
    position: relative;
    margin-bottom: 30px;
}

.btn-get-started-rect {
    font: normal normal 500 16px/20px Circular Std;
    letter-spacing: 0px;
    color: #FF9700;
    opacity: 1;
    padding: 13px 23px;
    border: 1px solid #fff;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 6px;
    z-index: 9;
    position: relative;
    margin-bottom: 24px;
}

.started-link-a {
    font: normal normal 500 16px/20px Circular Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    z-index: 9;
    position: relative;
}

.get-startedin {
    border-radius: 20px;
    padding: 100px 15px 64px;
    box-shadow: 0px 24px 32px #50121214;
}

    .get-startedin:before {
        content: '';
        background: #000;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        opacity: .4;
        top: 0;
        z-index: 0;
        border-radius: 20px;
    }
/*=== Get started =====*/

/*=== Footer CSS ====*/
.news-sub {
    font: normal normal 900 16px/24px Circular Std;
    letter-spacing: 0px;
    color: #1B1B1F;
}

.newsletterbox {
    padding: 60px 0;
    border-bottom: 1px solid #E3E3E5;
}

.news-letter-btn {
    font: normal normal 500 16px/20px Circular Std;
    letter-spacing: 0px;
    padding: 7px 20px;
    color: #fff;
    border: 1px solid #ff9700;
    background: #ff9700;
    border-radius: 6px;
    position: absolute;
    right: 0;
    top: 1px;
    margin: 8px;
    cursor: pointer;
    height: 48px;
}

#newsLetterInput {
    height: 64px;
    padding-right: 130px;
    border: 1px solid #E1E1EA;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--grey-dark-1b1b1f);
    font: normal normal normal 16px/24px Circular Std;
}

    #newsLetterInput:placeholder {
        color: var(--grey-light-bcbcc7);
    }

    #newsLetterInput::-webkit-input-placeholder { /* Edge */
        color: var(--grey-light-bcbcc7);
    }

    #newsLetterInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: var(--grey-light-bcbcc7);
    }

    #newsLetterInput::placeholder {
        color: var(--grey-light-bcbcc7);
    }

.footer-nav {
    padding: 60px 0 200px;
}

.left-footer-heading p {
    font: normal normal bold 16px/24px Circular Std;
    color: var(--grey-dark-1b1b1f);
}

.address p {
    font: normal normal normal 16px/28px Circular Std;
    letter-spacing: 0px;
    color: var(--grey-dark-1b1b1f);
}

.copyrights {
    font: normal normal normal 14px/20px Circular Std;
    letter-spacing: 0px;
    color: var(--grey-regular-8f8f9a);
    padding-top: 48px;
}

.right-footer-li ul li a {
    font: normal normal normal 16px/28px Circular Std;
    letter-spacing: 0px;
    color: var(--grey-dark-1b1b1f);
    opacity: 1;
    text-decoration: none;
}

.right-footer-li ul li {
    padding-bottom: .7rem;
}

.footer-bottom .copyrights:not(:last-child) {
    margin-right: 40px;
}

.footer-social a:not(:last-child) {
    margin-right: 16px;
}

.footer-social img {
    max-width: 30px;
}

.footer-bottom {
    padding-bottom: 100px;
}

.popup-img img {
    max-width: 100%;
}
/*=== Footer CSS ====*/



/*=== Game Single Page CSS Start====*/

header .navbar.insideNav {
    padding: 30px 0;
}

.insideNav.navbar-expand-lg .navbar-nav .nav-link.bg-white.text-yellow {
    color: #ff9700 !important;
}

.insideNav.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff !important;
}

.inside_header_sec {
    background:#333;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

    .inside_header_sec header {
        background: none;
        box-shadow: none;
        z-index: 999;
        position: relative;
    }

        .inside_header_sec header.sticky {
            background: var(--grey-lighter-f9f9fb);
            box-shadow: 0px 0px 20px #00000017;
        }

.inside_bann_slider .d-flex {
    justify-content: center;
}

.bg-none button {
    background: none !important;
}

    .bg-none button:focus {
        outline: none;
    }

    .bg-none button .b {
        fill: #fff;
    }

.sticky .insideNav.navbar-expand-lg .me-right .nav-item.bg-none button .b {
    fill: #000;
}

.sticky .insideNav.navbar-expand-lg .navbar-nav .nav-link {
    color: #1B1B1F !important;
}

    .sticky .insideNav.navbar-expand-lg .navbar-nav .nav-link.bg-white.text-yellow {
        background: #ff9700 !important;
        color: #fff !important;
    }

.inside_bann_slider {
    padding: 50px 0 80px 0;
    position: relative;
    z-index: 9;
}

.inside_tab_sec ul.inside_tab_list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

    .inside_tab_sec ul.inside_tab_list a {
        text-decoration: none;
        color: #8F8F9A;
    }

        .inside_tab_sec ul.inside_tab_list a h3 {
            font-size: 16px;
        }

        .inside_tab_sec ul.inside_tab_list a span {
            font-size: 14px;
        }

.slider_sections {
    margin-top: 140px;
}

.basics-txt-sec p {
    font-size: 20px;
    line-height: 28px;
}

.basics-img-sec img {
    max-width: 100%;
}

.slider_sections .content-block {
    padding-top: 50px;
}

.basics-txt-sec a {
    margin-top: 20px;
    display: inline-block;
}

.inside_tab_list li.active {
    border-top: 2.5px solid #ff9700;
}

    .inside_tab_list li.active h3 {
        color: #1B1B1F;
    }

.basic_sec_box h4 {
    font-weight: 900;
    margin-top: 20px;
}



.basicsBoxHolder {
    margin-top: 100px !important;
    padding: 0 92px;
}

.basic_sec_box {
    margin-bottom: 50px;
    padding: 0 20px;
}

.slider_sections.game-slider .carousel-inner {
    padding-right: 0;
}

.slider_sections img.carousel-img-custom, .homeSlider img.carousel-img-custom  {
   padding: 0;
    height: -webkit-fill-available;
}

.toolbox_sec {
    margin-top: 100px;
}

    .toolbox_sec .toolbox_anchor_sec a {
        color: #8F8F9A;
        font-size: 14px;
        text-decoration: none;
        display: inline-block;
    }

        .toolbox_sec .toolbox_anchor_sec a img {
            width: 25px;
        }

.toolbox_anchor_sec {
    margin-left: -3px;
}

.toolbox_sec .img-block h5 {
    font-size: 24px;
    font-weight: 900;
    color: #1B1B1F;
}

.test_game_sec {
    background-image: url(../img/test-game.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0 190px 0;
    margin-top: 130px;
    position: relative;
    overflow: hidden;
    background-position: center;
}

.minusMargin p {
    font-size: 20px;
}

.testgameTextSec {
    position: relative;
    z-index: 9;
    padding-bottom: 40px;
}

.minusMarginBottom {
    position: relative;
    margin-top: -110px;
}

.testgameTextSec p.px-5 {
    padding: 0 60px !important;
}

.help_section {
    margin-top: 100px;
}

.minusMarginBottom .popup-text h6 {
    font-size: 20px;
    color: #1B1B1F;
    font-weight: bold;
}

.minusMarginBottom .popup-text ul {
    margin: 12px 0 0 0;
    padding: 0;
    list-style: none;
}

    .minusMarginBottom .popup-text ul li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

        .minusMarginBottom .popup-text ul li:nth-last-child(1) {
            margin-bottom: 0;
        }

        .minusMarginBottom .popup-text ul li img {
            width: 25px;
            height: 25px;
            margin-right: 10px;
        }

.help_section h5 {
    margin: 0;
}

.minusMarginBottom .popup-img {
    max-height: inherit;
}

.insideheader .barIcon {
    background: #fff;
    height: 3px;
    width: 30px;
    display: block;
    margin-bottom: 5px;
}

    .insideheader .barIcon:nth-child(3n) {
        margin-bottom: 0;
    }

.insideheader.sticky .barIcon {
    background: #333;
}

.insideheader .navbar-light .navbar-toggler {
    border: none;
    padding: 0;
}

    .insideheader .navbar-light .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }

.inside_tab_sec .sticky-top {
    top: 107px;
    z-index: 99;
    background: #fff;
}

.scrollHolderRow {
    transition: ease-in-out .1s;
    overflow: hidden;
    width: 100%;
}
/*=== Game Single Page CSS End====*/





/*===  Created Games Overview Page CSS Start====*/
.inside_banner {
    padding: 90px 0;
}

.inside-gray-header header {
    background: none;
}

.inside-gray-header .bg-light {
    background: none !important;
}

.inside-gray-header {
    background-color: var(--grey-lighter-f9f9fb);
    background-image: url(../img/gray-header-bg1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.all_games_navbar {
    background: #fff;
    box-shadow: 0px 3px 6px #0000000f;
}

    .all_games_navbar .dropdown-toggle:after {
        display: none;
    }

    .all_games_navbar button.btn {
        padding: 0;
    }

        .all_games_navbar button.btn:focus {
            box-shadow: none;
        }

        .all_games_navbar button.btn img {
            width: 25px;
        }

.yellowIcon, .grayIcon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.all_games_navbar .navbar-light .navbar-nav .nav-link {
    color: #8F8F9A;
    display: flex;
    align-items: flex-end;
    padding: 15px 0;
}

    .all_games_navbar .navbar-light .navbar-nav .nav-link.active {
        color: #FF9700;
    }

.all_games_navbar .dropdown-menu {
    min-width: 340px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E1E1EA;
}

.all_games_navbar .navbar .navbar-nav li.nav-item {
    margin-right: 30px;
}

.all_games_navbar .dropdown-menu li .dropdown-item {
    padding: 15px;
}

    .all_games_navbar .dropdown-menu li .dropdown-item:focus {
        background: none;
        color: #000;
    }

.all_games_holder .img-block ul {
    margin: 0;
    padding: 0 15px;
    list-style: none;
	    min-height: 130px;
}

    .all_games_holder .img-block ul li {
        display: flex;
        align-items: start;
        margin-top: 10px;
    }

        .all_games_holder .img-block ul li img {
            width: 25px;
            margin-right: 10px;
        }

.all_games_holder {
    margin: 100px 0;
}

    .all_games_holder .img-block {
        margin-bottom: 50px;
		    border: 1px solid #eaeaea;
    border-radius: 10px;
    padding-bottom: 15px;
    }

    .all_games_holder .all_games_img {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
    }

        .all_games_holder .all_games_img .user_holder {
            position: absolute;
            bottom: 20px;
            left: 20px;
            display: flex;
            align-items: center;
            z-index: 2;
        }

            .all_games_holder .all_games_img .user_holder .user_text span {
                color: #fff;
            }

            .all_games_holder .all_games_img .user_holder .user_text a {
                display: block;
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                line-height: normal;
            }

span.user_img {
    margin-right: 15px;
}

.all_games_holder .all_games_img:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 10px;
    opacity: 0.4;
    z-index: 1;
}

.all_games_holder .all_games_img.purpleOverlay:before {
    background: #6557f9;
}

.all_games_holder .all_games_img.blueOverlay:before {
    background: #0063FB;
}

.all_games_holder .all_games_img.greenOverlay:before {
    background: #02D4C8;
}

.all_games_holder .all_games_img.redOverlay:before {
    background: #FA5879;
}

.all_games_holder .all_games_img .purpleBg {
    background: #6557F9;
}

.all_games_holder .all_games_img .blueBg {
    background: #0063FB;
}

.all_games_holder .all_games_img .greenBg {
    background: #02D4C8;
}

.all_games_holder .all_games_img .redBg {
    background: #FA5879;
}

.all_games_holder .all_games_img span.icon_box {
    position: absolute;
    left: 20px;
    top: 15px;
    color: #fff;
    border-radius: 4px;
    padding: 4px 10px;
    line-height: 14px;
    display: flex;
    align-items: center;
    z-index: 2;
}

.all_games_holder .all_games_img span.user_text {
    line-height: normal;
}

.all_games_holder .all_games_img .icon_box img {
    max-width: 25px;
    margin-right: 5px;
}

.all_games_navbar.sticky-top {
    top: 106px;
    z-index: 99;
}

.all_games_holder .img-block h5 {
    font-size: 24px;
    font-weight: 900;
	 padding: 0 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.all_games_holder .img-block ul li span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*===  Created Games Overview Page CSS end====*/

/*===  Partners Overview Page CSS start====*/
.inside_banner.partners_bnr {
    padding: 40px 0 70px 0;
}

.all_partners_holder {
    margin: 100px 0;
}

.white-txt-block .card .card-header {
    background: none;
    margin: 0 2rem;
    padding: 0;
    border-bottom: 2px solid #E3E3E5;
    min-height: 100px;
    display: flex;
    align-items: center;
}

.white-txt-block .card .card-body {
    padding: 2rem 2rem;
    min-height: 350px;
}
.white-txt-block .card .card-body::-webkit-scrollbar {
  width: 10px;
}

.white-txt-block .card .card-body::-webkit-scrollbar-track {
  background: #ebeaea;
}

.white-txt-block .card .card-body::-webkit-scrollbar-thumb {
  background: #dbdbdb;
  border-radius: 10px;       
}
.white-txt-block .card .card-header h4 {
    margin: 0;
}

.white-txt-block .card {
    border: 1px solid #f0f0f0;
    cursor: pointer;           /*ADDED*/
    border-radius: 10px;
    box-shadow: 0px 7px 8px 0px #eaeaea;
}

    .white-txt-block .card .card-body .card-title {
        font-size: 24px;
        font-weight: 900;
        cursor: pointer;
    }

        .white-txt-block .card .card-body .card-title button:focus {
            box-shadow: none;
            outline: none;
        }

    .white-txt-block .card .card-body .card-text {
        margin: 30px 0 30px 0;
    }

    .white-txt-block .card .card-body .text-muted {
        color: #8F8F9A !important;
        font-size: 14px;
        margin-top: 10px;
    }

    .white-txt-block .card .card-body a.card-link, .network_box_Holder .card .card-body a.card-link{
        background: rgb(255, 151, 0, 0.2);
        border-radius: 4px;
        padding: 6px 10px;
        display: inline-block;
        margin: 0px 8px 10px 0 !important;
        text-decoration: none;
        font-size: 14px;
    }

.white-txt-block {
    margin-bottom: 60px;
}

    /*partner popup box css*/
    .white-txt-block .modal-dialog .card {
        box-shadow: none;
    }

.card_address_box {
    margin-top: 30px;
}

    .card_address_box > span {
        display: block;
    }

        .card_address_box > span a {
            color: #1B1B1F;
            text-decoration: none;
            margin-left: 5px;
        }

        .card_address_box > span span.langTxt {
            margin-left: 5px;
        }

.card-skill-box {
    margin: 30px 0;
    border-top: 2px solid #E3E3E5;
    border-bottom: 2px solid #E3E3E5;
    padding: 30px 0;
}

h6.cardTitle {
    font-size: 20px;
    color: #1B1B1F;
    font-weight: bold;
    margin-bottom: 20px;
}

.white-txt-block .modal-dialog {
    max-width: 700px !important;
}

    .white-txt-block .modal-dialog .modal-content {
        border: none;
    }

.popupCancelBtn button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

    .popupCancelBtn button.btn-close {
        background-image: url(../img/icon-close.svg) !important;
        opacity: 1;
        font-size: 22px;
    }
	.infoPopup .popupCancelBtn button.btn-close {
		background-image: url(../media/dtyhixk5/icon-close.svg) !important;
        opacity: 1;
        font-size: 22px;
    }

    .popupCancelBtn button.btn.btn-secondary {
        background: none;
        border: 0;
        padding: 0;
        border-bottom: 1px solid #fff;
        border-radius: 0;
        margin-top: 5px;
    }

.white-txt-block .modal {
    padding: 0 !important;
}
/*===  Partners Overview Page CSS end====*/



/*===  Tools Overview Page CSS start====*/
.insideToolBarSec .col-md-4 {
    margin-bottom: 80px;
}

.toolBanner {
    padding: 50px 0 50px 0;   /*CHANGED*/
}

/*===  Tools Overview Page CSS end====*/

/*===  Tools Single Page CSS start====*/
.tools-single-page-sec .backBtn {
    color: #8F8F9A;
    text-decoration: none;
}

    .tools-single-page-sec .backBtn span {
        border-bottom: 1px solid #ccc;
    }

.tools-single-page-sec {
    margin-top: 50px;
}

.tools-single-heading {
    font-size: 48px;
    font-weight: 900;
}

.tools-single-pera {
    font-size: 20px;
}

.txt-block a {
    color: #FF9700;
}

.tools-single-page-sec .txt-block .toolbox_anchor_sec a img {
    width: 28px;
    margin-right: 5px;
}

.tools-single-page-sec .txt-block {
    padding: 20px 0 0 30px;
}

.share-sec.sticky-top {
    top: 109px;
    z-index: 9;
}

.share-sec a {
    background: #1B1B1F;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
}

    .share-sec a img {
        width: 20px;
    }

.conolly-spectrum-sec {
    margin: 100px 0;
}

    .conolly-spectrum-sec .share-sec {
        margin: 86px 0 0 35px;
    }

.leftPaddingSec {
    padding-left: 35px;
}

.conollyTxtSec h6 {
    font-size: 24px;
    font-weight: 900;
    color: #1B1B1F;
}

.conollyTxtSec ul {
    padding: 0 0 0 20px;
    margin: 20px 0 0 0;
}

    .conollyTxtSec ul li {
        color: #1B1B1F;
        font-size: 20px;
        padding-bottom: 5px;
    }

.yellowBgBtn {
    background: #ff9700;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    color: #fff;
    border-radius: 6px;
    display: inline-block;
}

#tool_carousel .carousel-indicators button {
    background: none;
    border: none;
    margin-right: 20px;
    width: 30%;
    padding: 0 0 5px 0;
}

    #tool_carousel .carousel-indicators button.active {
        border-bottom: 2px solid #FF9700;
    }

    #tool_carousel .carousel-indicators button:focus {
        outline: none;
        box-shadow: none;
    }

#tool_carousel .carousel-indicators .sliderHeadingTxt {
    display: block;
    text-align: left;
    color: #8F8F9A;
}

#tool_carousel .carousel-indicators button.active .sliderHeadingTxt {
    color: #1B1B1F;
}

#tool_carousel .carousel-indicators .sliderHeadingTxt span {
    display: block;
    color: #8F8F9A;
    font-size: 14px;
}

#tool_carousel .carousel-caption {
    position: static;
    color: #1B1B1F;
    text-align: left;
}

.heding24Size {
    font-size: 24px;
    color: #1B1B1F;
    font-weight: 900;
}

.tool_carousel_sec {
    margin: 150px 0 100px 0;
}

.carousel_item_img {
    height: 475px;
    overflow: hidden;
    margin-bottom: 90px;
    border-radius:20px;
}

#tool_carousel .carousel-indicators {
    margin: 30px 0 0 0;
    position: absolute;
    top: 465px;
    bottom: auto;
    border-bottom: 1px solid #eee;
    justify-content: flex-start;
}

/*===  Tools Single Page CSS end====*/

/*===  Network Partnership Page CSS start====*/
.custom_container.container {
    max-width: 950px !important;
    margin: 0 auto;
}

.fontSize20 {
    font-size: 20px;
}

.network-partnerships-sec {
    margin-top: 40px;
}

.network_box_Holder {
    margin-top: 30px;
}

.cardBgLink {
    background: rgb(255, 151, 0, 0.2);
    border-radius: 4px;
    padding: 6px 10px;
    display: inline-block;
    margin: 0px 8px 10px 0 !important;
    text-decoration: none;
    font-size: 14px;
}

.network_box_Holder .card {
    border-radius: 10px;
    border-color: #E1E1EA;
    box-shadow: 0 6px 18px #f1f1f1;
}

.network_box_Holder .card-body {
    padding: 35px 40px;
}

    .network_box_Holder .card-body .yellowBgBtn {
        font-size: 16px;
        padding: 15px 20px;
        line-height: 17px;
    }

        .network_box_Holder .card-body .yellowBgBtn:focus {
            outline: none;
        }

    .network_box_Holder .card-body .text-muted {
        color: #8F8F9A !important;
        font-size: 14px;
    }

.certified_consultants_box {
    background: url(../img/get-started-banner.png) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 80px 0;
    text-align: center;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 7px 21px #e7e7e7;
}

    .certified_consultants_box::before {
        content: "";
        background: #560213;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
        opacity: 0.4;
        border-radius: 20px;
    }

    .certified_consultants_box .tools-single-heading {
        position: relative;
    }

.network-page-sec {
    margin: 0 0 100px 0;
}

.network_dialog {
    max-width: 900px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    padding: 40px 0 80px 0;
}

.white-txt-block .modal-dialog {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    padding: 40px 0 80px 0;
}

    .network_dialog .modal-content, .white-txt-block .modal-dialog .modal-content {
        background: none;
        border: none;
    }

.network_dialog .card-header {
    background: none;
    margin: 0 2rem;
    padding: 1.5rem 0;
}

.network_dialog .card-body {
    padding: 1.5rem 2rem;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.modal {
    padding: 0 !important;
}

.modal-open .wrapper {
    filter: blur(5px);
}

.face-bg-one {
    background-image: url(../img/network-face-shapes.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
    padding: 87px 0 55px 0;
    margin: 100px 0;
}

.face-bg-two {
    background-image: url(../img/network-face-shapes1.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
    padding: 87px 0 55px 0;
    margin: 100px 0;
}
/*===  Network Partnership Page CSS end====*/

/*===  pricing Page CSS start====*/
.pricing_bnr {
    padding: 90px 0 200px 0;
}

.pricing-sec {
    margin: -108px 0 100px 0;
}

.pricingCard .card-title {
    color: #1B1B1F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 26px;
}

.pricingCard .card-body {
    padding: 2rem 1.6rem;
}

.pricingCard {
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 8px #eaeaea;
}

    .pricingCard .card-body .cardSpan {
        display: block;
        border-bottom: 2px solid #f0f0f0;
        padding: 10px 0 20px 0;
        margin-bottom: 25px;
    }

    .pricingCard .card-body .minHeightBox {
        min-height: 150px;
    }

    .pricingCard .card-body ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .pricingCard .card-body ul li {
            color: #1B1B1F;
            font-weight: 900;
        }

    .pricingCard .card-body .yellowBgBtn {
        font-size: 16px;
    }

    .pricingCard .card-body .popularSpan {
        background: rgb(255, 151, 0, 0.2);
        border-radius: 4px;
        padding: 6px 10px;
        display: inline-block;
        text-decoration: none;
        font-size: 14px;
        color: #FF9700;
        display: none;
    }

.popular {
    border-color: #FF9700;
}

.pricingCard.popular .popularSpan {
    display: block;
}

.customSwitchBtn .form-switch {
    display: inline-flex;
    padding: 0;
    align-items: center;
}

    .customSwitchBtn .form-switch .form-check-input {
        margin: 0 20px;
    }

.customSwitchBtn {
    text-align: center;
    margin: 50px 0 0 0;
}

    .customSwitchBtn .form-switch .form-check-input {
        width: 3.5em;
        height: 2em;
    }

    .customSwitchBtn .graySpan {
        color: #8F8F9A;
    }

    .customSwitchBtn .form-check-label {
        font-weight: 900;
        color: #1B1B1F;
    }

.greenText {
    color: #17DB7E;
}

.form-check-input:focus {
    box-shadow: none;
}

.customSwitchBtn .form-check-input:checked {
    background-color: #8F8F9A;
    border-color: #8F8F9A;
}

.featureTable a {
    color: var(--grey-dark-1b1b1f);
    font-size: 20px;
    text-decoration: none;
}

.featureTable .tableHeading {
    font-size: 24px !important;
    color: #1B1B1F !important;
    font-weight: 900 !important;
}

.featureTable .table tr td, .featureTable .table tr th {
    padding: 10px 15px;
    border-style: none;
}

.featureTable .table tr th {
    color: #8F8F9A;
    font-size: 16px;
    font-weight: 100;
}

.tableGrayBg {
    background: #F9F9FB;
    border-radius: 8px;
}

.featureTable .table {
    margin-bottom: 40px;
}

.featureTable hr {
    background: #c9c5c5;
}

.borderTr {
    border-bottom: 1px solid #ececec;
}

    .borderTr .heightTd {
        height: 50px;
    }

.widthSecColom {
    width: 206px;
    text-align: center;
}

.checkIcon {
    width: 28px;
}

.caret {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
/*===  pricing Page CSS end====*/

/*===  news page CSS start====*/
.newsYellowSpan {
    position: absolute;
    left: 20px;
    background: #ff9700;
    padding: 3px 10px;
    top: 20px;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
}

.dateText {
    color: #8F8F9A;
    font-size: 14px;
}

.yellowSpinner {
    color: #FF9700;
}

.spinnerSec {
    margin-bottom: 100px;
}
/*===  news page CSS end====*/

/*===  references page CSS start====*/
.references_sec {
    margin: 100px 0;
}

.references_holder .white-txt-block .card .card-body {
    min-height: 300px;
}

.references_holder .card-header img {
    max-width: 130px;
}
/*===  references page CSS end====*/


.searchBox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    width: 0%;
    overflow:hidden;
    background: #fff;
    transition: ease-in-out 1s;
}

.searchBox.show_div {
    left: 0;
    padding: 11px;
    width: 100%;
    right: 0;
}
.search_bar_holder {
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

    .search_bar_holder .form-control {
        padding: 12px 20px 12px 45px;
        border: 1px solid #E1E1EA;
        background-color: #F9F9FB;
        border-radius: 10px;
        font-size: 16px;
    }

    .search_bar_holder input {
        background-image: url(../img/icon-search-gray.svg);
        background-repeat: no-repeat;
        background-size: 25px;
        background-position-y: center;
        background-position-x: 15px;
    }

.removeBtn {
    position: absolute;
    right: 15px;
    top: 0;
    width: 25px;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

.form-control:focus {
    box-shadow: none;
}

/*image hover effect css*/
.all_games_img > img, .img-block .imgHolderBox img, .minusMarginBottom .slid_box, .popup-img img {
    transition: all .5s ease-in-out;
}

    .all_games_img:hover > img, .img-block .imgHolderBox:hover img, .minusMarginBottom .slid_box:hover .popup-img img {
        transform: scale(1.2, 1.2);
    }

.minusMarginBottom .slid_box {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0 20px rgb(0, 0, 0, 0.1);
}

    .minusMarginBottom .slid_box .popup-text {
        box-shadow: none;
    }

    .minusMarginBottom .slid_box:hover {
        box-shadow: 0px 0 20px rgb(0, 0, 0, 0.3);
    }

.img-block .imgHolderBox {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    height: 240px;
}

.insideToolBarSec .img-block p {
    font-size: 1rem;
}

.minusMarginBottom .popup-img {
    overflow: hidden;
    border-radius: 10px 0 0 10px;
    padding: 0;
	background: #fff;
	position:relative;
}
.popup-img {
    height: 164px;
}
.white-txt-block {
    transition: all .5s ease-in-out;
}

    .white-txt-block:hover {
        margin-top: -20px;
    }




    /* width */
    .modal-body .card-body::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    .modal-body .card-body::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    /* Handle */
    .modal-body .card-body::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 10px;
    }

        /* Handle on hover */
        .modal-body .card-body::-webkit-scrollbar-thumb:hover {
            background: #888;
        }



html body {
    overflow-x: hidden;
}

.quiz-slider .carousel, .tool-sec .col-md-12, .about-sec .img-block, .get-started .container {
    position: relative;
}

.homeSlider div#carouselExampleCaptions1::before {
    content: "";
    position: absolute;
    background-image: url(../img/purple-face-shapes.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: -124px;
    left: -290px;
    right: 0;
    bottom: -60px;
}

.homeSlider div#carouselExampleCaptions2::before {
    content: "";
    position: absolute;
    background-image: url(../img/orange-face-shapes.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: -93px;
    right: -276px;
    left: 0;
    bottom: -60px;
    background-position: center;
}

.tool-sec .row.col-md-12{
	min-height:588px;
	align-items:center;
}
.tool-sec .col-md-12::before {
    content: "";
    position: absolute;
    background-image: url(../img/pink-face-shapes.svg);
    background-repeat: no-repeat;
    background-size: 100% 97%;
    left: -210px;
    right: -162px;

    top: -68px;
    bottom: -20px;
}


.tool-sec .col-md-12 img {
    position: relative;
    z-index: 9;
	border-radius:20px;
	padding:0;
}

.about-sec .img-block::before {
    content: "";
    position: absolute;
    background-image: url(../img/light-green-face-shapes.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: -24px;
    left: -113px;
    right: 0;
    bottom: -32px;
    background-position: center;
}

.about-sec .img-block img {
    position: relative;
    z-index: 99;
}

.get-started {
    background-image: url(../img/orange-face-shapes1.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 90px 0;
    width: 100%;
    overflow: hidden;
}

.inside-get-started {
    background-image: url(../media/k1ldbdq5/blue-full-circle-shapes.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 55px 0;
}

#basics_sec #carouselExampleCaptions1, #play_sec #carouselExampleCaptions2 {
    position: relative;
}

    #basics_sec #carouselExampleCaptions1::before {
        content: "";
        position: absolute;
        background-image: url(/media/pzhpjp5a/blue-right-circle-shapes.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        top: -83px;
        left: 0;
        right: -252px;
        bottom: -55px;
        background-position: center;
    }

    #play_sec #carouselExampleCaptions2::before {
        content: "";
        position: absolute;
        background-image: url(/media/q3qjuhdj/blue-left-circle-shapes.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        top: -83px;
        right: 0;
        left: -335px;
        bottom: -70px;
        background-position: center;
    }

/*=== Media css start here ====*/

header {
    padding: 0 40px;
}

body .position-relative input.text {
    height: 64px;
    margin: 0px !important;
    border: 1px solid #E1E1EA !important;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--grey-dark-1b1b1f);
    font: normal normal normal 16px/24px Circular Std;
    border-radius: .25rem;
    padding: .375rem .75rem !important;
    background: #fff;
    width: 100% !important;
    padding-right: 130px !important;
    max-width: 100% !important;
}

.position-relative .umbraco-forms-navigation.row-fluid {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
}

.position-relative input.btn.primary {
    font: normal normal 500 16px/20px Circular Std;
    letter-spacing: 0px;
    padding: 7px 20px;
    color: #fff;
    border: 1px solid #ff9700;
    background: #ff9700;
    border-radius: 6px;
    height: 48px;
}

.position-relative .umbraco-forms-form fieldset {
    padding: 0px !important;
    margin: 0;
}

.position-relative label.umbraco-forms-label {
    display: none;
}

.position-relative .umbraco-forms-form.newsletters {
    padding: 0;
}



header {
    padding: 0 45px;
}


.homeSlider.game-slider {
    overflow: hidden;
    width: 100%;
}

.about-sec {
    width: 100%;
    overflow: hidden;
    padding-top: 22px;
}

/* fixed tab*/
.tabfix {
    position: fixed;
    top: 106px;
    width: 100%;
    z-index: 999;
    background: #fff;
}

.position-relative .umbraco-forms-form span.field-validation-error {
    position: absolute;
}



.partners_bnr .container {
    max-width: 920px;
}

.network-page-box h4.heding24Size {
    margin-top: 45px;
}


html body .insideNav.navbar-expand-lg .navbar-nav .nav-link.create-gamebtn {
    color: #ff9700 !important;
    background: #fff !important;
}
.insideNav.navbar-expand-lg .me-right .bg-light .b {
    fill: #fff;
}
.sticky .insideNav.navbar-expand-lg .navbar-nav .nav-link.create-gamebtn{
    background: #ff9700 !important;
    color: #fff !important;
}
.sticky .insideNav.navbar-expand-lg .me-right .bg-light .b{
    fill: #000;
}
.bann_slider .btn-alt {
    margin-bottom: 30px;
}
.inside_bann_slider p {
    color: #fff;
}
.btn-rect:hover {
    background: #fff !important;
    color: #ff9700;
}


.roundUserImg {
    max-width: 56px;
    max-height: 56px;
    border-radius: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ccc;
    height: 56px;
    width: 56px;
}
.roundUserImg img {
    max-width: 85px;
}
.conolly-spectrum-text p {
    font-size: 20px;
}
.embeditem{
margin:50px 0;
}
.conollyTxtSec p {
    font-size: 20px;
}
.tools-single-page-sec .txt-block p {
    font-size: 20px;
}

.testimonial-section .carousel-indicators button {
    background: none;
    border: none;
	margin: 0 20px;

	padding:0;
}

.testimonial-section .carousel-indicators button img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
}

.testimonial-section .carousel-indicators button.active img {
border: 3px solid var(--orange-ff9700);
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-indicators {
    position: relative;
    top: auto;
    bottom: 0px;
    margin-bottom: 40px;
	display: flex;
    align-items: center;
}

#quote-carousel .carousel-indicators button.active img{
    width: 80px;
    height: 80px;
    transition: all .2s;
}
.testgameTextSec p {
    color: #fff;
}

.embeditem iframe {
    width: 100%;
	border-radius: 20px;
	height:540px;
}
.homeSlider .games-link-a:after, .tool-sec .games-link-a:after, .network_box_Holder .text-center a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--orange-ff9700);
    bottom: 0;
    left: 0;
	right:0;
}
.homeSlider .games-link-a, .tool-sec .games-link-a, .network_box_Holder .text-center a{
	position:relative;
	overflow:hidden;
	display: inline-block;
	text-decoration:none;
}
.homeSlider .games-link-a:before, .tool-sec .games-link-a:before, .network_box_Holder .text-center a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--orange-ff9700);
    bottom: 0;
    left: auto;
	right:100%;
	transition:ease-in-out .5s;
	
}
.homeSlider .games-link-a:hover:before, .tool-sec .games-link-a:hover:before, .network_box_Holder .text-center a:hover:before{
	right:0;
	z-index:9999;
}
.price-cards .games-link-a {
    text-decoration: underline;
}
.img-holder-sec {
    overflow: hidden;
    height: 240px;
    border-radius: 10px;
}
.slider_sections .carousel-item, .homeSlider .carousel-item{
		height:600px;
		overflow:hidden;
	}

.img-block a {
    text-decoration: none;
}
.img-block a p {
    color: #212529;
}


.references_holder .card a {
    text-decoration: none;
}
.references_holder .card a p.card-text, .references_holder .card a h5 {
    color: #212529;
}

.all_partners_holder .white-txt-block .card .card-header img {
    max-height: 60px;
    max-width: 160px;
}

.hiddenImgHolder {
    height: 240px;
    overflow: hidden;
    border-radius: 10px;
}

div#pricing_sec{
	padding-top: 0px;    /*CHANGED*/
}
div#pricing_sec article.light-box.pricing-box {
    margin-top: 50px;	
}
div#basics_sec {
	padding-top: 160px;
}
div#basics_sec .slider_sections.game-slider.quiz-slider {
    margin-top: 0;
}
.bann_img{
position:relative;
}
.bann_img::before {
    display: none; /*CHANGED*/
    content: "";
    position: absolute;
    background-image: url(/media/runbhxuk/home-face-shape.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: -50px;
    left: 0;
    right: -90px;
    bottom: -148px;
}

.bann_img img {
   
    z-index: 1;
    position: relative;
}
.get-startedin p {
    color: #fff;
    position: relative;
    z-index: 1;
}


div#videoHeight {
    padding: 100px;
    margin-top: -180px;
	position:relative;
	z-index:-1;
}

.white-txt-block .card-header img {
    max-width: 85px;
}
article.inside_tab_sec {
    margin-bottom: 100px;
}

.all_games_holder .all_games_img img.w-100 {
    height: auto;
    width: auto !IMPORTANT;
    max-width: 110% !important;
}
.all_games_holder .all_games_img{
	height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-img {
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    padding: 0;
}


div#carouselB:before {
    content: "";
    position: absolute;
    background-image: url(../media/0xeg3gjj/top-banner-shape.svg);
    background-repeat: no-repeat;
    background-size: 120% 100%;
    left: -100px;
    right: -15px;
    bottom: -144px;
    top: -60px;
}





.partner-card-body .modal-body .card {
    width: 100% !important;
}
.partner-card-body:hover {
    margin: 0 !important;
}
.partner-card-body.white-txt-block .modal-dialog{
	height:auto !important;
}
#carouselA .carousel-item {
    padding: 20px;
}
#carouselExampleCaptions1 img.carousel-img-custom {
    height: auto;
    max-width: 100%;
}

.minusMarginBottom .popup-img a:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0.3;
    z-index: 1;
}
.minusMarginBottom .popup-img.cycle a:before{
    background: #6557f9;
}
.minusMarginBottom .popup-img.card a:before{
    background: #0063FB;
}
.minusMarginBottom .popup-img.bubble a:before{
    background: #02D4C8;
}
.minusMarginBottom .popup-img.barometer a:before{
    background: #fa5879;
}
.minusMarginBottom .popup-img.quiz a:before{
    background: #fe93af;
}
.infoIcon {
    position: absolute;
    top: 10px;
    right: 15px;
	z-index:1;
	text-decoration:none;
}
.purpleBg .infoIcon path.b {
    fill: #6557F9;
}
.purpleOverlay .infoIcon path.b {
    fill: #6557F9;
}
.blueOverlay .infoIcon path.b {
    fill: #0063FB;
}
.blueOverlay path.c {
    fill: #0063FB;
}
.greenOverlay .infoIcon path.b {
    fill: #02D4C8;
}
.redOverlay .infoIcon path.b {
    fill: #FA5879;
}

.all_games_navbar .navbar-light .navbar-nav .nav-link.active path, .all_games_navbar .navbar-light .navbar-nav .nav-link.active .b {
    fill: #FF9700;
}
.game_tile_btn {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.game_tile_btn a {
    text-transform: uppercase;
}
.game_tile_btn button {
    border-radius: 50px;
    padding: 5px 50px;
    border: 2px solid #a0a0a0;
    text-transform: uppercase;
    color: #a0a0a0;
	background: #fff;
    transition: ease-in-out 0.5s;
}
.game_tile_btn button:hover {
    background: #ff9700;
    color: #fff;
    border-color: #ff9700;
}
.infoPopup .modal-content{
    background: none;
    border: none;
}
.infoPopup .modal-dialog {
    max-width: 850px;
	}
		.infoPopup .modal-body{
		padding:0;
		}
	.infoPopup .modal-body .outer-box  {
    padding: 1rem 3rem;
	background: #fff;
    border-radius: 0 0 5px 5px;
}
.infoPopup .description {
    text-align: left;
}
.infoPopup .game-title {
    border-bottom: 2px solid #e9e9e9;
	width:100%;
	text-align: center;
    position: relative;
    padding: 2rem 0;
}
.infoPopup .icon-bubble {
    position: absolute;
    left: 0;
	top: 0;
}


.infoPopup .icon-bubble svg {
    width: 85px;
	height: 85px;
}
.infoPopup .game-title h1 {
    font-size: 18px;
}


.infoPopup .modal-header {
    border: 0;
    padding: 1rem 3rem;
	background: #fff;
}
.mid .pt-1 {
    display: flex;
	}
	.inner-box.game-details .top {
		align-items: center;
		padding: 16px 0;
		border-bottom: 2px solid #e9e9e9;
		margin: 0px 5px;
	}
	

        .inner-box.game-details .top.game-title h1 {
            font-size: 17px;
        }

        .inner-box.game-details .top.game-title .icon-bubble img {
            min-width: 70px;
        }

        .inner-box.game-details .mid {
            margin: 0 auto;

            text-align: left;
            padding: 18px 0px;
            max-width: 520px;
           
            text-align: left;
        }
		img.grayPlayedIcon {
    width: 20px !important;
    margin-left: 5px;
}
        .inner-box.game-details .mid .icon img{
            max-width: 26px;
            margin-right: 16px;
			    margin-left: -3px;
        }
		.playedIcon img {
			width: 20px;
			 margin-left: 0 !important;
		}
        .mid .pt-1:nth-child(3) p {
			margin-bottom: 5px;
		}
	
        .inner-box.game-details .bottom {
            padding: 30px 0px 5px;
            border-top: 2px solid #e9e9e9;
        }

        .inner-box.game-details .description h3 {
            font-size: 18px;
        }

        .inner-box.game-details .play-game {
            max-width: 450px;
            margin: 0 auto;
            padding: 25px 0px;
            border-top: 2px solid #e9e9e9;
        }

        .inner-box.game-details .play-game .bg-orange {
            color: #ff9700;
            text-decoration: none;
        }

        .inner-box.game-details .play-game .btn {
            background: #ff9700;
            color: #fff;
            padding: 5px 35px;
            border-radius: 25px;
            box-shadow: none;
            outline: none;
        }
		
		.cookie-notice {
       background: var(--grey-lighter-f9f9fb);
    position: fixed;
    left: 0;
    right: 0;
    border-top: 1px solid #E6E6E6;
    padding: 25px 0 15px;
    z-index: 99;
}

.cookie-notice .cookie_text img {
    display: inline-block;
    width: 25px;
    vertical-align: middle;
    margin-right: 10px;
}
.cookie-notice a {
	color: #FF9800;
}
.cookie-notice .cookie_text {
    font-size: 13px;
    margin-top: 6px;
    color: #293037;
}
.js-remove-cookies .cookie_close_icon img {
    width: 40px;
    margin-right: 0px;
    float: right;
}
.slid_box .popup-img a{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.pricing_Monthly {
    font-weight: 900;
    color: #1B1B1F !important;
}
.pricing_Monthly ~ label.form-check-label {
    color: #8F8F9A !important;
	font-weight:normal !important;
}


.sub-header {
    border-bottom: 1px solid #efeff0;
    padding: 15px 0;
    height: 70px;
}
.sub-header .sub-nav {
    margin-bottom: 0;
    text-align: center;
    padding-left: 0px;
}
.sub-header .sub-nav li:first-child {
    margin-left: 0px !important;
}
.sub-header .sub-nav li {
    display: inline-block;
    margin: 0 1rem;
    vertical-align: middle;
    color: #768093;
    font-size: 14px;
}
.sub-header .sub-nav li a {
    color: #768093;
    display: block;
    font-weight: 300;
    line-height: 39px;
    font-size: 13px;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
	cursor: pointer;
}
.rounded_yellow_btn {
    border: 1px solid #ff9700;
    color: #ff9700;
    padding: 9px 20px;
    display: inline-block;
    border-radius: 20px;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 300;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
	text-decoration:none;
}
.main-overview-sec {
    background: #fdfdfd;
    padding: 100px 0 40px;
}
.main-overview-sec .content-block {
    max-width: 500px;
}
.main-overview-sec .content-block h2 {
    font-size: 28px;
    font-weight: 400;
    position: relative;
    padding-bottom: 10px;
    color: #3e464f;
    margin-bottom: 40px;
}
.main-overview-sec .content-block h2:after {
    background: #3e464f;
    content: "";
    width: 65px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.main-overview-sec .content-block p {
    margin: 0;
}
.main-overview-sec .first-overview .row:nth-child(2) {
    margin-left: -29px;
    margin-right: -29px;
}

.main-overview-sec .first-overview .row:nth-child(2) .col-md-4 {
    padding-left: 29px;
    padding-right: 29px;
}
.main-overview-sec .module-box {
    background: #f8ede1;
    border-radius: 10px;
    padding: 40px 30px;
    min-height: 487px;
    max-height: 487px;
    margin-bottom: 20px;
	margin-bottom: 20px;
	overflow:auto;
}
.main-overview-sec .module-box h3 {
    border-bottom: 1px solid #3e464f;
    padding-bottom: 10px;
    margin-bottom: 25px;
    color: #3e464f;
    font-weight: 400;
	min-height: 95px;
}
.main-overview-sec .module-box p {
    font-size: 16px;
    line-height: normal;
    margin: 0;
    color: #3e464f;
}
.main-overview-sec .gameBoxContent h3 {
    margin-bottom: 25px;
    color: #3e464f;
    font-weight: 400;
}
.main-overview-sec .gameBoxContent p {
    font-size: 16px;
    margin: 0 0 20px;
}
.main-overview-sec .new_game_box {
    position: relative;
    background: #fff;
    border-radius: 0px 0px 3px;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 12%);
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-top: 20px;
}
.main-overview-sec .new_game_box > a {
    text-decoration: none;
    color: #3e464f;
	
}

.main-overview-sec .new_game_box .casetiles-logo {
    text-align: center;
    height: 140px;
    background: #f3f3f3;
    position: relative;
}
.main-overview-sec .new_game_box .casetiles-logo .game_box_thumbnail {
    height: 100%;
}
.main-overview-sec .new_game_box .casetiles-logo .game_box_thumbnail img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.main-overview-sec .new_game_box .casetiles-logo .casetiles-text {
    position: absolute;
    left: 0;
    padding: 8px 15px;
    bottom: 15px;
    font-weight: 500;
    line-height: 20px;
    right: 0px;
    text-align: left;
    z-index: 99;
}
.main-overview-sec .new_game_box .casetiles-logo .casetiles-text h3 {
    color: #fff;
    margin: 0px;
    font-weight: 300;
    padding-bottom: 5px;
    font-size: 22px;
}
.main-overview-sec .new_game_box .casetiles-logo .casetiles-text span {
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.3px;
    font-size: 14px;
    display: block;
}
.main-overview-sec .new_game_box .casetiles-logo .casetiles-img_logo {
    position: absolute;
    bottom: 0;
    right: 15px;
    background: #fff;
    width: 60px;
    height: 60px;
    z-index: 99;
    border-radius: 50%;
    line-height: 50px;
    padding: 0px;
    text-align: center;
    box-shadow: 0px 3px 5px #e4e4e4;
    margin-bottom: -30px;
	display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.main-overview-sec .new_game_box .casetiles-logo .game_img_overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.49);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 1;
}
.main-overview-sec .new_game_box .casetiles-content {
    padding: 35px 15px 30px;
}
.main-overview-sec .new_game_box .casetiles-content p {
    margin: 0px;
    font-size: 14px;
    color: #768093;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main-overview-sec .new_game_box .casetiles-content .gamebtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.main-overview-sec .new_game_box .casetiles-content .gamebtn span.btn-link {
    color: #ff9700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 11px;
}
.main-overview-sec .new_game_box .casetiles-content .gamebtn span.Info_Popup {
    color: #ff9700;
    font-size: 11px;
}
.main-overview-sec .first-overview >.row {
    margin-bottom: 100px;
}
.text-center {
    text-align: center!important;
}
.main-overview-sec .startedBtn .btn-sec {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-overview-sec .startedBtn .btn-sec .btn-primary {
    padding: 15px 30px;
    color: #ff9700;
    border: 1px solid #ff9700;
    letter-spacing: 2px;
    background: #fff;
    font-weight: 400;
    margin: 0 10px;
}
.main-overview-sec .startedBtn .btn-sec .btn-primary:last-child {
    background: #ff9700;
    color: #fff;
}
.main-overview-sec .first-overview>.container:after {
    background: #dcdcdc;
    margin: 0 auto;
    content: "";
    display: block;
    height: 2px;
    max-width: 100%;
}
.main-overview-sec .first-overview {
    padding-bottom: 100px;
}
.main-overview-sec .first-overview:after {
    background: url(../images/border-bg.jpg) no-repeat;
    background-size: 100% 2px;
    background-position: bottom;
    margin: 0 auto;
    content: "";
    display: block;
    height: 2px;
    max-width: 1110px;
}
.main-overview-sec .first-overview >div> .row {
    margin-bottom: 100px;
} 
.main-overview-sec .first-overview.second .content-block {
    float: right;
}
.main-overview-sec .content-block h2 {
    font-size: 28px;
    font-weight: 400;
    position: relative;
    padding-bottom: 10px;
    color: #3e464f;
    margin-bottom: 40px;
}
.main-overview-sec .first-overview.second .content-block h2:after {
    content: "";
    width: 115px;
}

.main-overview-sec .first-overview:last-child {
    padding-bottom: 0;
}


.first-overview a {
    text-decoration: none !important;
}
.first-overview img {
    max-width: 100%;
}
.main-overview-sec .first-overview .row:first-child {
    display: flex;
}

.main-overview-sec .new_game_box .casetiles-content {
    padding: 35px 15px 30px;
    min-height: 175px;
}

a:focus, button:focus{
	outline:none !important;
}

.virtual_bnr .slide, .champ_bnr .slide{
    height: 259px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff !important;
    background-size: cover !important;
    background-position: center !important;
}
.virtual_bnr .content {
    color: #fff !important;
}

.startedBtn .btn-alt .btn-rect:first-child {
    background: var(--white);
    border: 1px solid #E5E5EA;
    color: var(--black);
    margin: 0 10px;
}
.startedBtn .btn-alt .btn-rect:first-child:hover {
    border: 1px solid #ff9700;
    background: var(--orange-ff9700) !important;
    color: #fff;
}
.startedBtn .btn-alt .btn-rect:last-child{
	border: 1px solid #ff9700;
    background: var(--orange-ff9700) !important;
    color: #fff;
}
.startedBtn .btn-alt .btn-rect:last-child:hover {
        background: #fff !important;
    color: #ff9700;
}
.sub-header .sub-nav li a:hover {
    color: #ff9700;
}

.text-center{
	text-align:center;
}


.main-overview-sec .first-overview:last-child>.container:after{
	display:none;
	
}

.virtual_bnr .content {
    text-align: center;
}
    article.bann_slider div#carouselB .bann_img {
    height: 355px;
	text-align:center;
	display: flex;
    align-items: center;
    justify-content: center;
}
article.bann_slider div#carouselB .bann_img img {
    max-height: 100%;
	border-radius: 20px;
    max-width: 100%;
}

header#myHeader button#langSelector path.b {
    fill: var(--grey-dark-1b1b1f);
}
.inside_header_sec header#myHeader.sticky button#langSelector path.b {
    fill: #1b1b1f;
}
.inside_header_sec header#myHeader button#langSelector path.b {
    fill: #fff;
}
.inside_header_sec .navbar-brand img:first-child {
    display: none;
}
.inside_header_sec .sticky .navbar-brand img:first-child {
    display: block;
}
.inside_header_sec .sticky .navbar-brand img#theImg {
    display: none;
}
.first-overview .all_games_holder {
    margin: 0;
}
.first-overview .toolbox_sec {
    margin-top: 0;
}
.first-overview .toolbox_sec p {
    padding: 0 15px;
}
.first-overview .toolbox_sec .img-block .imgHolderBox{
    height: auto;
}
.websitelink span {
    text-decoration: underline;
}

.websitelink {
    text-decoration: none;
}
.first-overview .all_games_holder p {
    padding: 0 15px;
}

.course_signup .btn.btn-rect {
    padding: 10px 18px;
    font-size: 14px;
}
@media (min-width: 1199px) {
    .container {
        max-width: 1170px !important;
    }

}

@media (min-width: 1500px) {
    .container {
        max-width: 1400px !important;
    }

    .bannr_padding_holder .content-block {
        max-width: 600px;
    }

    .bannr_padding_holder h2.games-heading-1 {
        font-size: 60px;
        line-height: 70px;
    }
	
	.tool-sec .col-md-12::before{
		
	}
	article.bann_slider div#carouselB .bann_img{
		height: 425px;
	}
	
}



@media (min-width: 1900px) {
    div#carouselB {
        margin-right: -20%;
    }

    .bannr_padding_holder h2.games-heading-1 {
        font-size: 68px;
        line-height: 78px;
    }
}

@media (min-width: 2000px) {
    div#carouselB {
        margin-right:-43%;
    }
}

@media (max-width: 1690px) {
div#carouselB:before {
    background-size: 125% 100%;
    bottom: -100px;
    top: -41px;
}	
	
}
@media (max-width: 1500px) {

    header {
        padding: 0 25px;
    }

    .games-heading-1 {
        font-size: 44px;
    }

    .testimonial_sec {
        padding: 0 0 95px; /* CHANGED*/
    }

    .faq-heading {
        font: normal normal 900 30px/32px Circular Std;
    }

    .tool-sec {
        padding: 70px 0 140px; /* CHANGED   */
    }



    .pricing-box {
        margin: 155px 0 110px 0;
    }
	
div#pricing_sec article.light-box.pricing-box {
    margin-top: 50px;
}
    .get-started {
        margin-bottom: 100px;  /* CHANGED*/
        padding: 60px 0;
        background-size: 90%;
        background-position: center top;
    }
    .pricing-sec ~ .get-started {
    margin-bottom: 200px;
    padding: 80px 0;
    background-size: 100% 95%;
    background-position: center top;
    }

    .footer-nav {
        padding: 60px 0 110px;
    }

    .py-100 {
        padding-bottom: 80px;
    }

    .network-slider {
        padding-top: 0px; /* CHANGED */
    }

    .minusMarginBottom .popup-text h6 {
        font-size: 17px;
    }

    #play_sec #carouselExampleCaptions2::before {
        background-size: 100% 90%;
        top: -84px;
        left: -325px;
    }

    .white-txt-block .card .card-body a.card-link {
        padding: 3px 5px;
    }

    .white-txt-block .card .card-body {
        padding: 19px;
    }

    .white-txt-block .card .card-header {
        margin: 0 19px;
    }

    .white-txt-block .modal-dialog {
        max-width: 560px !important;
    }

    .tools-single-heading {
        font-size: 40px;
    }

    .pricing_bnr .games-heading-1 {
        font-size: 56px;
        line-height: 60px;
    }

    .get-started-heading {
        font: normal normal 900 40px/44px Circular Std;
    }
	.white-txt-block .modal-body {
    padding: 0;
}
.white-txt-block .justify-content-center.mt-5{
	margin-top:0 !important;
}

}

@media (max-width: 1399px) {
    .carousel_item_img {
        height: 405px;
        margin-bottom: 90px;
    }

    #tool_carousel .carousel-indicators {
        top: 395px;
    }
	.all_games_holder .img-block h5 {
    font-size: 22px;
	}
}

@media (max-width: 1200px) {
    .games-heading-1 {
        font-size: 36px;
        line-height: 40px;
    }

    .white-txt-block .card .card-body {
        min-height: 420px; /* CHANGED */
    }

    .carousel_item_img {
        height: 335px;
        margin-bottom: 80px;
    }

    #tool_carousel .carousel-indicators {
        top: 325px;
    }

    .price-cards .games-heading-1 ~ .module-types-desc {
        min-height: 50px;
    }
	.pricingCard .card-body {
		padding: 1.5rem 1rem;
	}
	.tools-single-heading {
    font-size: 30px;
}
.pricingCard .card-body .cardSpan {
    font-size: 14px;
}
.pricingCard .card-body ul li {
    font-size: 14px;
}
.pricing-sec {
    margin: -108px 0 0 0;
}
.pricing-sec ~ .get-started {
    margin-bottom: 80px;
}
.pricingCard .card-title {
    font-size: 16px;
}
.featureTable .tableHeading {
    font-size: 20px !important;
    min-width: 200px;
}

.main-overview-sec .first-overview .row:nth-child(2) .col-md-4 {
    padding-left: 15px;
    padding-right: 15px;
}
.main-overview-sec .first-overview .row:nth-child(2) {
    margin-left: -15px;
    margin-right: -15px;
}
.main-overview-sec .new_game_box .casetiles-content .gamebtn {
    letter-spacing: -0.7px;
}
.main-overview-sec .new_game_box .casetiles-content {
    padding: 35px 8px 30px;
}


}

@media (max-width: 991.98px) {
    /*START*/
    p.games-heading-1 {
        font-size: 23px !important;
    }
    /*END*/
    .bannr_padding_holder {
        padding: 0 12px 0 20px;
    }

    .right-join {
        float: left;
    }

        .right-join li {
            width: 100%;
        }

    header .navbar-expand-lg .navbar-nav .nav-link {
        margin-bottom: 12px;
    }

    .navbar-collapse {
        padding-top: 30px;
    }

    .games-heading-1, .faq-heading, .get-started-heading {
        font: 900 30px/40px Circular Std;
        margin-bottom: 10px;
    }

    .welcome-desc,
    .games-desc,
    .get-started-desc {
        font: normal normal normal 19px/28px Circular Std;
    }

    .companies-heading {
        font: normal normal normal 18px/27px Circular Std;
    }

    .games-heading,
    .popup-text p,
    .module-types_desc {
        font: normal normal normal 14px/normal Circular Std;
    }

    .btn-rect {
        font-size: 14px;
        padding: 10px 20px;
    }

    .minusMarginBottom .popup-text h6 {
        font-size: 14px;
    }

    .minusMarginBottom .popup-text {
        padding: 20px 15px;
    }

        .minusMarginBottom .popup-text ul {
            margin: 5px 0 0 0;
        }

            .minusMarginBottom .popup-text ul li {
                margin-bottom: 5px;
                font-size: 12px;
            }

    .testgameTextSec {
        width: 100% !important;
    }

    .inside_header_sec {
        background-size: auto;
        background-attachment: fixed;
    }

    .inside_bann_slider {
        padding-bottom: 0;
        padding-top: 15px;
    }

    header .navbar-collapse {
        position: absolute;
        background: #fff;
        top: 80px;
        padding: 15px;
        box-shadow: 0 0 7px #e2e2e2;
        z-index: 999;
        left: 0;
        right: 0;
    }

    .insideNav.navbar-expand-lg .navbar-nav .nav-link {
        color: #000 !important;
    }

        .insideNav.navbar-expand-lg .navbar-nav .nav-link.bg-white.text-yellow {
            color: #fff !important;
            background: #ff9700 !important;
        }

    .bg-none button .b {
        fill: #000;
    }

    .slider_sections .content-block {
        padding-top: 0;
    }

    .slider_sections .col-md-4, .slider_sections .col-md-8 {
        width: 50% !important;
    }

    .all_games_navbar.sticky-top {
        top: 100px;
    }

    .all_games_holder .img-block h5 {
        font-size: 16px;
    }

    .all_games_holder .all_games_img .user_holder .user_text a {
        font-size: 14px;
    }

    .all_games_holder .all_games_img .user_holder {
        bottom: 10px;
    }

    .all_games_holder .all_games_img .icon_box img {
        max-width: 20px;
    }

    .all_games_navbar .navbar {
        display: block;
    }

    .all_games_holder .img-block ul li span {
        font-size: 14px;
    }

    .inside_banner .content-block {
        width: 100% !important;
    }

    .white-txt-block .card .card-body .card-title {
        font-size: 18px;
    }



    .toolbox_sec .img-block h5 {
        font-size: 16px;
    }

    .toolbox_sec .img-block p {
        font-size: 14px;
    }

    .inside_banner {
        padding: 50px 0;
    }

    header {
        padding: 0 0;
    }

    .inside_tab_sec .sticky-top {
        top: 100px;
    }

    .homeSlider div#carouselExampleCaptions1::before {
        top: -48px;
        left: -200px;
        bottom: -22px;
    }

    .content-block p.faq-heading {
        font-size: 20px;  /* CHANGED */
        line-height: normal;
    }
    .content-block p {
        font-size: 14px;  /* CHANGED */
        line-height: normal;
    }
    .about-desc {
        font: normal normal normal 17px Circular Std !important;
        letter-spacing: 0px;
        color: #1B1B1F;
    }

    .inside_banner .content-block p {
        margin: 0;
    }

    .homeSlider div#carouselExampleCaptions2::before {
        top: -50px;
        right: -154px;
        bottom: -31px;
    }

    .tool-sec .col-md-12::before {
        left: -50px;
        right: -40px;
    }

    .contact-name {
        font: normal normal bold 18px/28px Circular Std;
    }

    .module-types-desc, .games-link-a {
        font: normal normal normal 13px/24px Circular Std;
    }

    .price-features-list .engage_box {
        margin: 0 -10px;
        padding: 13px 10px;
    }

    .price-cards {
        padding: 20px 10px 40px;
    }

    .basicsBoxHolder {
        padding: 0;
    }

    .basic_sec_box {
        padding: 0;
        margin-bottom: 20px;
    }

    #basics_sec #carouselExampleCaptions1::before {
        top: -39px;
        right: -68px;
        bottom: -23px;
    }

    #play_sec #carouselExampleCaptions2::before {
        top: -68px;
        left: -62px;
        bottom: -34px;
    }

    .get-started {
        margin-bottom: 80px;
    }

    .scrollHolderRow .pricing-box {
        margin: 95px 0 110px 0;
    }

    .test_game_sec {
        padding: 90px 0 120px 0;
    }

    .slider_sections {
        margin-top: 70px;
    }

    .inside_header_sec {
        overflow: visible;
    }

    .footer-bottom .copyrights:not(:last-child) {
        margin-right: 17px;
    }
	.pricing-sec .col-md-3 {
    width: 50%;
}
.pricing-sec {
    margin: 0 0 0 0;
}
.pricingCard {
    margin-top: 30px;
}
.inside_banner.pricing_bnr {
    padding: 30px 0 100px 0;
}
.pricingCard .card-body .minHeightBox {
    min-height: auto;
	margin-bottom: 20px;
}
.all_games_navbar .navbar-light .navbar-nav .nav-link {
        display: flex;
        align-items: flex-end;
        padding: 15px 0;
        font-size: 14px;
    }

    .all_games_navbar .navbar .navbar-nav li.nav-item {
        margin-right: 0;
        width: 50%;
    }

    .all_games_navbar .navbar .navbar-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .searchBox {
        display: flex;
        align-items: center;
    }

    .search_bar_holder .form-control {
        font-size: 14px;
        padding: 12px 10px 12px 30px;
    }

    .removeBtn {
        right: 5px;
    }

    .search_bar_holder input {
        background-image: url(../img/icon-search-gray.svg);
        background-repeat: no-repeat;
        background-size: 22px;
        background-position-y: center;
        background-position-x: 5px;
    }

    .all_partners_holder {
        margin: 60px 0;
    }

.white-txt-block .justify-content-center.mt-5 {
    margin-top: 1rem !important;
}
.tools-single-heading {
    font-size: 20px;
    margin: 0 !important;
}
.tools-single-page-sec .txt-block {
    padding: 0 0 0 30px;
}
.tool_carousel_sec {
    margin: 50px 0 0 0;
}
#tool_carousel .carousel-indicators .sliderHeadingTxt {
    font-size: 15px;
}
.conolly-spectrum-sec .col-md-7 {
    width: 91%;
}
.tool_carousel_sec .carousel_item_img {
    height: 390px;
    margin-bottom: 80px;
}
#tool_carousel .carousel-indicators {
    top: 380px;
}
.inside_banner.toolBanner {
    padding: 20px 0 100px 0;
}
    .game-slider.quiz-slider .carousel-inner .carousel-item{
        height: auto;
    }
	.game_tile_btn a {
    font-size: 14px;
}
.game_tile_btn button {
    padding: 4px 20px;
    font-size: 14px;
}
.cookie-notice .cookie_text img {
    float: left;
	margin-right:5px;
}

.main-overview-sec .module-box {
    padding: 25px 15px;
	min-height: 600px;
	max-height: 600px;
}
.virtual_bnr .slide, .champ_bnr .slide{
height: 400px;
}
div#carouselB:before {
    background-size: 122% 70%;
    
}

}

/*START*/
@media (max-width: 768px) {
    p, .conollyTxtSec ul li {
        font-size: 15px !important;
        line-height: 1.4 !important;
    }

div#pricing_sec article.light-box.pricing-box {
    margin-top: 10px;
}
.infoPopup .modal-dialog {
    margin: 1.75rem .5rem;
}
}
/*END*/

@media (max-width: 767.98px) {
.footer-bottom .col-md-6 {
    text-align: center !important;
}
.js-remove-cookies {
    position: absolute;
    right: 10px;
    top: 34px;
}
.js-remove-cookies .cookie_close_icon img {
    width: 22px;
	}
	.cookie-notice .cookie_text {
    font-size: 11px;
	padding-right:22px;
}
.game_tile_btn button {
    padding: 5px 50px;
}
    .games-heading-1, .faq-heading, .get-started-heading {
        font: 900 28px/36px Circular Std;
        margin-bottom: 10px;
    }
	.embeditem iframe {
   
    height: auto;
}
.popup-img {
    min-height: 100px;
}
.infoPopup .modal-body .outer-box, .infoPopup .modal-header {
padding: 1rem 1rem; 
}
    /*added*/
    div#carouselA .custom-indicators {
 
        bottom: -155px;
    }
    
    div#carouselA .custom-carousel-inner {
       
        top: -70px;
     
    }
    /* START */   
    
    p,.conollyTxtSec ul li{
        font-size: 15px !important;        
        line-height: 1.4 !important;
    }
    .references_sec {
        margin: 50px 0;
    }
	.img-block .imgHolderBox{
		height:auto;
	}
	.insideToolBarSec #update_news .col-md-4 {
    margin-bottom: 20px;
}
    .about-btn {
        margin-top: 0px;
    }
    .inside_banner.partners_bnr {
        padding: 40px 0 20px 0;
    }
    .inside_banner.toolBanner {
        padding: 20px 0 20px 0;
    }
    div#pricing_sec article.light-box.pricing-box {
        margin-top: 0px;
    }
    .insideToolBarSec .col-md-4 {
        margin-bottom: 50px;
    }
    .all_partners_holder {
        margin: 20px 0;
    }
.embeditem {
    margin: 0px 0 20px 0;
}
    div#basics_sec {
        padding-top: 20px;
    }
       
        
/* END */
    .welcome-desc,
    .games-desc,
    .get-started-desc {
        font: normal normal normal 18px/26px Circular Std;
    }

    .btn-rect {
        font-size: 14px;
        padding: 10px 20px;
    }

    .companies-heading {
        font: normal normal normal 15px/24px Circular Std;
        margin-bottom: 30px;
        padding: 0 15px;
    }

    .games-heading,
    .popup-text p,
    .module-types_desc {
        font: normal normal normal 14px/22px Circular Std;
    }

    .game-slider .carousel-inner,
    .network-slider .carousel-inner {
        margin: 0 0 30px;
        border-radius: 10px;
        padding: 0;
        max-height: 200px; /* ADDED */
    }

    .custom-carousel-inner {
        position: relative;
        top: 0;
    }

    .custom-indicators {
        top: auto;
        bottom: -50px;
    }

    .popup-img {
        padding: 0;
        border-radius: 10px;
        overflow: hidden;
        text-align: center;
    }

    .popup-text {
        border-radius: 10px;
    }

        .popup-text p {
            margin: 0;
        }

    .bann_slider {
        padding-bottom:80px;
    }

    .py-100 {
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .cirl_sec {
        margin-top: 20px;   /*CHANGED*/
    }

    .partner_box {
        margin-bottom: 10px;
    }

    .game-slider .btn-rect {
        margin-top: 10px;
    }

    .module-types_heading {
        font: normal normal 900 20px/32px Circular Std;
        margin: 14px 0 4px;
    }

    .module-types_desc {
        margin-bottom: 0;
    }

    .games-link {
        float: none;
        padding: 0;
        text-align: center;
    }

    .testimonial-pics img {
        margin: 0 7px;
    }

    .testimonial-pics .center_test {
        width: 70px;
        height: 70px;
    }

    .testimonial_sec {
        padding: 0 0 20px;   /*CHANGED*/
    }

    .testimonial-words p {
        font: italic normal normal 18px/22px Circular Std;
    }

    .contact-name {
        font: normal normal bold 18px/20px Circular Std;
    }

    .contact-role {
        font: normal normal normal 15px/24px Circular Std;
    }

    .faq_accordions {
        margin-top: 50px;
    }

        .faq_accordions .accordion-title {
            padding-bottom: 15px;
        }

        .faq_accordions .accordion-button {
            font: normal normal 900 14px/22px Circular Std;
        }

        .faq_accordions .accordion-body {
            font: normal normal normal 14px/24px Circular Std;
        }

        .faq_accordions .accordion-item {
            margin-bottom: 5px;
            padding-bottom: 5px;
        }

    .tool-sec {
        padding: 30px 0 0 0;
    }

        .tool-sec .cirl_sec {
            margin-top: 40px;
        }

    .about-desc {
        font: normal normal normal 18px/26px Circular Std;
    }

    .about-module-head {
        font: normal normal 900 28px/36px Circular Std;
    }

    .module-types-desc {
        font: normal normal normal 15px/22px Circular Std;
    }

    .pricing-box {
        padding: 40px 0px 0;
    }

    .price-cards {
        margin-top: 40px;
    }

    .get-startedin {
        padding: 70px 15px 60px;
    }

    .get-started {
        margin-bottom: 20px;
    }

    .news-sub {
        font: normal normal 900 15px/22px Circular Std;
    }

    #newsLetterInput {
        height: 55px;
    }

    .slid_box {
        max-width: 480px;
    }

    .left-footer-heading p {
        font: normal normal bold 15px/24px Circular Std;
    }

    .right-footer-li ul li a {
        font: normal normal normal 15px/28px Circular Std;
    }

    .right-footer-li ul li {
        padding-bottom: .4rem;
    }

    .copyrights {
        margin-bottom: 30px;
    }

    .news-letter-btn {
        height: 38px;
    }


    .footer-nav {
        padding: 30px 0 0;
    }

    .footer-bottom {
           padding-bottom: 150px;
        text-align: center;
    }

        .footer-bottom .copyrights:not(:last-child) {
            margin-right: 7px;
        }

    .footer-social {
        text-align: center;
        margin-top: 20px;
    }

    .game-submenu {
        width: 100%;
    }

        .game-submenu .p-2rem {
            padding: 6px 20px;
        }

        .game-submenu .pt-2rem {
            padding: 18px 0 0;
        }

    header .navbar {
        padding: 20px 0 !important;
    }


    /*single game page mobile css*/
    .inside_bann_slider .content-block {
        width: 100% !important;
    }

    .inside_tab_sec ul.inside_tab_list {
        flex-wrap: wrap;
    }

    .inside_tab_list li {
        width: 33.3333%;
        text-align: center;
    }

    .inside_tab_sec ul.inside_tab_list a h3 {
        font-size: 16px;
        margin: -5px 0 10px 0;
    }

    .slider_sections {
        margin-top: 30px;
    }

        .slider_sections .content-block {
            padding: 0 !important;
            margin-bottom: 30px;
            margin-top: 20px;
        }

        .slider_sections.game-slider .carousel-inner {
            padding-bottom: 0 10px;  /*Changed*/
        }

    .basicsBoxHolder {
        margin-top: 20px !important;
        padding: 0;
    }

    .basic_sec_box {
        margin-bottom: 20px;
        padding: 0;
    }

    .slider_sections {
        margin-top: 0px;
    }

    .toolbox_sec {
        margin-top: 20px;
    }

        .toolbox_sec .img-block {
            margin-top: 20px;
        }

    .test_game_sec {
        padding-top: 20px;
        margin-top: 20px;
    }

    .testgameTextSec {
        padding-bottom: 0;
    }

    .minusMarginBottom {
        bottom: 0;
        margin-top: 30px;
    }

        .minusMarginBottom .slid_box {
            margin-bottom: 20px;
        }

            .minusMarginBottom .slid_box .popup-img {
                margin-bottom: 0;
            }

            .minusMarginBottom .slid_box .popup-text {
                padding: 5px;
            }

    .help_section {
        margin-top: 30px;
    }

    article#pricing_sec.pricing-box {
        padding: 20px 0;
    }

    .slider_sections .col-md-4, .slider_sections .col-md-8 {
        width: 100% !important;
    }

    .inside_banner .content-block.w-50 {
        width: 100% !important;
    }

    .all_games_navbar.sticky-top {
        margin-bottom: 30px;
    }

    .white-txt-block .card .card-body {
        min-height: auto;
    }

    .white-txt-block {
        margin-bottom: 30px;
    }

    .insideToolBarSec .img-block {
        margin-bottom: 20px;
        margin-top: 0 !important;
    }

    .bannr_padding_holder .btn-rect {
        padding: 10px 12px;
        font-size: 12px;
    }

    .tool-sec .col-md-12::before, .homeSlider div#carouselExampleCaptions1::before, .homeSlider div#carouselExampleCaptions2::before, .about-sec .img-block::before, .homeSlider div#carouselExampleCaptions1::before {
        display: none;
    }

    .get-started {
        background-image: none;
        padding-top: 0;
    }

    .carousel_item_img {
        height: 245px;
        margin-bottom: 80px;
    }

    #tool_carousel .carousel-indicators {

    top: 330px;

    }

        #tool_carousel .carousel-indicators button {
            margin-right: 10px;
            font-size: 15px; /* ADDED */
        }

    .network_box_Holder .card-body {
        padding: 25px 20px;
    }

    .face-bg-one, .face-bg-two {
        background: none;
        margin: 0;
    }

    .certified_consultants_box {
        padding: 40px 0;
    }

        .certified_consultants_box .tools-single-heading {
            font-size: 25px;
        }

    .tools-single-heading {
        font-size: 32px;
    }

    .network_box_Holder .card-body .yellowBgBtn {
        font-size: 14px;
        padding: 10px 12px;
    }

    .yellowBgBtn {
        font-size: 16px;
        width: 100%;
        padding: 10px 12px;
		text-align:center;
    }

    .inside_tab_sec .sticky-top {
        top: 80px;
    }

    .popup-text {
        width: 75% !important;
        padding: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .popup-img {
        width: 25% !important;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }


    .quiz-slider.py-100 {
        padding-top: 0;
		padding-bottom: 130px;
    }

    .faq-sec {
        padding: 20px 0;    /*CHANGED*/
    }

    .categorya {
        padding-bottom: 0;
    }

    .faq-sec .w-100 {
        margin: 0;
    }

    .accordion-header .accordion-button {
        padding: 0;
    }

    .pricing-box {
        margin: 0 0 50px 0;
    }

    .price-cards .module-types-desc {
        margin-bottom: 20px;
    }

    .price-cards .games-heading-1 ~ .module-types-desc {
        min-height: 0;
    }

    .price-cards .contact-name {
        margin-bottom: 0px;
        padding-top: 20px;
    }

    .price-cards {
        padding: 20px 10px 30px;
    }

    .copyrights {
        padding-top: 15px;
        margin-bottom: 15px;
    }

    .bannr_padding_holder {
        padding: 0;
    }

    .newsletterbox .module-types-desc {
        margin-bottom: 20px !important;
    }

    #play_sec #carouselExampleCaptions2::before, #basics_sec #carouselExampleCaptions1::before {
        display: none;
    }

    .test_game_sec {
        padding: 20px 0 10px 0;
    }

    .scrollHolderRow .pricing-box {
        margin: 50px 0 60px 0;
    }

    .minusMarginBottom .popup-text ul li {
        margin-bottom: 0px;
    }

    .minusMarginBottom .popup-text h6 {
        font-size: 12px;
    }

    .inside_banner .games-heading-1 {
        font-size: 24px;
        line-height: 28px;
    }

    
    .white-txt-block .card .card-body {
        padding: 15px;
    }

    .white-txt-block .card .card-header {
        margin: 0 15px;
    }

    article.network-page-sec .tools-single-heading, .network-page-sec .heding24Size {
        font-size: 24px;
    }

    .network-page-sec .conollyTxtSec h6 {
        font-size: 20px;
    }

    .conollyTxtSec ul li, .fontSize20 {
        font-size: 17px;
    }
	.pricing-sec .col-md-3 {
    width: 100%;
}
.featureTable .table tr th {
    white-space: nowrap;
}
.pricing-sec ~ .get-started {
    margin-bottom: 0;
}
.inside_banner.pricing_bnr {
    padding: 30px 0 70px 0;
}
.white-txt-block .modal-body {
padding: 1rem;
}
.tools-single-page-sec .txt-block {
    padding: 0;
	margin-top:20px;
}
.conolly-spectrum-sec {
    margin: 0;
}
.conolly-spectrum-sec .share-sec {
    margin: 30px 0 15px 0;
}

.share-sec a {
display: inline-flex;
    margin-right: 5px;
}
.leftPaddingSec {
    padding-left: 0;
}
.conolly-spectrum-sec .col-md-7 {
    width: 100%;
}
.toolbox_sec .mb-5 {
    margin-bottom: 0!important;
}
.tool_carousel_sec .carousel-caption.d-none {
    display: block !important;
}
.tool_carousel_sec .carousel_item_img {
    margin-bottom: 30px;
}
.tools-single-page-sec {
    margin-top: 20px;
}
article.tools-single-page-sec .row ~ .row.mt-5 {
    margin-top: 30px !important;
}
.network_dialog .modal-body .row .col-6 {
    width: 100%;
    margin: 15px 0 0 0;
}
.game-slider .col-md-4{
    padding-left: 15px;
}
.game-slider.network-slider .col-md-4{
    padding-left: 15px;
	padding-right:15px;
}
.light-box.pricing-box .block .container {
    padding: 0;
}
.slider_sections .carousel-item, .homeSlider .carousel-item{
height:auto;
}
.faq-sec ~ .tool-sec .row.col-md-12 {
    margin: 0;
}
.module-types_heading~p{
	margin-bottom: 10px;
}
.bannr_padding_holder .order-md-2 {
    margin-bottom: 20px;
}
p.games-heading-1 {
    font-size: 28px !important;
    line-height: 32px !important;
}
.accordion-body {
    padding-right: 0;
}
.accordion-body h2 {
    font-size: 20px;
}
.accordion-body p a {
    word-break: break-all;
}
.inside-gray-header article.toolBanner p strong {
    font-size: 36px;
}
#tool_carousel .carousel-caption {
    margin-top: 200px;
}
.tool_carousel_sec .carousel_item_img{
	height:auto;
}
div#carouselB:before{
display:none;
}

section.sub-header.virtul_sbhedr {
    height: auto;
}
.main-overview-sec >.first-overview:nth-child(odd) .container >.row:first-child>.col-md-6:last-child {
    order: -1;
    margin-bottom: 15px;
}
.main-overview-sec .module-box{
	min-height: 60px;
}
    article.bann_slider div#carouselB .bann_img {
    height: 260px;
	
}
.first-overview .all_games_holder .container {
    padding: 0;
}
.main-overview-sec .first-overview >div> .row {
    margin-bottom: 30px;
}
.main-overview-sec .all_games_holder .img-block{
margin-bottom: 30px;
}
.main-overview-sec .all_games_holder .img-block ul {
    min-height: auto;
}
.main-overview-sec .first-overview {
    padding-bottom: 30px;
}
.main-overview-sec .startedBtn .btn-sec .btn-primary {
    display: block;
    margin-bottom: 20px;
}
.main-overview-sec .startedBtn .btn-sec {
    display: block;
	}
}
@media (max-width: 460.98px){
#tool_carousel .carousel-indicators {
    top: 270px;
	    margin: 0;
}
.tool_carousel_sec .carousel_item_img {
    margin-bottom: -60px;
}
.tools-single-heading {
    font-size: 25px;
}
}
/* START */
@media (max-width: 425px){
    #carouselA .carousel-inner.custom-carousel-inner .carousel-item:nth-child(odd) p{
        line-height: normal !important;
        font-size: 14px !important;
        }
    
}
    /* END */

@media (max-width: 360.98px){
#tool_carousel .carousel-indicators {
    top: 230px;
}
.tool_carousel_sec .carousel_item_img {
    margin-bottom: -115px;
}
#tool_carousel .carousel-indicators .sliderHeadingTxt {
    font-size: 12px;
}

/* START */
}
@media (max-width: 320px){  
    .pricingCard .card-body {
        padding-left: 0px;
        padding-right: 0px;
    }
    .network-page-box{
        padding-left:10px;
        padding-right: 10px;
    }
    .network-page-box .network-page-box{
        padding-left:0px;
        padding-right: 0px;
    }
    .light-box.pricing-box .block .container{
        padding-left: 0px;
        padding-right: 0px;
    }
    
    
}
/* END */
