.map-container {
  background: #f2f3f4;
  padding: 150px 0 80px;
}
.map-container p {
  margin: 0 0 100px;
  font-size: 30px;
  font-weight: 500;
  line-height: normal;
}
.map-container #wrap {
  margin-bottom: 50px;
  height: 700px;
  width: 100%;
}
.map-container .color-guide {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
justify-content: center;
}
.map-container .color-guide li {
  font-size: 24px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.map-container .color-guide li span {
  display: block;
  width: 95px;
  height: 39px;
  border-radius: 10px;
  background: #3ec068;
  margin-right: 20px;
}
.map-container .color-guide li:last-child {
  margin-right: 0;
}
.map-container .color-guide li:last-child span {
  background: #ff9700;
}
.light-box {
    padding: 10px 0;
    background-color: #fbfbfc;
}
/********************** certification ********************************/
.Certification {
  padding-bottom: 10rem;
  position: relative;
}
.Certification .row {
  position: relative;
}
.Certification .row:before {
  content: "";
  background: #f19b38;
  width: 3px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.Certification .content-sec {
  text-align: center;
  max-width: 80%;
  margin: 50px auto 100px;
}
.Certification .content-sec h2 {
  margin: 0 0 50px;
}
.Certification .certification-box-first ul {
  max-width: 400px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  margin: 0;
  background: #fff;
  border-radius: 7px;
  padding: 20px;
  text-align: center;
  list-style: none;
}
.Certification .certification-box-first ul li {
  font-size: 19px;
  font-weight: 500;
  padding-bottom: 70px;
}
.Certification .certification-box-first ul li:last-child {
  padding-bottom: 0;
}
.Certification .certification-box-first ul li a {
  color: #292b2c;
  text-decoration: none
}
.Certification .certification-box-first ul li a:hover {
  text-decoration: none;
  color: #ff9700;
}
.Certification .certification-box-second ul {
  max-width: 400px;
  margin: 0;
  padding: 0;
  float: right;
  width: 100%;
  list-style:none;
}
.Certification .certification-box-second ul li {
  font-size: 19px;
  font-weight: 500;
  padding-bottom: 25px;
  color: #292b2c;
}
.Certification .certification-box-second ul li a {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  margin: 0;
  background: #fff;
  border-radius: 7px;
  padding: 23px 20px;
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  display: block;
  color: #292b2c;
  min-height: 260px;
  text-decoration: none
}
.Certification .certification-box-second ul li a:hover {
  text-decoration: none;
  color: #ff9700;
}
.Certification .certification-box-second ul li:last-child {
  padding-bottom: 0;
}

.Certification-single .back_btn {
  width: 50px;
}
.Certification-single .content h2 {
  margin: 20px 0;
}
.Certification-single .content img {
  max-width: 250px;
  margin-bottom: 30px;
}
.Certification-single .content h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}
.Certification-single .content ul {
  list-style: disc;
  margin: 0 0 2rem;
  padding: 0 0 0 18px;
}
.Certification-single .content ul li {
  list-style: disc;
}
.Certification-single .content .certificate-sec {
  margin-top: 20px;
}
.Certification-single .content .certificate-sec .box {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  border-radius: 7px;
  border: 1px solid #ddd;
  justify-content: space-between;
  margin-bottom: 25px;
  background: #fff;
}
.Certification-single .content .certificate-sec .box h5 {
  font-size: 14px;
  text-transform: inherit;
  margin: 0;
  max-width: 205px;
  width: 100%;
  line-height: normal;
}
.Certification-single .content .certificate-sec .box span {
  font-size: 13px;
  font-weight: 300;
  display: block;
  padding: 0 10px;
}
.Certification-single .content .certificate-sec .box span.date {
  max-width: 175px;
  width: 100%;
}
.Certification-single .content .certificate-sec .box span.days {
  max-width: 75px;
  width: 100%;
}
.Certification-single .content .certificate-sec .box span.language {
  max-width: 150px;
  width: 100%;
}
.Certification-single .content .certificate-sec .box span.price {
  max-width: 100px;
  width: 100%;
}
.Certification-single .content .certificate-sec .box a {
  margin: 0;
 padding: .375rem .75rem;
}
.Certification-single .content .box a.btn-rect:focus{
   box-shadow: none;
    background: var(--orange-ff9700);
    border-color: var(--orange-ff9700);


}
.Certification-single .content .certificate-sec .box a:hover {
    border-color: #ff9700;
}
.cfilter {
  display: flex;
  align-items: center;
}
.cfilter ul.newSection {
  padding: 0px;
  margin: 0px;
}
.cfilter ul.newSection li {
  display: inline-block;
  padding: 0px 9px;
}
.cfilter ul.newSection li a {
  font-size: 13px;
  color: #768093 !important;
  text-decoration: none;
}
.cfilter ul.newSection li a:hover {
  color: #ff9700 !important;
}
.cfilter ul.newSection li.active a {
  color: #ff9700 !important;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.material.select-filter {
  color: gray;
  border: 1px solid #e2e2e2;
  height: 39px;
  line-height: 37px;
  width: 100%;
  cursor: pointer;
  position: relative;
  display: block;
  font-weight: 300;
}
.material.select-filter .dropdown {
  width: 100%;
}
.material.select-filter .dropdown button {
  width: 100%;
  border: none;
  background: none;
  text-align: left;
}
.material.select-filter .dropdown button:focus {
  outline: none;
}
.material.select-filter .dropdown .dropdown-content {
  width: 100%;
}
.material.select-filter .dropdown .dropdown-content a:hover {
  background: #f5f5f5;
}

.loading-overlay {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 9996;
  background: #ffffff;
  opacity: 1;
}

.loading-overlay .loading-box {
  height: 100vh;
  margin: 0px auto;
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
}

.loading-overlay .loading-box img {
  width: 100px;
  margin: 0px auto;
  display: block;
}

@keyframes heartbeat {
  0%, 60% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  5% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }
  39% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  45% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes heartbeat {
  0%, 60% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  5% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }
  39% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  45% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.heartbeat {
  padding: 15px;
  -webkit-animation: heartbeat 1s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: heartbeat 1s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

/***************************end********************************/



.material.select-filter {
    color: gray;
    border: 1px solid #e2e2e2;
    height: 39px;
    line-height: 37px;
    width: 100%;
    cursor: pointer;
    position: relative;
    display: block;
    font-weight: 300;
}
.material.select-filter .dropdown {
    width: 100%;
}
.sub-header .dropdown button#dropbtn {
    border: 1px solid #e2e2e2;
    width: 100%;
    display: block;
    text-align: left;
    height: 39px;
    line-height: 37px;
    padding: 0 10px 0 10px;
    background: #fff;
    color: gray;
    font-size: 13px;
}
.sub-header .dropdown button#dropbtn i {
    float: right;
}
.material.select-filter .dropdown .dropdown-content {
    width: 100%;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
}
.material.select-filter .dropdown .dropdown-content a:hover {
    background: #f5f5f5;
}
.sub-header .dropdown button#dropbtn i:before {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 4.5px solid;
    border-right: 4.5px solid transparent;
    border-bottom: 0;
    border-left: 4.5px solid transparent;
}

.wrapper-bg {
  background: #f2f3f4;
  padding: 150px 0 0;
  background-size: 100% 100%;
}
.MeetStep .MeetStepContent h2 {
  font-size: 55px;
  font-weight: 400;
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 2rem;
}
.MeetStep .MeetStepContent h2:after {
  background: #ed9b5f;
  content: "";
  width: 106px;
  height: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.MeetStep .MeetStepContent p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 35px;
}
.MeetStep .MeetStepContent .btn.btn-primary {
  margin: 0 0 80px;
  background: none;
  color: #ff9700;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8rem;
  font-family: sans-serif;
  padding: 14px 35px;
  height: 50px;
  letter-spacing: 0;
  font-size: 14px;
  border: 2px solid;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.MeetStep .MeetStepContent .btn.btn-primary:hover {
  background: #ff9700;
  border-color: #ff9700;
  color: #fff;
}
.MeetStep .MeetStepImage {
  position: relative;
  margin: 40px 0 0 40px;
  float: right;
}
.MeetStep .MeetStepImage img {
  width: 100%;
  z-index: 2;
  position: relative;
  height: auto;
  object-fit: cover;
  transition: ease-in-out 0.5s;
}


.MeetStep.joinBattle {
  margin: 150px 0 0;
  position: relative;
  padding-bottom: 150px;
}
.MeetStep.joinBattle:after {
  content: "";
  background: #f19b38;
  height: 4px;
  width: 30%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
}
.MeetStep.joinBattle .MeetStepImage {
  margin: 30px 0 0;
  text-align:center;
}
.MeetStep.joinBattle .MeetStepImage a.BattleBox {
  position: relative;
  display: inline-block;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.MeetStep.joinBattle .MeetStepImage a.BattleBox img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}
.MeetStep.joinBattle .MeetStepImage a.BattleBox span.play-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: #f19b38;
  font-size: 21px;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 9;
}
.MeetStep.joinBattle .MeetStepImage a.BattleBox img.lockImage {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 40px;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  height: auto;
}
.MeetStep.joinBattle .MeetStepImage a.BattleBox p {
  position: absolute;
  bottom: 30px;
  left: 20px;
  color: #fff;
  margin: 0;
  z-index: 10;
  font-size: 21px;
}
.MeetStep.joinBattle .MeetStepContent h2 {
  text-transform: uppercase;
}
.MeetStep.joinBattle .MeetStepContent h2:after {
  content: "";
  width: 185px;
}
.MeetStep.joinBattle .MeetStepContent .MeetStepImage {
  display: none;
}


.BgSec {
    position: relative;
    margin-left: 50px;
    margin-top: 150px;
}
.BgSec:before {
    content: "";
    background: #ed9b5f;
    width: calc(100% - 150px);
    height: calc(100% - 200px);
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: 1;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 30%);
}
.BgSec .TopScores {
    background: #3d4650;
    padding: 70px 0 100px;
    color: #fff;
    margin: 0 0 150px;
    position: relative;
    z-index: 2;
    transition: ease-in-out 0.5s;
}
.BgSec .TopScores h2 {
    position: relative;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 30px;
    text-transform: uppercase;
    max-width: 250px;
    margin: 0 auto 120px;
    position: relative;
}
.BgSec .TopScores h2:after {
    content: "";
    background: #f19b38;
    width: 160px;
    height: 14px;
    position: absolute;
    left: 6px;
    bottom: 0;
}
.BgSec .TopScores .top-score-list {
    padding: 0 90px;
    overflow: auto;
    /* max-height: 400px; */
}
.BgSec .TopScores .topScoreList {
    margin: 0 0 50px;
    font-size: 23px;
    line-height: normal;
    display: flex;
    justify-content: space-between;
}
.BgSec .TopScores .topScoreList .PlayerSec {
    display: flex;
    justify-content: space-between;
}
.BgSec .TopScores .topScoreList span {
    color: #f19b38;
    /* float: right; */
}
.BgSec .TopScores .topScoreList span a {
    color: #f19b38;
}
.BgSec .TopScores .topScoreList .playerName {
    color: #fff;
    max-width: 200px;
    width: 200px;
}
.BgSec .TopScores .topScoreList span.PCompany {
    float: right;
    color: #fff;
    padding: 0 15px;
    display: block;
    text-align: left;
    min-width: 70px;
    max-width: 200px;
    width: 200px;
}
.add-more-game-btn img {
    max-width: 50px;
    display: block;
    margin: 30px auto 0;
}
.hidden-box {
    display: none !important;
}
.stepstone .MeetStepImage {
    padding-right: 50px;
    padding-left: 0;
    margin: 0;
    float: none;
}


.light-box .block {
    margin: 60px 0;
}
.employee-box {
    background: #fff;
    padding: 40px 30px;
    border-top: 2px solid transparent;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px 5px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 1px 4px rgb(0 0 0 / 10%), 0 1px 5px rgb(0 0 0 / 14%);
    box-shadow: 0 1px 4px rgb(0 0 0 / 10%), 0 1px 5px rgb(0 0 0 / 14%);
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-bottom: 30px;
}
.employee-box .employee-thumbnail {
    margin-bottom: 40px;
}
.employee-box .employee_details h4 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #3D4650;
    text-transform: uppercase;
    text-align: center;
}
.employee-box .employee_details .social_icon {
    padding: 10px 0px 30px;
    text-align: center;
}
.employee-box .employee_details .employee_job_details_box {
    background: #fff;
    padding: 40px 30px;
    border-top: 2px solid transparent;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px 5px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 1px 4px rgb(0 0 0 / 10%), 0 1px 5px rgb(0 0 0 / 14%);
    box-shadow: 0 1px 4px rgb(0 0 0 / 10%), 0 1px 5px rgb(0 0 0 / 14%);
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-bottom: 30px;
    cursor: pointer;
    height: 250px !important;
}
.employee-box .employee_details .social_icon ul {
    padding: 0px;
    margin-bottom: 0px;
}
.employee-box .employee_details .social_icon li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.employee-box .employee_details .social_icon li a {
    display: block;
}
.employee-box .employee_details .social_icon li a img {
    width: 36px;
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.employee-box .employee_details .employee_job_details_box .employee_job_details {
    margin-bottom: 20px;
}
.employee-box .employee_details .employee_job_details_box .employee_job_details h5 {
    font-weight: 300;
    color: #748095;
    font-size: 18px;
}

.employee-box .employee_details .employee_job_details_box .employee_job_details span {
    word-break: break-word;
    font-size: 13px !important;
    font-weight: 300;
}
.employee-box .employee_details span {
    font-size: 13px;
    display: block;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: #748095;
    font-weight: 300;
}
.employee-box .employee_details .employee_job_details_box .employee_job_details_footer {
    display: block;
    text-align: center;
}
.employee-box .employee_details .employee_job_details_box .employee_job_details_footer .footer_dots {
    display: inline-block;
    background: #ff9700;
    height: 10px;
    width: 10px;
    border-radius: 10px;
}

.employee-box:hover {
    -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 12%);
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 12%);
    border-top: 2px solid #ffcb80;
    border-radius: 0px 0px 3px 3px;
}
.ClientReviewSlider {
    background: #f4f1ef;
    padding-bottom: 100px;
}
.ClientReviewSlider .carousel {
    padding-top: 90px;
}
.ClientReviewSlider .carousel .carousel-indicators {
    bottom: auto;
    margin: 0;
    top: 0;
}
.ClientReviewSlider .carousel .carousel-indicators li.active {
    background-color: #f19b38 !important;
    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}
.ClientReviewSlider .carousel .carousel-indicators li {
    max-width: 30px;
    height: 30px;
    margin-right: 15px;
    margin-left: 15px;
    background-color: #f3d5b4;
    border-radius: 50%;
    border:0;
}
.ClientReviewSlider .ClientReviewSliderSec {
    padding: 0 40px;
}
.ClientReviewSlider .ClientReviewSliderSec p {
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    margin-bottom: 50px;
}
.ClientReviewSlider .ClientReviewSliderSec .media .media-left img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    /* border: 5px solid #ed9b5f; */
    max-width: inherit;
}
.ClientReviewSlider .ClientReviewSliderSec .media .media-right h4 {
    color: #f19b38;
    font-size: 34px;
    margin: 25px 0 20px;
    font-weight: 300;
    line-height: normal;
}
.ClientReviewSlider .ClientReviewSliderSec .media .media-right span {
    font-size: 24px;
    line-height: normal;
}
.BgSec .TopScores:hover {
    transform: translate(-10px, -10px);
}

.BgSec .TopScores .plus-minus {
    text-align: center;
}
.BgSec .TopScores .plus-minus svg {
    width: 45px;
}

.network_box_Holder {
    margin-bottom: 40px;
}
.newbanner .content {
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    width: 100%;
}
.light-box {
    padding: 10px 0;
    background-color: #fbfbfc;
}
.courses_content h2 {
    color: #3D4650;
}
.courses_content p {
    line-height: 28px;
    font-size: 15px;
}
.light-box .block {
    margin: 60px 0;
}
.course_dropdown {
    display: none;
    position: absolute;
    right: 0px;
    top: 60px;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 35%);
    background: #fff;
    z-index: 99;
    padding: 40px 30px;
    width: 300px;
}
.course_dropdown .close_btn {
    position: absolute;
    right: 10px;
    top: 10px;
}
.course_dropdown .close_btn a.closeIcon {
    background: url(/media/fuxjh3pz/icon_cookies_close.svg);
    height: 24px;
    width: 24px;
    background-size: cover;
    display: inline-block;
}
.course_dropdown ul {
    padding: 16px;
    text-align: left;
    padding: 0px;
    margin-bottom: 0px;
    list-style: none;
}
.course_dropdown ul li {
    padding-bottom: 20px;
}
.course_dropdown ul li h5 {
    margin-bottom: 5px;
    color: #879396;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 14px;
}
.course_dropdown ul li span {
    color: #525e68;
    font-size: 14px;
    font-weight: 400;
}
.course_dropdown ul li:last-child {
    padding-bottom: 0px;
}
.course_dropdown a.openCourseSignUpModal {
    padding: 10px 18px;
    font-size: 14px;
}
.course_dropdown a.openCourseSignUpModal:hover, .course_dropdown a.openCourseSignUpModal:focus {
    border-color: #ff9700;
    color: #ff9700;
    background: #fff;
}

.see-more-nav .col-sm-4.text-right.sm-text-center {
    text-align: right;
    position: relative;
}
.sub-header .sub-nav li.active a {
    color: #ff9700;
}
.see-more-nav .course-scroll {
    text-align: left;
}

.course_signup .modal-dialog .input_form {
    padding: 15px 0px;
    width: 460px;
    margin: 0px auto;
}
.course_signup .heading {
    padding-bottom: 40px;
}
.modal_form .input_form .heading h3 {
    margin-bottom: 0px;
    font-weight: 300;
    color: #ffffff;
    font-size: 28px;
    padding-bottom: 13px;
    text-align: center;
}
.modal_form .input_form .heading span {
    font-size: 13px;
    color: #768093;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.course_signup .input_form span {
    color: #768093;
    font-size: 13px;
}
.course_signup .heading span {
    color: #fff !important;
    font-size: 12px;
    letter-spacing: 1px;
    display: block;
    text-align: center;
}

.course_signup .input_form .form-group {
    margin-bottom: 15px;
}

.course_signup .modal-dialog .input_form .form-control {
    font-weight: 300;
    height: inherit;
    padding: 12px 10px;
    border-radius: 3px;
    color: #768093;
    font-size: 13px;
}
.course_signup .modal-dialog .input_form .form-control {
    font-weight: 300;
    height: inherit;
    padding: 12px 10px;
    border-radius: 3px;
    color: #768093;
    font-size: 13px;
}
.course_signup .modal-dialog .input_form textarea {
    height: 150px !important;
}
.employee_Profile_Model .modal-content{
    border-radius:10px;
}
.employee_Profile_Model .modal-header {
    display: flex;
    justify-content: flex-end;
    border: 0;
    padding-bottom: 0;
}
.employee_Profile_Model .close_button {
    width: 30px;
}
.course_signup .modal-dialog {
    pointer-events: all;
}


.modal-backdrop.fade.show.dark {
    background: #3d4650 !important;
    opacity: 1 !important;
}
div#infoSignUpModal a.close-icon svg {
    width: 35px;
}
div#infoSignUpModal .modal_close {
    display: flex;
    justify-content: flex-end;
    padding: 25px 15px 0px 0;
}
.employee_job_details_box:hover {
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 12%) !important;
}
.modal.GameModal.more_info .modal-lg {
    max-width: 90%;
}
.modal.GameModal .modal-content {
    border: 5px solid #f19b38;
    border-radius: 30px;
}
.GameModal button.close {
    background: none;
    border: 0;
    width: 50px;
}
.GameModal .modal-header {
    display: flex;
    justify-content: flex-end;
    border: 0;
    padding: 0.5rem 0.3rem 0 1rem;
}
.ClientReviewSlider .ClientReviewSliderSec .media .media-left {
    margin-right: 60px;
}
.ClientReviewSliderSec .media {
    display: flex;
}
.BattleBox img {
    max-width: 520px;
}
.employee_listing ul#shuffleItemList {
    list-style: none;
}
.course_signup .modal-dialog .input_form select.form-control {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
}
@media (max-width: 1200px) {

  .MeetStep .MeetStepContent h2 {
    font-size: 40px;
    padding-bottom: 25px;
  }
  .MeetStep .MeetStepContent h2:after {
    width: 80px;
    height: 14px;
  }
  .MeetStep .MeetStepContent p {
    font-size: 23px;
    line-height: 36px;
  }
  .MeetStep .MeetStepContent .btn.btn-primary {
    margin: 20px 0 0;
    font-size: 24px;
  }
  .MeetStep .MeetStepImage img {
    height: 430px;
    object-fit: cover;
  }
    
}

@media (max-width: 991px) {

  .Certification .certification-box-first ul {
    max-width: 300px;
  }
  .Certification .certification-box-second ul {
    max-width: 300px;
  }
   .MeetStep .MeetStepContent h2 {
    font-size: 36px;
  }
  .MeetStep .MeetStepContent p {
    font-size: 23px;
    line-height: 30px;
  }
      .BgSec .TopScores .topScoreList .PlayerSec span {
    width: 100px;
    max-width: 100px;
  }
}


  @media (max-width: 767px) {

.map-container {
    padding: 50px 0 50px;
  }
  .map-container p {
    margin: 0 0 50px;
    font-size: 20px;
  }
  .map-container .color-guide li {
    font-size: 18px;
  }
  .map-container .color-guide li span {
    width: 80px;
  }
  .map-container #wrap {
    height: 400px;
  }
  .Certification {
    padding-bottom: 5rem;
  }
  .Certification:before {
    display: none;
  }
  .Certification .row:before {
    display: none;
  }
  .Certification .content-sec h2 {
    margin: 0 0 40px;
  }
  .Certification .certification-box-first ul {
    max-width: 300px;
    margin: 0 auto;
  }
  .Certification .certification-box-second {
    margin-top: 60px;
    padding-top: 60px;
  }
  .Certification .certification-box-second:before {
    content: "";
    background: #f19b38;
    width: 150px;
    height: 3px;
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translate(-50%, 0);
  }
  .Certification .certification-box-second ul {
    max-width: 300px;
    margin: 0 auto;
    float: none;
  }

  .Certification-single .content .certificate-sec .box {
    flex-wrap: wrap;
    margin-bottom: 35px;
    align-items: flex-start;
  }
  .Certification-single .content .certificate-sec .box h5 {
    max-width: 50%;
  }
  .Certification-single .content .certificate-sec .box span {
    padding: 10px 0;
  }
  .Certification-single .content .certificate-sec .box span.date {
    max-width: 50%;
    padding: 0;
  }
  .Certification-single .content .certificate-sec .box span.days {
    max-width: 75px;
  }
  .Certification-single .content .certificate-sec .box span.language, .Certification-single .content .certificate-sec .box span.price {
    max-width: calc(50% - 40px);
  }
  .Certification-single .content .certificate-sec .box a {
    margin: 15px auto 0;
    padding: 14px 40px;
  }
  .MeetStep {
    position: relative;
    padding-top: 150px;
  }
  .MeetStep:before {
    content: "";
    background: #fff;
    width: 100%;
    height: 650px;
    position: absolute;
    top: 0;
  }
  .MeetStep .row {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
  }
  .MeetStep .MeetStepContent {
    margin-bottom: 0;
  }
  .MeetStep .MeetStepContent p {
    font-size: 23px;
    margin-bottom: 30px;
  }
  .MeetStep .MeetStepContent .btn.btn-primary {
    font-size: 16px;
    display: block;
  }
  .MeetStep .MeetStepImage {
    margin: 0 auto 160px;
    float: none;
    width: calc(100% - 20px);
    position: relative;
    left: 30px;
  }
  .MeetStep .MeetStepImage:after {
    width: calc(100% - 45px);
    height: calc(100% - 20px);
  }
  .MeetStep .MeetStepImage img {
    max-height: 438px;
    object-fit: cover;
    width: calc(100% - 45px);
    height: calc(100% - 45px);
  }

  .MeetStep.joinBattle {
    margin: 100px 0 0;
    padding-bottom: 50px;
  }
  .MeetStep.joinBattle:after {
    content: "";
    width: 35%;
  }
  .MeetStep.joinBattle .MeetStepImage {
    display: none;
  }
  .MeetStep.joinBattle .MeetStepContent h2:after {
    content: "";
    width: 125px;
  }
  .MeetStep.joinBattle .MeetStepContent .MeetStepImage {
    display: block;
    margin: 70px 0;
  }
  }
  
  @media (max-width: 576px) {

  .map-container .color-guide {
    display: block;
  }
  .map-container .color-guide li {
    margin: 0 0 10px;
  }
  .map-container #wrap {
    height: 300px;
  }
    .MeetStep:before {
    height: 580px;
  }
    .MeetStep .MeetStepContent h2 {
    font-size: 26px;
  }
  .BgSec .TopScores h2 {
    font-size: 26px;
    max-width: 130px;
  }
  .BgSec .TopScores h2:after {
    width: 60px;
    height: 14px;
  }
  .BgSec .TopScores p {
    font-size: 18px;
  }
}

@media (max-width: 400px) {

  .map-container #wrap {
    height: 250px;
  }
    .MeetStep:before {
    height: 520px;
  }
      .BgSec .TopScores p {
    flex-wrap: wrap;
  }
  .BgSec .TopScores p span.PCompany {
    float: none;
    padding: 5px 0;
    min-width: 100%;
  }
  
}

@media (max-width: 360px) {
  .MeetStep:before {
    height: 480px;
  }
}
@media (max-width: 330px) {
  .MeetStep:before {
    height: 460px;
  }
}