﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Actee.Web.Helpers
@using Umbraco.Web.Models
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "MasterPage.cshtml";
    //var home = Model.Site();
    var AllConcepts = Model.Children.Where(x => x.Value<string>("pageTitle") != "Case Detail");
    var imageUrl = "https://app.actee.com/CasePictures/";

    // var acteeGames = Model.Value<IEnumerable<IPublishedElement>>("gameData");

    var ActeeChangeGames = Model.Children.Where(x => x.Value<string>("category") == "ActeeChange");
    var ActeeLeadershipGames = Model.Children.Where(x => x.Value<string>("category") == "ActeeLeadership");
    var ActeeCommunicationGames = Model.Children.Where(x => x.Value<string>("category") == "ActeeCommunication");
}
<script>

    //var APPAPIURL = "https://api.actee.com/";
    //var TheoryData = [];

    //var getCaseTitle = function (Potitle, title) {
    //    if (Potitle != null && Potitle != undefined) {
    //        var titledata = title;
    //        var pCaseTitle = JSON.parse(Potitle);
    //        if (pCaseTitle.length) {
    //            titledata = pCaseTitle[0].title;
    //        }
    //        return titledata;
    //    }
    //    else {
    //        return title;
    //    }
    //}

    //var getLanguageNames = function (Language) {
    //    var lang = JSON.parse(Language);
    //    var code = "";
    //    for (var i = 0; i < lang.length; i++) {
    //        if (i != 0) {
    //            code += ", ";
    //        }
    //        code += lang[i].name;
    //    }
    //    return code;
    //}

    //var getTheories = function (ChoosenTheory) {
    //    var thory = "";
    //    for (var i = 0; i < ChoosenTheory.length; i++) {
    //        var thId = ChoosenTheory[i];
    //        if (i != 0) {
    //            thory += ", ";
    //        }
    //        for (var j = 0; j < TheoryData.length; j++) {
    //            var thData = TheoryData[j];
    //            if (thId == thData.Id) {
    //                thory += thData.Title;
    //            }
    //        }
    //    }
    //    return thory;
    //}

    //function getTheoryData() {
    //    jQuery.ajax({
    //        type: 'GET',
    //        url: APPAPIURL + "Admin/GetAllTheory",
    //        success: function (response) {
    //            TheoryData = response.Data;
    //            getallcases();
    //        },
    //        error: function (XMLHttpRequest) {
    //            getAllCases()
    //        }
    //    });
    //}
    //function getallcases() {
    //    jquery.ajax({
    //        type: 'get',
    //        url: appapiurl + "case/getallcases",
    //        success: function (response) {
    //            theorydata = response.data;
    //            getallcases();
    //        },
    //        error: function (xmlhttprequest) {
    //            getallcases()
    //        }
    //    });
    //}
    //function getAllCases() {
    //    jQuery.ajax({
    //        type: 'GET',
    //        url: APPAPIURL + "Case/GetAllCases",
    //        data:
    //        {
    //            IsRestrict: false,
    //        },
    //        success: function (response) {
    //            var AllData = response.Data;
    //            var htmlData = "";
    //            for (var i = 0; i < AllData.length; i++) {
    //                var item = AllData[i];
    //                if (item.Visible == true) {
    //                    var url = "/games/detail?id=" + item.Id;
    //                    var imageUrl = "/media/1421/change_hover.svg";
    //                    var iconUrl = "/media/1426/games_acteechange.svg";
    //                    if (item.Picture != null) {
    //                        imageUrl = "http://app.actee.com/CasePictures/" + item.Picture;
    //                    } else {
    //                        if (item.ModuleName == "ActeeLeadership") {
    //                            imageUrl = "/media/1422/leadership_hover.svg";
    //                        } else if (item.ModuleName == "ActeeCommunication") {
    //                            imageUrl = "/media/1423/communication_hover.svg";
    //                        } else {
    //                            imageUrl = "/media/1421/change_hover.svg";
    //                        }
    //                    }
    //                    if (item.ModuleName == "ActeeLeadership") {
    //                        iconUrl = "/media/1425/games_acteeleadership.svg";
    //                    } else if (item.ModuleName == "ActeeCommunication") {
    //                        iconUrl = "/media/1424/games_acteecommunication.svg";
    //                    } else {
    //                        iconUrl = "/media/1426/games_acteechange.svg";
    //                    }
    //                    var caseTitle = getCaseTitle(item.POEditorCaseTitle, item.Title);
    //                    var language = getLanguageNames(item.Language);
    //                    var theory = getTheories(item.ChoosenTheory);
    //                    var length = "";
    //                    if (item.Length) {
    //                        length = item.Length;
    //                    }
    //                    htmlData += '<li class="col-md-4 col-sm-6" data-groups="[&quot;' + item.ModuleName + '&quot;]">';
    //                    htmlData += '<div class="box">';
    //                    htmlData += '<a href="' + url + '">';
    //                    if (item.Picture != null) {
    //                        htmlData += '<div class="casetiles-logo">';
    //                    } else {
    //                        htmlData += '<div class="casetiles-logo" style="padding:0px 30px;">';
    //                    }
    //                    if (item.ModuleName == 'ActeeChange') {
    //                        htmlData += '<div class="casetiles-text">' + '<h3>' + caseTitle + '</h3>' + '<span>' + item.ModuleName + '</span>' + '</div>';
    //                    }
    //                    else if (item.ModuleName == "ActeeLeadership") {
    //                        htmlData += '<div class="casetiles-text">' + '<h3>' + caseTitle + '</h3>' + '<span>' + item.ModuleName + '</span>' + '</div>';
    //                    }
    //                    else {
    //                        htmlData += '<div class="casetiles-text">' + '<h3>' + caseTitle + '</h3>' + '<span>' + item.ModuleName + '</span>' + '</div>';
    //                    }
    //                    if (item.ModuleName == 'ActeeChange') {
    //                        htmlData += '<div class="casetiles-img_logo">' + '<img src="' + iconUrl + '" alt="" />' + '</div>';
    //                    }
    //                    else if (item.ModuleName == "ActeeLeadership") {
    //                        htmlData += '<div class="casetiles-img_logo">' + '<img src="' + iconUrl + '" alt="" />' + '</div>';
    //                    }
    //                    else {
    //                        htmlData += '<div class="casetiles-img_logo">' + '<img src="' + iconUrl + '" alt="" />' + '</div>';
    //                    }
    //                    htmlData += '<div class="game_img_overlay"></div>';
    //                    if (item.Picture != null) {
    //                        htmlData += '<img style="height: 100%;" src="' + imageUrl + '" alt="" />';
    //                    } else {
    //                        htmlData += '<img style="max-height:50px;height: 100%;" src="' + imageUrl + '" alt="" />';
    //                    }
    //                    htmlData += '</div>';
    //                    htmlData += '<div class="casetiles-content">';
    //                    htmlData += '<p class="theory_names" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">Theory: ' + theory + '</p>';
    //                    htmlData += '<p style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">Language: ' + language + '</p>';
    //                    htmlData += '<p>Length: ' + length + '</p>';
    //                    htmlData += '<span class="btn btn-link">VIEW CASE</span>';
    //                    htmlData += '</div>';
    //                    htmlData += '</a>';
    //                    htmlData += '</div>';
    //                    htmlData += '</li>';
    //                }
    //            }
    //            jQuery("#shuffleItemList").html(htmlData);
    //            initializeShuffle();
    //        },
    //        error: function (XMLHttpRequest) {
    //        }
    //    });
    //}
    //getTheoryData();
    //GetAllCases();
    //initializeShuffle();
</script>
`
<!-- Slider section ---->
<article class="inside_banner">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-12">
                <div class="content-block w-50 m-auto text-center">
                    <h2 class="games-heading-1">@Model.Value("heading")</h2>
                    @Model.Value("description")
                </div>
            </div>

        </div>
    </div>
</article>

<article class="all_games_sec">
    <div class="all_games_navbar sticky-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" href="#"><img src="~/img/icon-all-yellow.svg" class="yellowIcon" alt="">All games</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="all_games_drop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="~/img/icon-face-yellow.svg" class="yellowIcon" alt="">Actee games
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="all_games_drop">
                                    <li><a class="dropdown-item" href="#"><img src="~/img/icon-games-circle1.svg" class="yellowIcon" alt="">Circle</a></li>
                                    <li><a class="dropdown-item" href="#"><img src="~/img/icon-games-barometer1.svg" class="yellowIcon" alt="">Barometer</a></li>
                                    <li><a class="dropdown-item" href="#"><img src="~/img/icon-games-cards1.svg" class="yellowIcon" alt="">Cards</a></li>
                                    <li><a class="dropdown-item" href="#"><img src="~/img/icon-games-bubbles1.svg" class="yellowIcon" alt="">Bubbles</a></li>
                                    <li><a class="dropdown-item" href="#"><img src="~/img/icon-games-quiz1.svg" class="yellowIcon" alt="">Quiz</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!--<div class="search_bar_holder">
                         <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        </div>-->
                        <form class="d-flex">
                            <button class="btn" type="submit"><img src="~/img/icon-search.svg" alt=""></button>
                        </form>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="all_games_holder">
        <div class="container">
            <div class="row">
                @*@if (acteeGames.Count() > 0)
                    {
                        foreach (var item in acteeGames)
                        {
                            var backgroundImage = item.Value<IPublishedContent>("BackgroundImage");
                            var iconBox = item.Value<IPublishedContent>("IconBox");
                            var userProfile = item.Value<IPublishedContent>("UserProfile");
                            <div class="col-md-4">
                                <div class="img-block">
                                    <div class="all_games_img purpleOverlay">
                                        @if (backgroundImage != null)
                                        {
                                            <img src="@backgroundImage.Url" alt="">
                                        }
                                        else
                                        {
                                            <img src="" alt="">
                                        }
                                        <span class="icon_box @item.Value("BackgroundColor")">
                                            @if (iconBox != null)
                                            {
                                                <img class="w-100" src="@iconBox.Url">
                                            }
                                            else
                                            {
                                                <img class="w-100" src="">
                                            }
                                            @item.Value("IconName")
                                        </span>
                                        <div class="user_holder">
                                            <span class="user_img">
                                                @if (userProfile != null)
                                                {
                                                    <img src="@userProfile.Url" alt="">
                                                }
                                                else
                                                {
                                                    <img src="" alt="">
                                                }
                                            </span>
                                            <span class="user_text">
                                                <a href="">@item.Value("UserName")</a>
                                                <span>@item.Value("UserOccupation")</span>
                                            </span>
                                        </div>
                                    </div>

                                    <h5 class="mt-4">@item.Value("GameTitle")</h5>
                                    <ul>
                                        @{
                                            var gamesList = item.Value<IEnumerable<IPublishedElement>>("GameList");
                                            if (gamesList.Count() > 0)
                                            {
                                                foreach (var game in gamesList)
                                                {
                                                    var gameIcon = game.Value<IPublishedContent>("Icon");
                                                    <li>
                                                        @if (gameIcon != null)
                                                        {
                                                            <img src="@gameIcon.Url" alt="">
                                                        }
                                                        else
                                                        {
                                                            <img src="" alt="">
                                                        }
                                                    <span>@game.Value("Text")</span></li>
                                                }
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    }*@


                @if (ActeeChangeGames != null)
                {
                    int i = 0, j = 0;
                    foreach (var item in ActeeChangeGames.OrderBy(x => !x.Value<bool>("isFreeGame")))
                    {
                        if (item.Value<bool>("isFreeGame"))
                        {

                            string CaseId = item.Value<string>("uid");
                            var icon = item.Value<IPublishedContent>("icon");
                            var gameimg = item.Value<IPublishedContent>("caseImage");
                            var userimg = item.Value<IPublishedContent>("cardAvatar");
                            var bottomcontent = item.Value<IEnumerable<IPublishedElement>>("gameList");

                            //var modulename = item.Value("moduleName");
                            <div class="col-md-4">
                                <div class="img-block">
                                    <div class="all_games_img @(item.Value<string>("sectionColor"))">
                                        <img class="w-100" src="@gameimg.Url()">
                                        <span class="icon_box @(item.Value<string>("backgroundColor"))"><img src="@icon.Url()" alt="">@item.Value("moduleName")</span>
                                        <div class="user_holder">
                                            <span class="user_img">
                                                <img src="@userimg.Url()" alt="">
                                            </span>
                                            <span class="user_text">
                                                <a href="@(item.Url())">@item.Value("userName")</a>
                                                <span>@item.Value("userProfile")</span>
                                            </span>
                                        </div>
                                    </div>

                                    <h5 class="mt-4">@item.Value("caseTitle")</h5>
                                    <ul>
                                        @foreach (var text in bottomcontent)
                                        {
                                            var bottomicon = text.Value<IPublishedContent>("icon");
                                            <li><img src="@bottomicon.Url()" alt=""><span>@text.Value("text")</span></li>
                                        }
                                        @*<li><img src="~/img/icon-light-bulb1.svg" alt=""><span>Mauer Resistance, Maurer Theory</span></li>
                                        <li><img src="~/img/icon-duration.svg" alt=""><span>Solo: 15 m · Facilitated: 1 h</span></li>
                                        <li><img src="~/img/icon-language1.svg" alt=""><span>English (US)</span></li>*@
                                    </ul>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</article>

@*------Popup Modal for gallery End-------*@

<div id="Youtube_video" class="custom_modal popup_overlay">
    <div class="modal_popup">
        <a class="close" href="#">&times;</a>
        <div class="modal_body">
            <div class="book" style="height:450px;">
                <iframe width="100%" height="450px" class="video-iframe" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

@section PageJS{
    <script>
        var SetCookiesValue = function (cookiedata, Id) {
            $.cookie.json = true;
            $.cookie("CaseRedirectionUrl", cookiedata, { expires: 7, path: '/', secure: false, domain: "actee.com" });
            $.cookie("ActeeCaseId", Id, { expires: 7, path: '/', secure: false, domain: "actee.com" });
        }

        function goToScenario(CaseModule, CaseId) {
            var ActeeUrl = "https://app.actee.com/#/app/Games/new?GameModule=" + CaseModule;
            SetCookiesValue(ActeeUrl, CaseId);
            window.location.href = ActeeUrl;
        }
    </script>

    <script>
        $(".add-more-game-btn").click(function () {
            $(this).parent().siblings().find(".games-box").removeClass("hidden-box");
            $(this).addClass("hidden-box");
            $(this).siblings().removeClass("hidden-box");
        });
        $(".less-more-game-btn").click(function () {
            $(this).parent().siblings().find(".games-box").addClass("hidden-box");
            $(this).addClass("hidden-box");
            $(this).siblings().removeClass("hidden-box");
        });
    </script>
}