﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{

    Layout = "MasterPage.cshtml";
   
    var homepage = Model.Root();
    var courseList = Model.Children();
    var currentNode = Model.Id;
    var Certificationlist = Model.Children();
    var rightsidecertificationlist = Certificationlist.Where(x => !x.Value<bool>("leftSideList"));
    var leftsidecertificationlist = Certificationlist.Where(x => x.Value<bool>("leftSideList"));

}
@Html.Partial("Banner")

@if (Model.IsDocumentType("courses"))
{
    <section class="sub-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="material select-filter">
                        <select placeholder="Choose course type" name="selectcat">
                            <option value="*">Choose course type</option>
                            @if (courseList != null)
                            {
                                foreach (var item in courseList)
                                {
                                    <option value="@item.Name">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-8">
                    <ul class="sub-nav text-right view-options course-filters js-filter-list">
                        <li class="active"><a href="javascript:void(0);" data-val="*">All</a></li>
                        @if (courseList != null)
                        {
                            var uniqueDurationList = courseList.Select(x => x.Value("duration")).Distinct();
                            foreach (var item in uniqueDurationList)
                            {
                                <li><a href="javascript:void(0);" data-val="@item">@item</a></li>
                            }
                        }
                        <li><a href="javascript:void(0);">Popular</a></li>
                        <li style="display:inline !important">
                            <div class="form-group search-box">
                                <input type="text" placeholder="Hvad leder du efter?" class="form-control search-filter">
                                <button class="btn btn-bare btn-search">
                                    <span class="sr-only">Search</span>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="light-box courses">
        <div class="container">
            <div class="block">
                <input type="hidden" id="hdnCurrentNode" value="@currentNode" />
                <input type="hidden" id="hdnTotalCourse" value="@courseList.Count()" />
                <ul class="courses-list row js-sortable" id="shuffleItemList"></ul>
                <div class="text-center">
                    @*<a href="javascript:void(0)" class="btn btn-border course-load-more">Load more</a>*@
                </div>
            </div>
        </div>
    </section>
    <section class="dark-box">
        <div class="container">
            <div class="block">
                <div class="wid75 text-center">
                    <h2>@Html.Raw(Model.Value("otherCourseSectionTitle"))</h2>
                    <p>@Html.Raw(Model.Value("otherCourseSectionDescription"))</p>
                    <a href="/contact/" class="btn btn-primary">Contact Us</a>
                </div>
            </div>
        </div>
    </section>
}
@if (Model.IsDocumentType("certification"))
{
    <section class="sub-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="material select-filter">
                     
                        <div class="dropdown">
                            <button id="dropbtn">Choose Certification type <i class="fa fa-caret-down"></i></button>
                            <div class="dropdown-content">
                                @if (Certificationlist != null)
                                {
                                    foreach (var item in Certificationlist)
                                    {
                                        <a href="@item.Url()">@item.Name</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                </div>
            
            </div>
        </div>
    </section>

    <Section class="light-box Certification">
        <div class="container">
            <div class="content-sec">
                <h2>@Model.Value("pageHeading")</h2>
                @Html.Raw(Model.Value("certificationDescription"))
            </div>
            <div class="row">
                <div class="col-md-6">
                    @if (leftsidecertificationlist != null && leftsidecertificationlist.Count() > 0)
                    {
                        <div class="certification-box-first">

                            <ul>
                                @foreach (var item in leftsidecertificationlist)
                                {
                                    <li>
                                        <a href="@item.Url()">
                                            @item.Name
                                            <p>@Html.Raw(item.Value("certificationSubText"))</p>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
                <div class="col-md-6">
                    <div class="certification-box-second">
                        @if (rightsidecertificationlist != null)
                        {
                            <ul>
                                @foreach (var item in rightsidecertificationlist)
                                {
                                    <li>
                                        <a href="@item.Url()">
                                            @item.Name
                                            <p>@Html.Raw(item.Value("certificationSubText"))</p>
                                        </a>
                                    </li>
                                }
                            </ul>
                        }

                    </div>
                </div>
            </div>
        </div>
    </Section>

}

<link href="~/css/layout.css" rel="stylesheet" />
 
@section certificationJS{
<script>
    $(document).ready(function () {
        var node = $("#hdnCurrentNode").val();
        var totalCourses = $("#hdnTotalCourse").val();
        var skipRecords = 0;
        var noOfRecords = 4;
        //if (totalCourses <= noOfRecords) {
        //	$(".course-load-more").hide();
        //}
        loadCourses();
        function loadCourses() {
            $.ajax({
                type: 'POST',
                url: "/umbraco/surface/Course/GetCourses",
                data:
                {
                    id: node,
                    skipRecords: skipRecords,
                    noOfRecords: totalCourses
                },
                success: function (data, textstatus) {
                    $(".courses-list").append(data);
                    skipRecords = skipRecords + noOfRecords;
                    if (totalCourses < skipRecords) {
                        $(".course-load-more").hide();
                    }
                    var $container = $('.js-sortable');
                    var element = document.getElementById('shuffleItemList');
                    if ($container.length >= 0) {
                        $container.imagesLoaded(function () {
                            initializeShuffle();
                        });

                        function initializeShuffle() {
                            var shuffle = new Shuffle(element, {
                                itemSelector: 'li'
                            });
                            var $filterFields = $('.select-filter ul li label')
                            $filterFields.on('click', function (e) {
                                var $this = $(this),
                                    filterVal = '' + $this.parent().find('input').val();
                                filterVal = filterVal == '*' ? '' : filterVal;
                                shuffle.shuffle(filterVal);
                            });
                            var $searchfilter = $('.search-filter')
                            $searchfilter.on('keyup', function (e) {
                                var searchText = $(this).val().toLowerCase();
                                shuffle.shuffle(searchText, '', true);
                            });

                            var $coursefilterFields = $('.course-filters li a')
                            $coursefilterFields.on('click', function (e) {
                                e.preventDefault();
                                var $bthis = $(this),
                                    bfilterVal = '' + $bthis.data("val");
                                $('.course-filters li').removeClass('active');
                                $bthis.parent().addClass('active');
                                bfilterVal = bfilterVal == '*' ? '' : bfilterVal;
                                shuffle.shuffle(bfilterVal);
                            });
                            var $sortFields = $('.js-sort-list a')
                            $sortFields.on('click', function (e) {
                                e.preventDefault();
                                var $this = $(this);
                                $('.js-sort-list li').removeClass('active');
                                $this.parent().addClass('active');
                                function sortByDate($element) {
                                    return $element.data('latest');
                                }
                                function sortByPopular($element) {
                                    return $element.data('popular');
                                }
                                function sortByMostDownload($element) {
                                    return $element.data('most');
                                }
                                var options = {};
                                var sortType = $(this).data('val');
                                switch (sortType) {
                                    case 'latest':
                                        options = {
                                            reverse: true,
                                            by: sortByDate,
                                        };
                                        break;

                                    case 'popular':
                                        options = {
                                            reverse: true,
                                            by: sortByPopular,
                                        };
                                        break;

                                    case 'most':
                                        options = {
                                            reverse: true,
                                            by: sortByMostDownload,
                                        };
                                        break;
                                }
                                shuffle.sort(options);
                            });
                        }
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                }
            });
        }
        $(".course-load-more").on("click", function () {
            loadCourses();
        });

    });
    $('#dropbtn').click(function () {
        $('.dropdown-content').toggle();

    });
</script>
}