﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models;
@{ 
    Layout = "MasterPage.cshtml";
    var certificationContent = Model.Value<IEnumerable<IPublishedElement>>("certificationContent");
    //var certificationlist = Model.FirstChild("certification").Children();
    var certificationlist = Model.Parent.Children();
    //var SelectSystemCertification = Model.Content.HasValue("selectSystemCertification") ? Model.Content.GetPropertyValue<IPublishedContent>("selectSystemCertification") : null;
    var selectCertification = Model.HasValue("SelectCertifications") ? Model.Value<IEnumerable<IPublishedContent>>("SelectCertifications") : null; }

@Html.Partial("Banner")
<section class="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="material select-filter">

                    @*<select placeholder="Choose Certification type" name="selectcat">
                        <option value="*">Choose Certification type</option>
                        @if (certificationlist != null)
                        {
                            foreach (var item in certificationlist)
                            {
                                <option value="@item.Name">@item.Name</option>
                            }
                        }
                        </select>*@

                    <div class="dropdown">
                        <button id="dropbtn">Choose Certification type <i class="fa fa-caret-down"></i></button>
                        <div class="dropdown-content">
                            @if (certificationlist != null)
                            {
                                foreach (var item in certificationlist)
                                {
                                  <a href="@item.Url()">@item.Name</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <ul class="sub-nav text-right view-options course-filters js-filter-list">
                    @*<li class="active"><a href="javascript:void(0);" data-val="*">All</a></li>
                        @if (certificationContent != null)
                        {
                            var uniqueDurationList = certificationContent.Select(x => x.GetPropertyValue("numberOfDays")).Distinct();
                            foreach (var item in uniqueDurationList)
                            {
                                <li><a href="javascript:void(0);" data-val="@item">@item</a></li>
                            }
                        }
                        <li><a href="javascript:void(0);">Popular</a></li>*@
                    @*<li style="display:inline !important">
                            <div class="form-group search-box">
                                <input type="text" placeholder="Hvad leder du efter?" class="form-control search-filter">
                                <button class="btn btn-bare btn-search">
                                    <span class="sr-only">Search</span>
                                </button>
                            </div>
                        </li>*@
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="light-box Certification-single">
    <div class="container">
        <div class="content">
            <h2>@Model.Value("certificationHeading")</h2>
            @if (Model.HasValue("certifiedPartnerLogo"))
            {
<img src="@(Model.Value<IPublishedContent>("certifiedPartnerLogo").Url())" />}

            @Html.Raw(Model.Value("certificationDetails"))
            @if (certificationContent != null)
            {
<div class="certificate-sec">
    @foreach (var item in certificationContent)
    {
        var signuplink = item.Value<IEnumerable<Link>>("signUpButton");
<div class="box">
    <h5>@item.Value("heading")</h5>
    <span class="date">@item.Value("dates")</span>
    <span class="days">@item.Value("numberOfDays")</span>
    <span class="language">Language: @item.Value("langauages")</span>
    <span class="price">Price:@item.Value("prices")</span>

    @if (signuplink != null && signuplink.Any())
    {
        {
            foreach (var link in signuplink)
            {
           <a class="btn btn-primary btn-rect " href="@link.Url" @(Convert.ToBoolean(link.Target) ? "target=_blank" : string.Empty)>@link.Name</a>
            }
            }
            }

</div>}

</div>            }
        </div>
    </div>
</section>



@if (selectCertification != null)
{
    foreach (var item in selectCertification)

    {
        var CertificationContent = item.Value<IEnumerable<IPublishedElement>>("certificationContent");
        if (CertificationContent != null)
        {
<section class="light-box Certification-single">
    <div class="container">
        <div class="content">

            <h4>@item.Name</h4>
            <div class="certificate-sec">
                @foreach (var cer in CertificationContent)
                {
                    var signuplink = cer.Value<IEnumerable<Link>>("signUpButton");
                <div class="box">
                    <h5>@cer.Value("heading")</h5>
                    <span class="date">@cer.Value("dates")</span>
                    <span class="days">@cer.Value("numberOfDays")</span>
                    <span class="language">Language: @cer.Value("langauages")</span>
                    <span class="price">Price:@cer.Value("prices")</span>
                    @if (signuplink != null && signuplink.Any())
                    {
                        {
                            foreach (var link in signuplink)
                            {
                <a class="btn btn-primary btn-rect" href="@link.Url" @(Convert.ToBoolean(link.Target) ? "target=_blank" : string.Empty)>@link.Name</a>}
        }
    }


                </div> 
                }
            </div>
        </div>
    </div>
</section>
}
}
}
 <link href="/css/layout.css" rel="stylesheet" />
@section certificationSinglePageJs{
    <script>
        $('#dropbtn').click(function () {
            $('.dropdown-content').toggle();
        })
    </script>
}