﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "MasterPage.cshtml";
    string MapData = string.Empty;
    var MapContent = Model.Children != null && Model.Children.Count() > 0 ? Model.Children.Where(x => x.IsDocumentType("landingSubPage")) : null;
    var image = Model.Value<IPublishedContent>("bannerImage").Url();
    if (MapContent != null && MapContent.Count() > 0)
    {
        foreach (var item in MapContent)
        {
            var mapPointerImageUrl = item.HasValue("pointerImage") ? item.Value<IPublishedContent>("pointerImage").Url() : string.Empty;
            MapData += "{'selectable': true,'longitude': " + item.Value("longitude") + ",'latitude': " + item.Value("latitude") + ",'scale': 1,'label': '" + item.Name + "','labelFontSize': '16','labelColor': 'black','selectedLabelColor': 'black','labelRollOverColor': 'black','url': '" + item.Url() + "','urlTarget': '_blank','imageURL': '" + mapPointerImageUrl + "','width': 40,'height': 40,'labelShiftX': -90, 'labelShiftY': 15},";
        }
    }
}
<head>
    <style>
        .inside_header_sec {
            background-image: url(@image);
        }
    </style>
</head>
<body>
    @functions{
        public string GetImageUrl(IPublishedContent obj)
        {
            try
            {
                return obj != null ? obj.Url() : string.Empty;
            }
            catch
            {
                return string.Empty;
            }

        }
    }
    <section class="banner newbanner inner_page_banner virtual_bnr champin_pge">
        <div class="">
            <div class="">
                <div class="container">
                    <div class="content">
                        <h2 class="games-heading-1 text-white">@Model.Value("bannerHeading")</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="map-container">
        <div class="container">
            <p>
                @Model.Value("globalLandingTitle")
            </p>


            <div id="wrap">
            </div>

            <ul class="color-guide">
                <li>
                    <span></span>
                    @Model.Value("globalLandingPartnersText")
                </li>
                <li>
                    <span></span>
                    @Model.Value("globalLandingParticipantsText")
                </li>
            </ul>
        </div>
    </div>

    <div class="full_wrapper">
        <link href="~/css/layout.css" rel="stylesheet" />
        <script src="~/Scripts/js/Map.js"></script>
        <script src="~/Scripts/js/worldLow.js"></script>
        <script type="text/javascript">
            AmCharts.makeChart("wrap", {
                "type": "map",
                //"pathToImages": "http://www.amcharts.com/lib/3/images/",
                "addClassNames": true,
                "fontSize": 15,
                "color": "#FFFFFF",
                "projection": "mercator",
                //"backgroundAlpha": 1,
                "backgroundColor": "rgba(80,80,80,1)",
                "dragMap": true,
                "fitMapToContainer": true,
                "zoomOnDoubleClick": true,
                "mouseWheelZoomEnabled": true,
                "preventDragOut": true,
                "dataProvider": {
                    "map": "worldLow",
                    //"getAreasFromMap": true,
                    "images": [
                        @Html.Raw(MapData)
                    ]
                },
                "balloon": {
                    "horizontalPadding": 15,
                    "borderAlpha": 0,
                    "borderThickness": 1,
                    "verticalPadding": 15
                },
                "areasSettings": {
                    "color": "rgba(222,221,221,1)",
                    "outlineColor": "rgba(222,221,221,1)",
                    "rollOverOutlineColor": "rgba(222,221,221,,1)",
                    "selectedColor": "rgba(222,221,221,1)",
                    "colorSolid": "red",
                    "unlistedAreasOutlineColor": "rgba(222,221,221,1)",
                    "selectable": true
                },
                "imagesSettings": {
                    "alpha": 1,
                    "selectable": true
                },
                "zoomControl": {
                    "zoomControlEnabled": true,
                    "homeButtonEnabled": false,
                    "panControlEnabled": false
                }
            });
        </script>
    </div>
</body>
