﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "MasterPage.cshtml";
    var faqPage = Model.Root().Descendants().Where(x => x.ContentType.Alias.Equals("fAQ")).ToList().FirstOrDefault();
    var categoryicon = faqPage.Value<IPublishedContent>("fAQIcon");
    var categoryitems = faqPage.Value<IEnumerable<IPublishedElement>>("fAQCategory");
    var faqCategoryNames = Model.Root().Descendants().Where(x => x.ContentType.Alias.Equals("faqCategory")).Select(x => x.Name).ToList();
    var count = 0;
    var id = "#accId";
    var area = "accId";
    var labelBy = "labelBy";
    var faqId = Model.Id;
}
@functions{
    public string GetImageUrl(IPublishedContent obj)
    {
        return obj != null ? obj.Url() : string.Empty;
    }
}
<div class="all_games_navbar sticky-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/company/faq/"><img src="~/img/icon-all-yellow.svg" class="yellowIcon" alt=""><span>All FAQ</span></a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn srchIconBtn" type="button"><img src="/img/icon-search.svg" alt=""></button>
                    </form>
                </nav>
            </div>
        </div>
    </div>
    <div class="searchBox">
        <div class="search_bar_holder">
            <form id="myform">
                <input class="form-control me-2" id="faqID" type="search" name="search" placeholder="Search" aria-label="Search">
                <img src="/img/icon-remove-gray.svg" class="removeBtn" alt="">
                <input type="hidden" id="hiddenID" name="faqId" value="@faqId" />
            </form>
        </div>
    </div>
</div>
<article class="gray-box faq-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="content-block">
                    <img src="@GetImageUrl(categoryicon)">
                    <p class="faq-heading mt-4">@Model.Value("fAQHeading")</p>
                    <p class="games-desc">
                        @Model.Value("fAQDescription")
                    </p>
                </div>
                <div>
                    <a href="" class="games-link-a">@Umbraco.GetDictionaryValue("Common.SeeAllQuestions", "See all questions")</a>
                </div>
            </div>
            <div class="col-md-8" id="update_faq">
                @foreach (var faqCatName in faqCategoryNames)
                {
                    var faqCatList = categoryitems.Where(x => x.Value<IPublishedContent>("categoryName").Name.Equals(faqCatName)).ToList();
                    if (faqCatList.Count() > 0)
                    {
                        <div class="faq_accordions">
                            <p class="accordion-title">@faqCatName</p>
                            <div class="categorya">
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    @foreach (var item in faqCatList)
                                    {
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="@(labelBy + count)">
                                                <button class="accordion-button collapsed shadow-none border-0 bg-light ps-0" type="button" data-bs-toggle="collapse" data-bs-target="@(id + count)" aria-expanded="false" aria-controls="@(area + count)">
                                                    @item.Value("categoryHeading")
                                                </button>
                                            </h2>
                                            <div id="@(area + count)" class="accordion-collapse collapse" aria-labelledby="@(labelBy + count)" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body ps-0">@item.Value("categoryDescription")</div>
                                            </div>
                                        </div>
                                        count++;
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</article>

@section faqJs{
    <script>
        $(document).ready(function () {
            $('.srchIconBtn').click(function () {
                debugger;
                $('.searchBox').addClass('show_div');
            })
            $('.removeBtn').click(function () {
                $('.searchBox').removeClass('show_div');
            })
        });
    </script>
    <script>
        $(function () {
            debugger;
            $("#myform").submit(function (e) {
                e.preventDefault();
                var searchVal = $("#faqID").val();
                var id = $("#hiddenID").val();
                //get the action-url of the form
                var actionurl = "/umbraco/surface/Games/SearchFAQ?id=" + id + "&searchVal=" + searchVal;
                //do your own request an handle the results
                $.ajax({
                    url: actionurl,
                    type: 'GET',
                    error: function (xhr) {
                        alert('Error: ' + xhr.statusText);
                    },
                    success: function (data) {
                        console.log(data);
                        console.log($("#update_faq").html());
                        $("#update_faq").html(data);
                    }
                });

            });

        });
    </script>

}