﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Actee.Web.Helpers
@using Umbraco.Web.Models
@using ContentModels = Umbraco.Web.PublishedModels;
@using Newtonsoft.Json;
@{
    Layout = "MasterPage.cshtml";
    var AllConcepts = Model.Children.Where(x => x.Value<string>("pageTitle") != "Case Detail");
    var imageUrl = "https://app.actee.com/CasePictures/";
    var gameCategories = Model.Root().Descendants().Where(x => x.ContentType.Alias.Equals("gameCategoryPage")).ToList();
    List<IPublishedContent> allGames = new List<IPublishedContent>();
    var qsCategory = string.Empty;
    var gamePageId = Model.Id;
    var currentLang = System.Threading.Thread.CurrentThread.CurrentCulture.Name.ToLower();
    var modalId = "ModalPopup";
    var modalIdHash = "#ModalPopup";
    int counter = 1;
    if (!string.IsNullOrEmpty(Request.QueryString["category"]))
    {
        qsCategory = Request.QueryString["category"];
        allGames = Model.Descendants().Where(x => x.ContentType.Alias.Equals("singleGame") && x.Parent.Name.Equals(qsCategory)).ToList();
    }
    else
    {
        allGames = Model.Descendants().Where(x => x.ContentType.Alias.Equals("singleGame")).ToList();
    }

}
@functions{
     public string GetLanguageName(string jsonVal)
    {
        try
        {
            var json = JsonConvert.DeserializeObject<List<Language>>(jsonVal ?? string.Empty);
            if (json.Count() > 0)
            {
                return string.Join(",", json.Select(x => x.name).ToList());
            }
            else
            {
                return string.Empty; ;
            }
        }
        catch
        {
            try
            {
                var objListLang = new List<Language>() { new Language() };
                var jsonData = JsonConvert.DeserializeObject<Language>(jsonVal);
                if (jsonData != null)
                {
                    return jsonData.name;
                }
                else
                {
                    return string.Empty;
                }
            }
            catch
            {
                return string.Empty;
            }

        }
    }
    public string GetCategoryIconUrl(string name)
    {
        var category = Umbraco.ContentAtRoot().FirstOrDefault().Descendants().Where(x => x.ContentType.Alias.Equals("gameCategory") && x.Name == name).FirstOrDefault();
        if (category != null && category.HasValue("icon"))
        {
            return category.Value<IPublishedContent>("icon").Url();
        }
        else
        {
            return string.Empty;
        }
    }
    public string GetModuleName(string name)
    {
        var category = Umbraco.ContentAtRoot().FirstOrDefault().Descendants().Where(x => x.ContentType.Alias.Equals("gameCategory") && x.Name == name).FirstOrDefault();
        if (category != null && category.HasValue("displayName"))
        {
            return category.Value<string>("displayName");
        }
        else
        {
            return string.Empty;
        }
    }
    public class Language
    {
        public string name { get; set; }
        public string code { get; set; }
        public string state { get; set; }
    }
}
@functions{
    public string GetImageUrl(IPublishedContent obj)
    {
        return obj != null ? obj.Url() : string.Empty;
    }
}

<!-- Slider section ---->
<div class="inside-gray-header">
    <article class="inside_banner">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-12">
                    <div class="content-block w-50 m-auto text-center">
                        <h2 class="games-heading-1">@Model.Value("heading")</h2>
                        @Model.Value("description")
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
<article class="all_games_sec">
    <div class="all_games_navbar sticky-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" href="@Model.Url()">
                                <svg class="yellowIcon" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><defs><style>.a{fill:none;}.b{fill:#FF9700;}</style></defs><rect class="a" width="40" height="40"></rect><path fill="#8F8F9A" d="M42.75,45h-8.5A2.25,2.25,0,0,1,32,42.75v-8.5A2.25,2.25,0,0,1,34.25,32h8.5A2.25,2.25,0,0,1,45,34.25v8.5A2.25,2.25,0,0,1,42.75,45Zm15,0h-8.5A2.25,2.25,0,0,1,47,42.75v-8.5A2.25,2.25,0,0,1,49.25,32h8.5A2.25,2.25,0,0,1,60,34.25v8.5A2.25,2.25,0,0,1,57.75,45Zm-15,15h-8.5A2.25,2.25,0,0,1,32,57.75v-8.5A2.25,2.25,0,0,1,34.25,47h8.5A2.25,2.25,0,0,1,45,49.25v8.5A2.25,2.25,0,0,1,42.75,60Zm15,0h-8.5A2.25,2.25,0,0,1,47,57.75v-8.5A2.25,2.25,0,0,1,49.25,47h8.5A2.25,2.25,0,0,1,60,49.25v8.5A2.25,2.25,0,0,1,57.75,60Z" transform="translate(-26 -26)"></path></svg>
                                All games</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="all_games_drop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="/media/sphhor3n/icon-face-gray.svg" class="grayIcon" alt="Icon Face Gray">
                                    
                                    Actee games
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="all_games_drop">
                                    @foreach (var gameCategory in gameCategories)
                                    {
                                       if (gameCategory != null)
                                        {
                                            <li><a class="dropdown-item" href="@Model.Url()?category=@gameCategory.Name">
                                            @if (gameCategory.HasValue("headerGamesIcon"))
                                            {
                                            var img = gameCategory.Value<IPublishedContent>("headerGamesIcon");
                                                <img src="@GetImageUrl(img)" class="yellowIcon" alt="@img.Name">
                                            } @gameCategory.Value("moduleName")
                                        </a></li>
                                        }
                                    }
                                </ul>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <button class="btn srchIconBtn" type="button"><img src="~/img/icon-search.svg" alt=""></button>
                        </form>
                    </nav>
                </div>
            </div>
        </div>
        <div class="searchBox">
            <div class="search_bar_holder">
                <form id="myform">
                    <input name="search" id="gameID" class="form-control me-2" type="text" placeholder="Search for games" aria-label="Search">
                    <img src="~/img/icon-remove-gray.svg" class="removeBtn" alt="" />
                    <input type="hidden" id="hiddenID" name="gamePageId" value="@gamePageId" />
                </form>
            </div>
        </div>
    </div>
    <div class="all_games_holder">
        <div class="container">
            <div id="update_games" class="row">
                @{
                    var asdf = allGames.OrderBy(x => !x.Value<bool>("isFreeGame"));
                }
                @if (allGames != null)
                {
                    int i = 0, j = 0;
                    foreach (var item in allGames.OrderBy(x => !x.Value<bool>("isFreeGame")))
                    {
                        var auhGame = allGames.Where(x => x.Name.Contains(item.Name)).FirstOrDefault();
                        var auhGameDescription = (item.HasValue("caseDescription"))?item.Value<string>("caseDescription"):string.Empty;
                        var sectioncolor = string.Empty;
                        var bgcolor = string.Empty;
                        var parentCat = item.Parent.Value<string>("category");
                        if (parentCat == "ActeeChange")
                        {
                            sectioncolor = "purpleOverlay";
                            bgcolor = "purpleBg";
                        }
                        else if (parentCat == "ActeeCommunication")
                        {
                            sectioncolor = "greenOverlay";
                            bgcolor = "greenBg";
                        }
                        else if (parentCat == "ActeeLeadership")
                        {
                            sectioncolor = "redOverlay";
                            bgcolor = "redBg";
                        }
                        else if (parentCat == "Quiz")
                        {
                            sectioncolor = "redOverlay";
                            bgcolor = "redBg";
                        }
                        else if (parentCat == "Styletrade")
                        {
                            sectioncolor = "blueOverlay";
                            bgcolor = "blueBg";
                        }
                        string CaseId = item.Value<string>("uid");
                        var gameimg = item.Value<IPublishedContent>(imageUrl);
                        var imgName = item.Value<string>("imageUrl");
                        var userimg = item.Value<IPublishedContent>("gameUserImage");
                        var gameImg = item.Value<IPublishedContent>("gameImage");
                        var bottomcontent = item.Value<IEnumerable<IPublishedElement>>("gameList");
                        <div class="col-md-4" data-id="@item.Id">
                            <div class="img-block">
                                <div class="all_games_img @sectioncolor">
									<a href="#" data-bs-toggle="modal" data-bs-target="@modalIdHash@counter" class="infoIcon"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><defs><style>.a{fill:none;}.b{fill:#6557F9;}</style></defs><rect class="a" width="40" height="40"/><path class="b" d="M71,56A15,15,0,1,0,86,71,15.017,15.017,0,0,0,71,56Zm0,6.15a1.95,1.95,0,1,1-1.95,1.95A1.95,1.95,0,0,1,71,62.15ZM74.6,79.1H68a1.2,1.2,0,0,1,0-2.4h2.1V70.1H68.9a1.2,1.2,0,1,1,0-2.4h2.4a1.2,1.2,0,0,1,1.2,1.2v7.8h2.1a1.2,1.2,0,1,1,0,2.4Z" transform="translate(-51 -51)"/></svg></a>

<!-- Modal -->
<div class="modal fade infoPopup @Convert.ToString(item.Value("gameHeading")).Replace(" ","")-card-modal" id="@modalId@counter" tabindex="-1" aria-labelledby="@modalId@counter-Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
		<div class="modal-header">
			<div class="game-title ">
				<div class="icon-bubble ">
					@Html.Raw(item.Parent.Value("sectionIconUrl"))
				</div>
				<h1 class="">@item.Value("gameHeading")</h1>
			</div>
		</div>
      <div class="modal-body">
        <div class=" outer-box ">
			<div class="inner-box game-details text-center">
				<div class="mid">
					<div class="pt-1">
					    @if (!string.IsNullOrEmpty(item.Value<string>("theory")))
                        {
						<span class="icon"><img src="~/media/0h2jwkhe/icon-light-bulb.svg" alt=""></span>
                         <p>@(item.Value<string>("theory"))</p>
                        }
					</div>
					<div class="pt-1">
					    @if (!string.IsNullOrEmpty(item.Value<string>("length")))
                        {
					    <span class="icon"><img src="~/media/40kikt1k/icon-duration.svg" alt=""></span>
                            <p>@(item.Value<string>("length"))</p>
                        }
					</div>
					<div class="pt-1">
					    @if (!string.IsNullOrEmpty(item.Value<string>("language")))
                        {
					     <span class="icon"><img src="~/media/s1tnttj2/icon-language.svg" alt=""> </span>
                            <p>@GetLanguageName(item.Value<string>("language"))</p>
                        }
					</div>
					<div class="pt-1"> 
				     	@if (!string.IsNullOrEmpty(item.Value<string>("playedGame")))
                        {
					     <span class="icon playedIcon"><img src="~/media/oiiprcc0/played_icon.png" alt=""></span>
                            <p>@(item.Value<string>("playedGame"))</p>
                        }
					</div>
				</div>
				<div class="bottom description">
					@if (!string.IsNullOrEmpty(auhGameDescription))
                    {
                      <h3>Description</h3>
                       @Html.Raw(auhGameDescription)
                    }
				</div>
				<div class="play-game">
                    @*<p> <a class="bg-orange" href="@(item.Parent.Value<string>("downloadHandoutButtonLink"))">@item.Parent.Value("downloadHandoutButtonText")</a></p>*@
                    @* <p> <a class="bg-orange" href="@(item.Parent.Value<string>("testGamesButtonLink"))">@(item.Parent.Value<string>("playGameButtonLink"))@item.Parent.Value("testGamesButtonText")</a></p>*@
                    <p> <a class="btn" href="https://app.actee.com/#/app/createcompanyhub">@item.Parent.Value("playGameButtonText")</a></p>
                </div>
			</div>
		</div>
      </div>
		<div class="d-flex justify-content-center mt-5">
			<div class="popupCancelBtn">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				<button type="button" class="btn btn-secondary partner-modal-close-button" data-bs-dismiss="modal">Close window</button>
			</div>
		</div>
    </div>
  </div>
</div>
                                    @if (!string.IsNullOrEmpty(imgName))
                                    {
                                        <img class="w-100" src="@imageUrl@imgName" />
                                    }
                                    else
                                    {
                                        <img class="w-100" src="@(gameImg?.Url())" />
                                    }

                                    <span class="icon_box @bgcolor">
                                        <img src='@GetImageUrl(item.Parent.Value<IPublishedContent>("icon"))' alt="">@(item.Parent.Value<string>("moduleName"))
                                    </span>
                                    <div class="user_holder">
                                        <span class="user_img">
                                            <img src="@GetImageUrl(userimg)" alt="">
                                        </span>
                                        <span class="user_text">
                                            <a href="@item.Parent.Url()">@item.Value("gameUserName")</a>
                                            <span>@item.Value("userProfile")</span>
                                        </span>
                                    </div>
                                </div>
                                <a href="@item.Parent.Url()" style="color:black; text-decoration:none"><h5 class="mt-4">@item.Value("gameHeading")</h5></a>
                                <ul>
                                    @if (!string.IsNullOrEmpty(item.Value<string>("theory")))
                                    {
                                        <li><img src="/media/q3zlqddy/icon-light-bulb1.svg" alt=""><span>@(item.Value<string>("theory"))</span></li>
                                    }

                                    @if (!string.IsNullOrEmpty(item.Value<string>("length")))
                                    {
                                        <li><img src="/media/rxopvffo/icon-duration.svg" alt=""><span>@(item.Value<string>("length"))</span></li>
                                    }

                                    @if (!string.IsNullOrEmpty(GetLanguageName(item.Value<string>("language"))))
                                    {
                                    
                                        <li style=" word-break: break-all;align-items: start;"><img src="/media/rhilewub/icon-language1.svg" alt=""><span>@GetLanguageName(item.Value<string>("language"))</span></li>
                                    }
                                    @if (!string.IsNullOrEmpty(item.Value<string>("playedGame")))
                                    {
									 <li style=" word-break: break-all;align-items: start;"><img src="~/media/quobbvpb/gray-played-icon.png" alt="" class="grayPlayedIcon"><span>@(item.Value<string>("playedGame"))</span></li>
                                    }
                                </ul>
								<div class="game_tile_btn">
									<a href="https://app.actee.com/#/app/createcompanyhub ">@item.Parent.Value("hostButtonText")</a> <!-- @*item.Parent.Value("hostButtonLink")@item.Parent.Value("playButtonLink")@item.Parent.Value("editButtonLink")*@-->
                                    <a href="https://app.actee.com/#/app/createcompanyhub "><button type="button">@item.Parent.Value("playButtonText")</button></a>
                                    <a href="https://app.actee.com/#/app/createcompanyhub ">@item.Parent.Value("editButtonText")</a>
								</div>
                            </div>
                        </div>
                        counter++;
                    }
                }
                @if (allGames.Count() == 0)
                {
                    <h2>Games not found</h2>
                }
            </div>
        </div>
    </div>
</article>
@*------Popup Modal for gallery End-------*@
<div id="Youtube_video" class="custom_modal popup_overlay">
    <div class="modal_popup">
        @*<a class="close" href="#">&times;</a>*@
        <div class="modal_body">
            <div class="book" style="height:450px;">
                <iframe width="100%" height="450px" class="video-iframe" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
@section PageJS{
    <script>
        var SetCookiesValue = function (cookiedata, Id) {
            $.cookie.json = true;
            $.cookie("CaseRedirectionUrl", cookiedata, { expires: 7, path: '/', secure: false, domain: "actee.com" });
            $.cookie("ActeeCaseId", Id, { expires: 7, path: '/', secure: false, domain: "actee.com" });
        }
        function goToScenario(CaseModule, CaseId) {
            var ActeeUrl = "https://app.actee.com/#/app/Games/new?GameModule=" + CaseModule;
            SetCookiesValue(ActeeUrl, CaseId);
            window.location.href = ActeeUrl;
        }
    </script>

    <script>
        $(".add-more-game-btn").click(function () {
            $(this).parent().siblings().find(".games-box").removeClass("hidden-box");
            $(this).addClass("hidden-box");
            $(this).siblings().removeClass("hidden-box");
        });
        $(".less-more-game-btn").click(function () {
            $(this).parent().siblings().find(".games-box").addClass("hidden-box");
            $(this).addClass("hidden-box");
            $(this).siblings().removeClass("hidden-box");
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.srchIconBtn').click(function () {
                $('.searchBox').addClass('show_div');
            })
            $('.removeBtn').click(function () {
                $('.searchBox').removeClass('show_div');
            })
        });
    </script>

    <script>
        $(function () {
            debugger;
            $("#myform").submit(function (e) {
                e.preventDefault();
                var searchVal = $("#gameID").val();
                var id = $("#hiddenID").val();
                //get the action-url of the form
                var actionurl = "/umbraco/surface/Games/SearchGames?id=" + id + "&searchVal=" + searchVal;
                //do your own request an handle the results
                $.ajax({
                    url: actionurl,
                    type: 'GET',
                    error: function (xhr) {
                        alert('Error: ' + xhr.statusText);
                    },
                    success: function (data) {
                        $("#update_games").html(data);
                    }
                });

            });

        });
    </script>
}
