﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "MasterPage.cshtml";
    var rootDescendents = Model.Root().Descendants();
    var banner = Model.Value<IPublishedContent>("banner");
    var banner2 = Model.Value<IPublishedContent>("banner2");
    var banner3 = Model.Value<IPublishedContent>("banner3");
    var SliderItems = Model.Value<IEnumerable<IPublishedElement>>("slidersWithText").ToList();
    var gamesSliders = Model.Value<IEnumerable<IPublishedContent>>("gamesSlider");
    var networkSliders = Model.Value<IEnumerable<IPublishedContent>>("networkSlider");
    var testimonialpics = Model.Value<IEnumerable<IPublishedContent>>("images");
    var testimonialcontent = Model.Value<IEnumerable<IPublishedElement>>("content");
    var toolbanner = Model.Value<IPublishedContent>("bannerImage");
    var toolcontent = Model.Value<IEnumerable<IPublishedElement>>("bottomSections");
    var aboutusimage = Model.Value<IPublishedContent>("rightSideImage");
    var modules = Model.Value<IEnumerable<IPublishedElement>>("modules");
    var getstartedbanner = Model.Value<IPublishedContent>("background");
    var gameCategories = rootDescendents.Where(x => x.ContentType.Alias.Equals("gameCategoryPage")).ToList();
    var gamesPage = rootDescendents.Where(x => x.ContentType.Alias.Equals("games")).FirstOrDefault();
    var faqPage = rootDescendents.Where(x => x.ContentType.Alias.Equals("fAQ")).ToList().FirstOrDefault();
    var categoryicon = faqPage.Value<IPublishedContent>("fAQIcon");
    var categoryitems = faqPage.Value<IEnumerable<IPublishedElement>>("fAQCategory").Take(6);
    var faqCategoryNames = rootDescendents.Where(x => x.ContentType.Alias.Equals("faqCategory")).Select(x => x.Name).ToList();
    var partnerships = rootDescendents.Where(x => x.ContentType.Alias.Equals("partnerships")).FirstOrDefault();
    var partnershipicon = partnerships.Value<IPublishedContent>("partnershipsIcons");
    var business = rootDescendents.Where(x => x.ContentType.Alias.Equals("subpage")).FirstOrDefault();
    var businessicon = business.Value<IPublishedContent>("image");
    var university = rootDescendents.Where(x => x.ContentType.Alias.Equals("universities")).FirstOrDefault();
    var universityicon = university.Value<IPublishedContent>("universitiesIcon");
    var pricingsection = rootDescendents.Where(x => x.ContentType.Alias.Equals("scalablePricing")).FirstOrDefault();
    var pricingicon = pricingsection.Value<IPublishedContent>("pricingIcon");
    var partnersPageImage = rootDescendents.Where(x => x.ContentType.Alias == "partners").FirstOrDefault().Children.Where(x=> x.HasValue("partnersImage")).Select(x => x.Value<IPublishedContent>("partnersImage").GetCropUrl(500, useCropDimensions: false)).ToList();
    var count = 0;
    var id = "#accId";
    var area = "accId";
    var labelBy = "labelBy";
    int slidercount = 0;
    var clientcount = 1;
    var clientid = 1;
    int bsSlideNo = 0;
    int ariaLabelSlideNo = 1;
}
@functions{
    public string GetImageUrl(IPublishedContent obj)
    {
        return obj != null ? obj.Url() : string.Empty;
    }
}
@* the fun starts here *@
<article class="bann_slider">
    <div class="bannr_padding_holder">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-6 order-md-2">
                    <div id="carouselB" class="carousel slide carouselBoth" data-bs-ride="carousel">

                        <div class="carousel-inner custom-carousel-inner">
                            <div class="carousel-item active">
                                <div class="bann_img">
                                    @if (banner != null)
                                    {<img src="@banner.Url()" />
                                    }
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="bann_img">
                                    @if (banner2 != null)
                                    {<img src="@banner2.Url()" />
                                    }
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="bann_img">
                                    @if (banner3 != null)
                                    {<img src="@banner3.Url()" />
                                    }
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
                            @if (Model.HasValue("bannerText"))
                            {
                                <div class="col-md-5">
                                    @Model.Value("bannerText")
                                    <div class="btn-alt d-flex align-items-center"><a href="@Model.Value("testAGameLink")" class="btn-rect text-decoration-none">@Umbraco.GetDictionaryValue("Home.BannerSection.RightButton", "Test a game")</a> <a href="@Model.Value("seeOurPricing")" class="btn-rect text-decoration-none">@Umbraco.GetDictionaryValue("Home.BannerSection.LeftButton", "See our pricing")</a></div>
                                    @Model.Value("bannerShortText")
                                </div>
                            }
                        </div>
                    </div>
                </div>
</article>
<article class="quiz-slider py-100">
    <div class="container">
        <div id="carouselA" class="carousel slide carouselBoth" data-bs-ride="carousel">
            <div class="carousel-indicators custom-indicators">
                <button type="button" data-bs-target="#carouselA" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselA" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselA" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner custom-carousel-inner">
                @if (SliderItems.Count > 0)
                {
                    foreach (var item in SliderItems)
                    {
                        var img = item.Value<IPublishedContent>("sliderImages");
                        <div class="carousel-item @(slidercount==0?"active":"")">
                            <span class="row d-flex slid_box">
                                <div class="col-md-5 popup-img">
                                    <a href="@item.Value("sliderImageLink")"><img src="@img.Url()"></a>
                                </div>
                                <div class="col-md-7 popup-text d-flex align-items-center">
                                    <div>
                                    @item.Value("sliderDescriptions")
                                    </div>
                                </div>
                            </span>
                        </div>
                        slidercount++;
                    }
                }
            </div>
        </div>
    </div>
</article>
<article class="trusted-logo py-100">
    <p class="companies-heading text-center">
        Trusted by some of the world’s best companies
    </p>
    <section class="customer-logos slider ">
        @foreach (var item in partnersPageImage)
        {
            <div class="slide">
                <img src="@item">
            </div>
        }
    </section>
</article>
<!--- Game slider section ----->
<article class="quiz-slider py-100 game-slider homeSlider">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="carouselExampleCaptions1" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators custom-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>

                    <div class="carousel-inner">
                        @if (gamesSliders != null)
                        {
                            slidercount = 0;
                            foreach (var item in gamesSliders)
                            {
                                <div class="carousel-item @(slidercount==0?"active":"")">
                                    <div class="row">
                                        <img class="carousel-img-custom" src="@(item?.Url())" alt="Learncircle">
                                    </div>
                                </div>
                                slidercount++;
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                @Model.Value("gamesText")
                <p><a class="btn-rect text-decoration-none" href="@Model.Value("gameLearnMoreButtonLink")">@Umbraco.GetDictionaryValue("Common.LearMoreButton", "Learn more")</a></p>
            </div>
        </div>
        <div class="cirl_sec">
            <div class="row">
                @foreach (var gameCategory in gameCategories.Take(3))
                {
                    var img = gameCategory.Value<IPublishedContent>("sectionIcon");
                    <div class="col-md-4">
                        <div class="partner_box">
                            <img src="@GetImageUrl(img)">
                            <p class="module-types_heading">@gameCategory.Name</p>
                            @gameCategory.Value("shortDescription")
                            <a class="games-link-a" href="@gameCategory.Url()">@Umbraco.GetDictionaryValue("Common.LearMoreButton", "Learn more")</a>
                        </div>
                    </div>
                }
            </div>
            <div class="games-link">
                <a class="games-link_a" href="@gamesPage.Url()">@Umbraco.GetDictionaryValue("Common.SeeAllGames", "See all games")</a>
            </div>
        </div>
    </div>
</article>
<!---  Network section ----->
<article class="quiz-slider py-100 game-slider network-slider homeSlider">
    <div class="container">
        <div class="row ">
            <div class="col-md-8 order-md-2">
                <div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators custom-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        @if (networkSliders != null)
                        {
                            slidercount = 0;
                            foreach (var item in networkSliders)
                            {<div class="carousel-item @(slidercount==0?"active":"")">

                                    <div class="row">
                                        <img class="carousel-img-custom" src="@(item?.Url())" alt="Learncircle">
                                    </div>
                                </div>
                                slidercount++;
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                @Model.Value("networkLeftText")
                <p><a class="btn-rect text-decoration-none" href="@Model.Value("joinForFreeLink")">@Umbraco.GetDictionaryValue("Common.JoinForFree", "Join for free")</a></p>
            </div>
        </div>
        <div class="cirl_sec">
            <div class="row">
                <div class="col-md-4">
                    <div class="partner_box">
                        <img src="@(partnershipicon?.Url())">
                        <p class="module-types_heading">@partnerships.Value("partnershipsHeading")</p>
                        @partnerships.Value("partnershipsDescriptions")
                        @{
                            IPublishedContent partnershipLearnMoreButton = partnerships.Value<IPublishedContent>("partnershipLearnMoreButton");

                            IPublishedContent businessLearnMoreButton = business.Value<IPublishedContent>("businessesLearnMoreButton");

                            IPublishedContent universityLearnMoreButton = university.Value<IPublishedContent>("universitiesLearnMoreButton");
                        }
                        <a class="games-link-a" href="@GetImageUrl(partnershipLearnMoreButton)">@partnerships.Value("partnershipLearnMore")</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="partner_box">
                        <img src="@(businessicon?.Url())">
                        <p class="module-types_heading">@business.Value("heading")</p>
                        @business.Value("shortDescription")
                        <a class="games-link-a" href="@GetImageUrl(businessLearnMoreButton)">@business.Value("businessesLearnMore")</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="partner_box">
                    @if (universityicon != null)
                        {
                            <img src="@(universityicon.Url())">

                        }
                        
                        <p class="module-types_heading">@university.Value("universitiesHeading")</p>
                        @university.Value("universitiesDescription")
                        <a class="games-link-a" href="@GetImageUrl(universityLearnMoreButton)">@university.Value("universitiesLearnMore")</a>
                    </div>
                </div>
            </div>
            <div class="games-link">
                <a class="games-link_a" href="/network-partnerships/">@Umbraco.GetDictionaryValue("Common.SeeAllNetworks", "See all network")</a>
            </div>
        </div>
    </div>
</article>
<!---- testimonial section -->
<article class="testimonial_sec">
    <div class="container">
        <div class="testimonial-section text-center">
            <div id="quote-carousel" class="carousel slide" data-bs-ride="carousel">

                <div class="carousel-indicators">
                    @foreach (var image in testimonialpics)
                    {

                        var testclass = string.Empty;
                        if (clientcount == 2)
                        {
                            testclass = "center_test active";
                        }
                        <button type="button" data-bs-target="#quote-carousel" data-bs-slide-to="@bsSlideNo" aria-current="true" aria-label="Slide @ariaLabelSlideNo">
                            <img src="@(image?.Url())" class="@testclass" alt="client-@clientcount">
                        </button>
                        bsSlideNo++;
                        ariaLabelSlideNo++;
                        clientcount++;
                    }
                </div>
                <div class="carousel-inner testimonial-contents">
                    @foreach (var text in testimonialcontent)
                    {
                        var testclass = string.Empty;
                        if (clientid == 2)
                        {
                            testclass = "active";
                        }
                        <div class="carousel-item @testclass " id="client-@clientid">
                            <div class="testimonial-words ">
                                @text.Value("testimonialContent")

                                <span class="contact-name d-block">@text.Value("authorName")</span>
                                <span class="contact-role d-block">@text.Value("designation")</span>
                            </div>
                        </div>
                        clientid++;
                    }
                </div>
            </div>
        </div>
    </div>
</article>
<!---  FAQ  Section---->
<article class="gray-box faq-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="content-block">
                    <img src="@(categoryicon?.Url())">
                    <p class="faq-heading mt-4">@faqPage.Value("fAQHeading")</p>
                    <p class="games-desc">
                        @faqPage.Value("fAQDescription")
                    </p>
                </div>
                <div>
                    <a href="@faqPage.Url()" class="games-link-a">@Umbraco.GetDictionaryValue("Common.SeeAllQuestions", "See all questions")</a>
                </div>
            </div>
            <div class="col-md-8">
                @foreach (var faqCatName in faqCategoryNames)
                {
                    var faqCatList = categoryitems.Where(x => x.Value<IPublishedContent>("categoryName").Name.Equals(faqCatName)).ToList();
                    if (faqCatList.Count() > 0)
                    {
                        <div class="faq_accordions">
                            <p class="accordion-title">@faqCatName</p>
                            <div class="categorya">
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    @foreach (var item in faqCatList)
                                    {
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="@(labelBy + count)">
                                                <button class="accordion-button collapsed shadow-none border-0 bg-light ps-0" type="button" data-bs-toggle="collapse" data-bs-target="@(id + count)" aria-expanded="false" aria-controls="@(area + count)">
                                                    @item.Value("categoryHeading")
                                                </button>
                                            </h2>
                                            <div id="@(area + count)" class="accordion-collapse collapse" aria-labelledby="@(labelBy + count)" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body ps-0">@item.Value("categoryDescription")</div>
                                            </div>
                                        </div>
                                        count++;
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</article>
<article class="light-box tool-sec">
    <div class="container">
        <div class="row col-md-12">
            <img src="@(toolbanner?.Url())">
        </div>
        <div class="cirl_sec">
            <div class="row">
                @foreach (var tool in toolcontent)
                {
                    var icon = tool.Value<IPublishedContent>("icon");
                    <div class="col-md-4">
                        <div class="partner_box">
                            <img src="@(icon?.Url())">
                            <p class="module-types_heading">@tool.Value("title")</p>
                            @tool.Value("description")
                            @{
                                IPublishedContent typedContentPicker = tool.Value<IPublishedContent>("link");
                                var toolUrl = typedContentPicker != null ? typedContentPicker.Url() : string.Empty;
                            }
                            <a class="games-link-a" @*href="/tool-box/tool-box-single-page-1/"*@ href="@toolUrl">@Umbraco.GetDictionaryValue("Common.LearMoreButton", "Learn more")</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</article>
<!--- About section  ---->
<article class="light-box about-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="img-block">
                    <img class="w-100" src="@(aboutusimage?.Url())">
                </div>
            </div>
            <div class="col-md-7">
                <div class="content-block">
                    <p class="games-heading mt-3">@Model.GetProperty("sectionTitle").Value()</p>
                    <p class="games-heading-1">@Model.GetProperty("aboutSectionHeading").Value()</p>
                    @Model.GetProperty("description").Value()
                    <div style="padding-left: 0" class="row col-md-12">
                        @foreach (var module in modules)
                        {
                            <div class="col-md-4">
                                <p class="about-module-head">@module.Value("moduleHeading")</p>
                                <p class="about-module-desc">@module.Value("moduleDescription")</p>
                            </div>
                        }
                        @Model.Value("bodyText")
                    </div>
                    <div>
                        <a @*href="/tool-box/tool-box-single-page-1/"*@ href="@Model.Value("buttonLink")" class="btn-rect text-decoration-none about-btn d-inline-block">@Umbraco.GetDictionaryValue("Common.LearMoreButton", "Learn more")</a>
                    </div>
                </div>
            </div>
        </div>
</article>
<!--- About section  ---->
<!-- Scalabe pricing css --->
<article class="light-box pricing-box">
    <div class="container">
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="content-block">
                            <img src="@(pricingicon?.Url())">
                            <p class="faq-heading mt-4">@pricingsection.Value("pricingHeading")</p>
                            <div class="games-desc">
                                @pricingsection.Value("pricingText")
                            </div>
                        </div>
                        <div>
                            <a href="/company/pricing/" class="games-link-a">@Umbraco.GetDictionaryValue("Pricing.See.All.Plans", "See all plans")</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="price-cards">
                                    @pricingsection.Value("freeLearningHeading")
                                    <a class="btn-price-rect text-decoration-none d-flex align-items-center justify-content-center" href="/company/pricing/">@Umbraco.GetDictionaryValue("Pricing.GetStarted", "Get started")</a>
                                    @pricingsection.Value("freeLearningDescription")
                                    <a class="games-link-a mt-2 d-inline-block" href="/company/pricing/">@Umbraco.GetDictionaryValue("Pricing.See.All.Features", "See all features")</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="price-cards">
                                    @pricingsection.Value("paidLearningHeading")
                                    <a class="btn-price-rect text-decoration-none d-flex align-items-center justify-content-center" href="/company/pricing/">@Umbraco.GetDictionaryValue("Pricing.See.All.Plans", "See all plans")</a>
                                    <p class="contact-name"> @pricingsection.Value("paidLearningHeading2")</p>
                                    <div class="price-features-list">
                                        <div class="d-flex align-items-center justify-content-between engage_box">
                                            <p class="module-types-desc m-0">@pricingsection.Value("paidFeature1")</p>
                                            <a class="games-link-a" href="/company/pricing/">@Umbraco.GetDictionaryValue("Pricing.See.Plan", "See plan")</a>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between engage_box">
                                            <p class="module-types-desc m-0">@pricingsection.Value("paidFeature2")</p>
                                            <a class="games-link-a" href="/company/pricing/">@Umbraco.GetDictionaryValue("Pricing.See.Plan", "See plan")</a>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between engage_box">
                                            <p class="module-types-desc m-0">@pricingsection.Value("paidFeature3")</p>
                                            <a class="games-link-a" href="/company/pricing/">@Umbraco.GetDictionaryValue("Pricing.See.Plan", "See plan")</a>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between engage_box">
                                            <p class="module-types-desc m-0">@pricingsection.Value("paidFeature4")</p>
                                            <a class="games-link-a" href="/company/pricing/">@Umbraco.GetDictionaryValue("Pricing.See.Plan", "See plan")</a>
                                        </div>
                                    </div>
                                    <a class="games-link-a mt-2 d-inline-block" href="/company/pricing/">@Umbraco.GetDictionaryValue("Pricing.See.All.Features", "See all features")</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
<!--  Get started --->
<article class="get-started text-center">
    <div class="container">
        <div class="get-startedin position-relative" style="background:url(@(getstartedbanner?.Url())) no-repeat;background-size: cover;
    background-position: center center;">
            <p class="get-started-heading">@Model.Value("getStartedHeading")</p>
            @Model.Value("getStartedDescription")
            <a class="btn-get-started-rect text-decoration-none d-inline-block" href="@Model.Value("button1Link")">@Umbraco.GetDictionaryValue("Home.TestAGame.For.Free", "Test a game for free")</a>
            <a class="started-link-a d-block" href="@Model.Value("button2Link")">@Umbraco.GetDictionaryValue("Header.CreateGameButton", "Create a game")</a>
        </div>
    </div>
</article>
<!--  Get started --->

@section HomeJS{
    <script>
        var carouselA = document.getElementById('carouselA')
        var carouselB = document.getElementById('carouselB')

        carouselA.addEventListener('slide.bs.carousel', function (e) {
            var bsCarouselB = bootstrap.Carousel.getInstance(carouselB)
            bsCarouselB.to(e.to)
        })
    </script>
}