﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using System.Text.RegularExpressions;
@using Umbraco.Web.Models
@{
    Layout = "MasterPage.cshtml";
    var Partners = Model.HasValue("partners") ? Model.Value<IEnumerable<IPublishedContent>>("partners") : null;
    int modelId = 0;
    List<IPublishedContent> partners = new List<IPublishedContent>();
    var battlegames = Model.HasValue("openBattleGames") ? Model.Value<IEnumerable<IPublishedElement>>("openBattleGames") : null;
    var scores = Model.Value<IEnumerable<IPublishedElement>>("score");
    var ClientReviewSlider = Model.Value<IEnumerable<IPublishedElement>>("content");
    var imageUrl = "https://app.actee.com/CasePictures/";
    var k = 0;
    var n = 0;
    IPublishedContent joinbattlegame = Model.HasValue("selectGame") ? Model.Value<IPublishedContent>("selectGame") : null;
    var CaseId = joinbattlegame != null ? joinbattlegame.Value<string>("uid") : string.Empty;
    var CaseModule = joinbattlegame != null ? joinbattlegame.Value<string>("moduleName") : string.Empty;
    List<IPublishedElement> openbattlegames = new List<IPublishedElement>();
    List<IPublishedElement> closebattlegames = new List<IPublishedElement>();
    var image = Model.Value<IPublishedContent>("image").Url();
    if (battlegames != null)
    {
        foreach (var item in battlegames)
        {

            if (item.Value<string>("state") == "662")
            {

                openbattlegames.Add(item);

            }
            else
            {
                closebattlegames.Add(item);
            }

        }
    }
}
@functions{
    public string GetImageUrl(IPublishedContent obj)
    {
        return obj != null ? obj.Url() : string.Empty;
    }
}
<head>
    <style>
        .inside_header_sec {
            background-image: url(@image);
        }
    </style>
</head>

<section class="wrapper-bg">
    @if (Model.HasValue("stepStoneHeading") || Model.HasValue("stepStoneDescription"))
    {
        <div class="MeetStep">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="MeetStepContent">
                            <h2>@Model.Value("stepStoneHeading")</h2>
                            @Html.Raw(Model.Value("stepStoneDescription"))

                            @if (Model.HasValue("readMoreButtonText"))
                            {
                                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#exampleModal_More_info" class="btn btn-primary">@Model.Value("readMoreButtonText")</a>
                            }

                        </div>
                    </div>

                    <div class="col-md-6 offset-md-1">
                        <div class="MeetStepImage1">
                            @if (Model.HasValue("stepStoneImage"))
                            {
                               @Html.Raw(Model.Value("stepStoneImage"))
                            }

                        </div>
                    </div>

                </div>
            </div>
        </div>
    }

    @if (joinbattlegame != null)
    {
        <div class="MeetStep stepstone joinBattle">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="MeetStepImage">
                            @{
                                if (Model.HasValue("gameLink"))
                                {
                                var playButton = Model.Value<IEnumerable<Link>>("gameLink");
                                if (playButton != null && joinbattlegame != null  && playButton.Any())
                                {
                                   foreach (var item in playButton)
                                    {
                                        var link = item.Url;
                                        <a class="BattleBox" href="javascript:void(0);" onclick="goToGame('@link');">
                                            <img src="@(imageUrl + joinbattlegame.Value<string>("imageUrl"))" />
                                            <span class="play-text">play</span>
                                            <p>@joinbattlegame.Name</p>
                                        </a>
                                    }
                                  }
                                }
                            }
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="MeetStepContent">
                            <h2>@Model.Value("joinBattleHeading")</h2>
                            <div class="MeetStepImage">
                                @{
                                    if (Model.HasValue("gameLink"))
                                    {
                                    var playButtons = Model.Value<IEnumerable<Link>>("gameLink");
                                    if (playButtons != null && joinbattlegame != null && playButtons.Any())
                                    {
                                        foreach (var item in playButtons)
                                        {
                                            var links = item.Url;
                                            <a class="BattleBox" href="javascript:void(0);" onclick="goToGame('@links');">
                                                <img src="@(imageUrl + joinbattlegame.Value<string>("imageUrl"))" />
                                                <span class="play-text">Play</span>
                                                <p>@joinbattlegame.Name</p>
                                            </a>
                                        }
                                      }
                                    }
                            }
                            </div>
                            @Html.Raw(Model.Value("joinBattleDescription"))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                @if (scores != null)
                {
                    <div class="BgSec">
                        <div class="TopScores">
                            <h2>@Model.Value("topScoresHeading") </h2>
                            <div class="top-score-list">

                                @{

                                    int l = 0;
                                }

                                @foreach (var item in scores.OrderByDescending(a => a.Value("playerScore")))
                                {
                                    <div class="topScoreList @(l++ > 4 ? "topscore hidden-box" : string.Empty)">
                                        <div class="PlayerSec">
                                            <span class="playerName">@item.Value("playerName")</span>
                                            <span class="PCompany">@item.Value("playerCompany")</span>
                                        </div>
                                        <span>
                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#exampleModaltopscore_@(n++)">@item.Value("playerScore")</a>
                                        </span>
                                    </div>
                                }

                            </div>
                            <div class="plus-minus">
                                <a class="add-more-game-btn plus" href="javascript:void(0);">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 401.4 401.4" style="enable-background:new 0 0 401.4 401.4;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#F19B38;}
	.st1{fill:#FFFFFF;}
</style>
<g id="Layer_2">
	<circle class="st0" cx="200.7" cy="200.7" r="200.7"/>
</g>
<g id="Capa_1">
	<g>
		<g>
			<g id="plus">
				<g>
					<path class="st1" d="M295.6,181.3h-72.8v-72.8c0-12.1-9.8-21.8-21.8-21.8c-12.1,0-21.8,9.8-21.8,21.8v72.8h-72.8       c-12.1,0-21.8,9.8-21.8,21.8c0,12.1,9.8,21.8,21.8,21.8H179v72.8c0,12.1,9.8,21.8,21.8,21.8c12.1,0,21.8-9.8,21.8-21.8V225       h72.8c12.1,0,21.8-9.8,21.8-21.8C317.4,191.1,307.6,181.3,295.6,181.3z"/>
				</g>
			</g>
		</g>
	</g>
</g>
</svg>
                                </a>
                                <a class="less-more-game-btn hidden-box minus" href="javascript:void(0);">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 401.4 401.4" style="enable-background:new 0 0 401.4 401.4;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#F19B38;}
	.st1{fill:#FFFFFF;}
</style>
<g id="Layer_2">
	<circle class="st0" cx="200.7" cy="200.7" r="200.7"/>
</g>
<path class="st1" d="M296.8,224.8H104.6c-11.3,0-20.5-9.2-20.5-20.5V202c0-11.3,9.2-20.5,20.5-20.5h192.3c11.3,0,20.5,9.2,20.5,20.5  v2.3C317.3,215.6,308.1,224.8,296.8,224.8z"/>
</svg>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @if (Model.HasValue("meetStepStoneImage") || Model.HasValue("meetStepStoneHeading") || Model.HasValue("meetStepStoneDescription"))
    {
        <div class="MeetStep stepstone">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="MeetStepImage">
                            @if (Model.HasValue("meetStepStoneImage"))
                            {
                                <img src="@(Model.Value<IPublishedContent>("meetStepStoneImage").Url())" />
                            }

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="MeetStepContent">
                            <h2>@Model.Value("meetStepStoneHeading")</h2>
                            @Html.Raw(Model.Value("meetStepStoneDescription"))
                        </div>
                    </div>



                </div>
            </div>
        </div>
    }
    <section class="light-box employee_listing">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div style="margin-top: 30px;">
                        <h3 style="font-size: 32px;font-weight: 400;">@Model.Value("ourSpeakersHeading")</h3>

                    </div>
                </div>
            </div>
            @if (Partners != null)
            {
                <div class="block" id="Default">
                    <ul class="row js-sortable" id="shuffleItemList">
                        @foreach (var item in Partners)
                        {

                            var desc = item.Value<string>("partnerDescription");
                            var employeeDes = Html.Raw(desc).ToString().Substring(0, Math.Min(Math.Max(0, 200), desc.Length));
                            var socialmedialist1 = item.HasValue("socialMediaList") ? item.Value<IEnumerable<IPublishedContent>>("socialMediaList") : null;
                            <li class="col-lg-4 col-sm-6 blog-filter" data-groups="">
                                <div class="employee-box">
                                    <div class="employee-thumbnail" style="height: 290px;display: flex;align-items: center;overflow: hidden;">
                                        @if (item.HasValue("partnersImage"))
                                        {
                                            <img src="@(item.Value<IPublishedContent>("partnersImage").Url())" style="width:100%" alt="">
                                        }
                                    </div>
                                    <div class="employee_details">
                                        <h4>@Html.Raw(item.Value("partnerName"))</h4>

                                        <div class="isCertifier_logo" style=" display: flex;justify-content: center;min-height:50px;">
                                            @if (item.Value<bool>("isCertifier"))
                                            {
                                                <img src="~/assets/Images/teacher-right-orange-512px.png" style="height: 50px;" />
                                                <span style="margin-top: 15px;margin-left: 10px;">Can Certify Others</span>
                                            }
                                        </div>
                                        <div class="social_icon">
                                            @if (socialmedialist1 != null)
                                            {
                                                <ul>
                                                    @foreach (var icon in socialmedialist1)
                                                    {
                                                        if (icon.HasValue("iconImage"))
                                                        {
                                                            <li>
                                                                <a href="@(icon.Value("socialMediaName").ToString().ToLower().Contains("mail") ? "mailto:" : string.Empty)@icon.Value("iconLink")" target="_blank"><img src="@(icon.Value<IPublishedContent>("iconImage").Url())"></a>
                                                            </li>
                                                        }
                                                    }

                                                </ul>
                                            }
                                        </div>
                                        <div class="employee_job_details_box" data-bs-toggle="modal" data-bs-target="#employeeModal@(item.Id)">
                                            <div class="employee_job_details">
                                                <h5>@Html.Raw(item.Value("desgination"))</h5>
                                                <span>@Html.Raw(employeeDes)</span>
                                            </div>
                                            <div class="employee_job_details_footer">
                                                <div class="footer_dots"></div>
                                                <div class="footer_dots"></div>
                                                <div class="footer_dots"></div>
                                            </div>
                                        </div>
                                        <div class="extra-content" style="display:none">
                                            @{
                                                string worklocation = "";
                                                List<string> certification = new List<string>();
                                                List<string> skills = new List<string>();
                                                List<string> location = new List<string>();

                                                if (partners != null)
                                                {
                                                    foreach (var type in partners)
                                                    {
                                                        if (type.Parent.Name == "Countries")
                                                        {
                                                            location.Add(type.Name);
                                                        }
                                                        else if (type.Parent.Name == "Concepts")
                                                        {
                                                            certification.Add(type.Name);
                                                        }
                                                    }
                                                    worklocation = string.Join(", ", location);
                                                }
                                                <div class="modal-body">
                                                    <div class="group_box">
                                                        <div class="contact-details">
                                                            @if (socialmedialist1 != null)
                                                            {
                                                                foreach (var icon in socialmedialist1)
                                                                {
                                                                    if (icon.Value("socialMediaName").ToString().ToLower().Contains("mail"))
                                                                    {
                                                                        if (icon.HasValue("iconLink"))
                                                                        {
                                                                            <p>Email: <span>@icon.Value("iconLink")</span></p>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                            @if (item.HasValue("contactNumber"))
                                                            {
                                                                <p>Phone: <span>@item.Value("contactNumber")</span></p>
                                                            }
                                                            @if (worklocation.Length > 0)
                                                            {
                                                                <p>Work locations: <span>@worklocation</span></p>
                                                            }
                                                            @if (item.HasValue("languages"))
                                                            {
                                                                <p>Languages: <span>@item.Value("languages")</span></p>
                                                            }
                                                        </div>
                                                        @if (certification != null && certification.Count() > 0)
                                                        {
                                                            <div class="certificated-box">
                                                                <h4>Certificated</h4>
                                                                <div class="certificated-items">
                                                                    @foreach (var cer in certification)
                                                                    {
                                                                        <span>@cer</span>
                                                                    }
                                                                </div>
                                                            </div>
                                                        }

                                                        @if (skills != null && skills.Count() > 0)
                                                        {
                                                            <div class="skills-box">
                                                                <h4>Skills</h4>
                                                                <div class="skill-items">
                                                                    @foreach (var sk in skills)
                                                                    {
                                                                        <div class="skill">
                                                                            <span>@sk</span>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        }
                                                        @if (item.HasValue("employeeDescription"))
                                                        {
                                                            <div class="description">
                                                                <h4>Description</h4>
                                                                <span>@Html.Raw(item.Value("employeeDescription"))</span>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            }

        </div>
    </section>
    <div class="ClientReviewSlider" style="margin-top: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        @{
                            int i = 0;
                        }
                        @if (ClientReviewSlider != null)
                        {
                            <ol class="carousel-indicators">
                                @foreach (var item in ClientReviewSlider)
                                {
                                    <li data-target="#carouselExampleIndicators" data-slide-to="@(i)" class="@(i == 0 ? "active":"") @(i)"></li>
                                    i++;
                                }

                            </ol>
                        }

                        <div class="carousel-inner" id="clientreview">
                            @if (ClientReviewSlider != null)
                            {
                                int j = 0;
                                foreach (var item in ClientReviewSlider)
                                {
                                    <div class="carousel-item @(j==0?"active":"")">
                                        <div class="ClientReviewSliderSec">
                                            <p>
                                                @Html.Raw(item.Value("clientMessage"))
                                            </p>
                                            <div class="media">
                                                <div class="media-left">
                                                    @if (item.HasValue("clientImage"))
                                                    {
                                                        <img src="@(item.Value<IPublishedContent>("clientImage").Url())" alt="" />
                                                    }

                                                </div>
                                                <div class="media-right">
                                                    <h4>@item.Value("clientName")</h4>
                                                    <span>@item.Value("clientType"), @item.Value("clientCountry")</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    j++;
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</section>
@{
    k = 0;
    n = 0;
}
@if (openbattlegames != null)
{
    foreach (var item in openbattlegames)
    {
        <div class="modal fade GameModal" id="exampleModal_@(k++)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                            <img src="/assets/Images/close.png" />
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="GamePopup">

                            <a class="BattleBox" href="#">
                                <img class="GameImage" src="@(item.HasValue("gameImage")?item.Value<IPublishedContent>("gameImage").Url():string.Empty)" alt="">
                                @if (item.Value<string>("state") == "662")
                                {
                                    <img class="lockImage" src="/assets/Images/play-icon.png" onclick="goToScenario('@item.Value("sessionLink")','exampleModal_@(k-1)')" />

                                }

                                <p>@item.Value("gameTitle")</p>
                            </a>




                            <div class="review-text">
                                @Html.Raw(item.Value("detailDescriptionForOpenBattlePopup"))
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
}

@if (closebattlegames != null)
{
    foreach (var item in closebattlegames)
    {
        <div class="modal fade GameModal" id="exampleModal_@(k++)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="/assets/Images/close.png" />
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="GamePopup">

                            <a class="BattleBox" href="#">
                                <img class="GameImage" src="@(item.HasValue("gameImage")?item.Value<IPublishedContent>("gameImage").Url():string.Empty)" alt="">
                                @if (item.Value<string>("state") != "411")
                                {
                                    <img class="lockImage" src="/assets/Images/Icons/lock_icon.svg" alt="" />
                                }

                                <p>@item.Value("gameTitle")</p>
                            </a>
                            <div class="row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="topscore">
                                                <h2>TOP SCORES</h2>
                                                @{
                                                    var topscore = item.Value<IEnumerable<IPublishedContent>>("scores");
                                                }
                                                @if (topscore != null)
                                                {
                                                    foreach (var score in topscore)
                                                    {
                                                        <p>@score.Value("playerName")<span>@score.Value("playerScore") </span> </p>
                                                    }
                                                }

                                            </div>

                                        </div>

                                        <div class="col-md-6 offset-md-1">
                                            <div class="topchoice">
                                                <h2>Status</h2>
                                                @{
                                                    var topChoices = item.Value<IEnumerable<IPublishedContent>>("topChoices");
                                                }
                                                @if (topChoices != null)
                                                {
                                                    foreach (var score in topChoices)
                                                    {
                                                        <p><b>@Html.Raw(score.Value("playerName"))</b>&nbsp; @score.Value("topChoiceStyle")<span>@score.Value("playerScore") </span> </p>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="review-text">
                                @item.Value("consulantMessage")
                            </p>

                            <div class="media">
                                <div class="media-left">
                                    @if (item.HasValue("consulantImage"))
                                    {
                                        <img src="@(item.Value<IPublishedContent>("consulantImage").Url)" alt="">
                                    }

                                </div>
                                <div class="media-right">
                                    <h4>@item.Value("consulantName")</h4>
                                    <span>@item.Value("consulantCountry")</span>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
}
@if (scores != null)
{
    foreach (var item in scores)
    {
        <div class="modal fade GameModal" id="exampleModaltopscore_@(n++)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="/assets/Images/close.png" />
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="GamePopup">

                            <a class="BattleBox" href="javascript:void(0);">
                                <img class="GameImage" src="@(item.HasValue("gameImage")?item.Value<IPublishedContent>("gameImage").Url():string.Empty)" alt="">

                                @if (item.Value<string>("state") != "662")
                                {
                                    <img class="lockImage" src="/assets/Images/Icons/lock_icon.svg" alt="" />
                                }
                                else
                                {
                                    <img class="lockImage" src="/assets/Images/play-icon.png" onclick="goToScenario('@item.Value("sessionlink")','exampleModaltopscore_@(n-1)')" />
                                    @*<span class="play-text" onclick="goToScenario('@item.GetPropertyValue("sessionlink")','exampleModaltopscore_@(n-1)')"> play </span>*@
                                }
                                <p>@item.Value("gameTitle")</p>
                            </a>



                            <div class="row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="topscore">
                                                <h2>TOP SCORES</h2>
                                                <p>@item.Value("playerName")<span>@item.Value("playerScore") </span> </p>
                                            </div>
                                        </div>

                                        <div class="col-md-6 offset-md-1">
                                            <div class="topchoice">
                                                <h2>Status</h2>
                                                @{
                                                    var topChoices = item.Value<IEnumerable<IPublishedContent>>("choices");
                                                }
                                                @if (topChoices != null)
                                                {
                                                    foreach (var score in topChoices)
                                                    {
                                                        <p><b>@Html.Raw(score.Value("playerName"))</b>&nbsp; @score.Value("topChoiceStyle")<span>@score.Value("playerScore") </span> </p>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
}


<div class="modal fade GameModal more_info" id="exampleModal_More_info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="/media/fuxjh3pz/icon_cookies_close.svg" />
                </button>
            </div>
            <div class="modal-body text-center">
                @Html.Raw(Model.Value("readMorePopupContent"))
            </div>
        </div>
    </div>
</div>


@if (Partners != null)
{
    modelId = 0;
    foreach (var item in Partners)
    {
        modelId++;
        //var filterby = item.HasValue("employeeType") ? item.GetPropertyValue<IEnumerable<IPublishedContent>>("employeeType") : null;
        var socialmedialist1 = item.HasValue("socialMediaList") ? item.Value<IEnumerable<IPublishedContent>>("socialMediaList") : null;

        string worklocation = "";
        List<string> certification = new List<string>();
        List<string> skills = new List<string>();
        List<string> location = new List<string>();
        string employeeDes = Html.Raw(item.Value("partnerDescription")).ToString();

        if (partners != null)
        {
            foreach (var type in partners)
            {
                if (type.Parent.Name == "Countries")
                {
                    location.Add(type.Name);
                }
                else if (type.Parent.Name == "Concepts")
                {
                    certification.Add(type.Name);
                }
            }

            worklocation = string.Join(", ", location);
        }
        <div class="modal fade employee_Profile_Model" id="employeeModal@(item.Id)" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="close_button">
                            <a href="javascript:void(0);" class="" data-bs-dismiss="modal" aria-label="Close">
                                <img src="/media/fuxjh3pz/icon_cookies_close.svg" />
                            </a>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="group_box">
                            <h3 class="employee-name">@Html.Raw(item.Value("partnerName"))</h3>
                            <h4 class="employee-job-title">@Html.Raw(item.Value("desgination"))</h4>
                            <div class="card-body">
                                @*<h5 class="card-title">@item.Value("partnerName")</h5>*@
                                <h6 class="card-subtitle mb-2 text-muted">@item.Value("partnerAddress")</h6>
                                <h6 class="cardTitle" style="display:inline; margin-right:10px;">Email:</h6>@item.Value("partnerEmail")<br />
                                <h6 class="cardTitle" style="display:inline; margin-right:10px;">Phone:</h6>@item.Value("contactNumber")<br />
                                <h6 class="cardTitle" style="display:inline; margin-right:10px;">Languages:</h6>@item.Value("partnerLanguages")<br />
                                @{
                                    var partnerDesignationUrl = item.Value<string>("partnerAddressLink");
                                }
                                @if (partnerDesignationUrl.Contains("https://"))
                                {
                                    <a href="@partnerDesignationUrl" class="websitelink"><h6 class="cardTitle" style="display:inline; margin-right:10px;">Website Name:</h6><span>@item.Value("partnerAddressLink")</span></a>
                                }
                                else if (partnerDesignationUrl.Contains("http://"))
                                {
                                    <a href="@partnerDesignationUrl" class="websitelink"><h6 class="cardTitle" style="display:inline; margin-right:10px;">Website Name:</h6><span>@item.Value("partnerAddressLink")</span></a>
                                }
                                else
                                {
                                    <a href="@string.Format("https://"+partnerDesignationUrl)" class="websitelink"><h6 class="cardTitle" style="display:inline; margin-right:10px;">Website Name:</h6><span>@item.Value("partnerAddressLink")</span></a>
                                }
                                <div class="card-skill-box">
                                    <h6 class="cardTitle" style=" margin-top: 10px;">Skills</h6>
                                    @{
                                        var cardsButton = item.Value<IEnumerable<IPublishedElement>>("partnerSkills");
                                        foreach (var cardButton in cardsButton)
                                        {
                                            if (cardButton != null)
                                            {
                                            var partnerCardButtonText = cardButton.Value<string>("partnerCardButtonText");
                                            var partnerCardButtonLink = cardButton.Value<string>("partnerCardButtonLink");
                                            <a href="@partnerCardButtonLink" class="card-link">@partnerCardButtonText</a>
                                            }
                                        }
                                        var skillsByAPI = item.Value<string>("skillsByAPI");
                                        if (!string.IsNullOrEmpty(skillsByAPI))
                                        {
                                            var splitSkills = skillsByAPI.Split(',');
                                            if (splitSkills.Count() > 0)
                                            {
                                                foreach (var splitSkill in splitSkills)
                                                {
                                                    <a href="#" class="card-link">@splitSkill</a>
                                                }

                                            }
                                        }
                                    }
                                </div>
                                </div>
                            @if (item.HasValue("partnerDescription"))
                            {
                                <div class="description">
                                    <h4>Description</h4>
                                    <span>@Html.Raw(item.Value("partnerDescription"))</span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
 <link href="/css/layout.css" rel="stylesheet" />
@section LandingJS{
    <script src="~/Scripts/js/jquery.cookie.js"></script>
    <script src="~/Scripts/js/resize-box.js"></script>
    <script>
        $(document).ready(function () {
            if ($("body").width() > 767) {
                var employee_job_details = 0, preemployee_job_details = 0;
                var social_icons = 0, presocial_icons = 0;
                $(".employee_listing .block ul li").each(function () {
                    employee_job_details = $(this).find(".employee_details").find("h4").height();
                    if (preemployee_job_details < employee_job_details) {
                        preemployee_job_details = employee_job_details;
                    }
                    social_icons = $(this).find('.employee-box').find(".employee_details").find(".social_icon").outerHeight(true);
                    if (presocial_icons < social_icons) {
                        presocial_icons = social_icons;
                    }
                });
                $(".employee_listing .block ul li .employee_details .social_icon").css("height", presocial_icons);
                $(".employee_listing .block ul li .employee_details h4").css("height", preemployee_job_details);

                preemployee_job_details = 0;
                $(".employee_listing .block ul li").each(function () {
                    employee_job_details = $(this).find(".employee_details").find(".employee_job_details_box").find(".employee_job_details").height();
                    if (preemployee_job_details < employee_job_details) {
                        preemployee_job_details = employee_job_details;
                    }
                });

                $(".employee_listing .block ul li .employee_details .employee_job_details_box .employee_job_details").css("height", preemployee_job_details);

                preemployee_job_details = 0;
                $(".employee_listing .block ul li").each(function () {
                    employee_job_details = $(this).find(".employee_details").find(".employee_job_details_box").outerHeight(true);
                    if (preemployee_job_details < employee_job_details) {
                        preemployee_job_details = employee_job_details;
                    }
                });

                $(".employee_listing .block ul li .employee_details .employee_job_details_box").css("height", (preemployee_job_details - 60));

                var employeethumbnail = 0, preemployeethumH = 0;
                var employee_details = 0, preemployeeDetH = 0;;
                $(".employee_listing .block ul li").each(function () {
                    employeethumbnail = $(this).find(".employee-thumbnail").height();
                    if (preemployeethumH < employeethumbnail) {
                        preemployeethumH = employeethumbnail;
                    }
                    employee_details = $(this).find(".employee_details").height();
                    if (preemployeeDetH < employee_details) {
                        preemployeeDetH = employee_details;
                    }
                });

                $(".employee_details").css("height", preemployeeDetH);

                var subscription_boxes = 0, presubscription_boxesH = 0;
                $(".subscription_boxes a ul").each(function () {
                    subscription_boxes = $(this).height();
                    if (subscription_boxes > presubscription_boxesH) {
                        presubscription_boxesH = subscription_boxes;
                    }
                });

                $(".subscription_boxes a ul").css("height", presubscription_boxesH);
            }
        });
    </script>
    <script>
    var SetCookiesValue = function (cookiedata, Id) {
        console.log("SetCookiesValue",cookiedata, Id)
        //$.cookie.json = true;
         $.cookie("CaseRedirectionUrl", JSON.stringify(cookiedata), { expires: 7, path: '/', secure: false, domain: "actee.com" });
        //$.cookie("CaseRedirectionUrl", cookiedata, { expires: 7, path: '/', secure: false, domain: "actee.com" });
        $.cookie("ActeeCaseId", Id, { expires: 7, path: '/', secure: false, domain: "actee.com" });
    }

    function goToGame(redirectUrl)
    {
            if (redirectUrl != "http://" && redirectUrl != "")
            {
                SetCookiesValue(redirectUrl, '@CaseId');
                window.location.href = redirectUrl;
            }
            else
            {
                var ActeeUrl = "https://app.actee.com/#/app/Games/new?GameModule=" + '@CaseModule';
                SetCookiesValue(ActeeUrl, '@CaseId');
                window.location.href = ActeeUrl;
            }

    }

    function buySession(redirecturl) {
        $.cookie.json = true;
        $.cookie("SelectedSessionGame.cookies.actee.com", '@CaseId', { expires: 7, path: '/', secure: false, domain: "actee.com" });
        window.location.href = redirecturl;
    }

    </script>
    <script>
        $(".add-more-game-btn1").click(function () {
            $(this).parent().parent().find(".battle-box").removeClass("hidden-box");
            $(this).addClass("hidden-box");
            $(this).siblings().removeClass("hidden-box");

            var target = $(this).parent().parent().find(".game-box-list").attr("id");

            if (target.length) {
                $("#" + target).stop().animate({
                    scrollTop: $("#" + target).find(".battle-box").height() / 2
                }, 1000);
                return false;
            }
        });
        $(".less-more-game-btn1").click(function () {
            $(this).parent().parent().find(".battle-box").addClass("hidden-box");
            $(this).addClass("hidden-box");
            $(this).siblings().removeClass("hidden-box");
            $(this).parent().parent().find(".battle-box").eq(0).focus();
        });
        $(".plus").click(function () {
            $(this).parent().siblings().find(".topscore").removeClass("hidden-box");
            $(this).addClass("hidden-box");
            $(this).siblings().removeClass("hidden-box");
        });
        $(".minus").click(function () {
            $(this).parent().siblings().find(".topscore").addClass("hidden-box");
            $(this).addClass("hidden-box");
            $(this).siblings().removeClass("hidden-box");
            $(this).parent().siblings().find("p").eq(0).focus();
        });

        function goToScenario(redirectUrl, id) {

            if (redirectUrl != "" && redirectUrl != 'undefined') {
                setTimeout(function () {
                    $('#' + id).modal("hide");
                }, 300);
                //$('.modal').modal('hide');
                window.open(redirectUrl, '_blank');

                //window.location.href = redirectUrl;
            }
        }
        $(".ClientReviewSliderSec p").resizeBoxWithOuterHeight();
    </script>
}