﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Forms.Mvc
@{
    Layout = null;
    var homePage = Model.Root();
    var SiteLogo = homePage.Value<IPublishedContent>("logo");
    var gamelist = homePage.Children.Where(x => x.ContentType.Alias.Equals("games")).FirstOrDefault();
    var singlegame = gamelist.Children.Where(x => x.ContentType.Alias.Equals("gameCategoryPage")).FirstOrDefault();
    var bannerimg = singlegame.Value<IPublishedContent>("bannerImage");
    var linkinIcon = homePage.Value<IPublishedContent>("linkedInIcon");
    var linkinLink = homePage.Value<IPublishedContent>("linkedInLink");
    var twitterIcon = homePage.Value<IPublishedContent>("twitterIcon");
    var twitterLink = homePage.Value<IPublishedContent>("twitterLink");
    var facebookIcon = homePage.Value<IPublishedContent>("facebookIcon");
    var facebookLink = homePage.Value<IPublishedContent>("facebookLink");
    var instaIcon = homePage.Value<IPublishedContent>("instagramIcon");
    var instaLink = homePage.Value<IPublishedContent>("instagramLink");
    IPublishedContent footerTermsConditionsButton = homePage.Value<IPublishedContent>("footerTermsConditionsButton");
    IPublishedContent footerPrivacyCookiesButton = homePage.Value<IPublishedContent>("footerPrivacyCookies");
    IPublishedContent footerGDPRButton = homePage.Value<IPublishedContent>("footerGDPRButton");
    var langUrl = string.Empty;
    if(Model.GetCultureFromDomains() == "en-US")
    {
        langUrl = Model.Url("de-de", UrlMode.Absolute);
    }
    if(Model.GetCultureFromDomains() == "de-DE")
    {
        langUrl = Model.Url("en-us", UrlMode.Absolute);
    }
}
@functions{
    public string GetIPublishedContentUrl(IPublishedContent obj)
    {
        return obj != null ? obj.Url() : string.Empty;
    }
}
@* the fun starts here *@
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/img/icon-face-yellow.svg" type="image/svg" sizes="16x16">
    <title>Actee - Home - Engaging Workplace</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/fonts/fonts.css" rel="stylesheet">
    <link href="~/css/slick.css" rel="stylesheet">
    <link href="~/css/custom.css" rel="stylesheet">
    @Html.RenderUmbracoFormDependencies()
    
     <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MVJHLGZ');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MVJHLGZ"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- Header section ---->
    @if (Model.ContentType.Alias == "gameCategoryPage")
    {
        <div class="inside_header_sec">
            @Html.Partial("_Header");
            @Html.Partial("_singleGameBanner")
        </div>
    }
     @if (Model.ContentType.Alias == "seeMorePage")
    {
        <div class="inside_header_sec">
            @Html.Partial("_Header");
            @Html.Partial("_seeMoreBanner")
        </div>
    }
    @if (Model.ContentType.Alias == "landingSubPage")
    {
        <div class="inside_header_sec">
            @Html.Partial("_Header");
            @Html.Partial("Banner")
        </div>
    }
    @if (Model.ContentType.Alias == "championshipHome")
    {
        <div class="inside_header_sec">
            @Html.Partial("_Header");
            @Html.Partial("Banner")
        </div>
    }
    @if (Model.ContentType.Alias == "overviewConsultancies")
    {
        <div class="inside_header_sec">
            @Html.Partial("_Header");
            @Html.Partial("Banner")
        </div>
    }
    @if(Model.ContentType.Alias != "toolBox" && Model.ContentType.Alias != "news" && Model.ContentType.Alias != "gameCategoryPage" && Model.ContentType.Alias != "references" && Model.ContentType.Alias != "partners" && Model.ContentType.Alias != "scalablePricing" && Model.ContentType.Alias != "landingSubPage" && Model.ContentType.Alias != "championshipHome" && Model.ContentType.Alias != "overviewConsultancies"&& Model.ContentType.Alias != "seeMorePage")
    {
        @Html.Partial("_Header");
    }
    else if (Model.ContentType.Alias == "news")
    {
        <div class="inside-gray-header">
            @Html.Partial("_Header")
            @Html.Partial("_NewsListingHeader")
        </div>
    }
    @RenderBody()
    <!--- Footer ---->
    <footer class="light-grey-box">
        <div class="container">
            <div class="newsletterbox">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6 news-letter-text">
                        <p class="news-sub mb-0">@Umbraco.GetDictionaryValue("Footer.NewsLetter.Title", "Subscribe to our newsletter")</p>
                        <p class="module-types-desc mb-0">@Umbraco.GetDictionaryValue("Footer.NewsLetter.Description", "A monthly digest of the latest Actee news, articles, and resources.")</p>
                    </div>
                    <div class="col-md-6">
                        <div class="position-relative">
                            @Umbraco.RenderMacro("renderUmbracoForm", new { FormGuid = "841ed826-6b11-4313-9a61-542ce4f2c323", FormTheme = "", ExcludeScripts = "0" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-nav">
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget-content">
                            <div class="left-footer-heading">
                                <p>
                                    @Umbraco.GetDictionaryValue("Footer.About.Title", "Actee")
                                </p>
                            </div>
                            <div class="address">
                                <p>Phone: <a href="tel:+4570707505">@Umbraco.GetDictionaryValue("Footer.About.Phone", "+4570707505")</a></p>
                                <p>Email: <a href="mailto:info@actee.com">@Umbraco.GetDictionaryValue("Footer.About.Email", "info@actee.com")</a></p>
                                <p>CVR: <span>@Umbraco.GetDictionaryValue("Footer.About.CVR", "39188392")</span></p>
                            </div>
                        </div>
                        <div class="copyrights">@Umbraco.GetDictionaryValue("Footer.About.CopyRight", "Copyright © 2021")<span><b> @Umbraco.GetDictionaryValue("Footer.About.Title", "Actee")</b></span></div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="">
                                    <div class="left-footer-heading">
                                        <p>@Umbraco.GetDictionaryValue("Games", "Games")</p>
                                    </div>

                                    <div class="right-footer-li">
                                        <ul class="list-unstyled">
                                            <li><a href="/games/circle/">@Umbraco.GetDictionaryValue("Games.Circle", "Circle")</a></li>
                                            <li><a href="/games/barometer/">@Umbraco.GetDictionaryValue("Games.Barometer", "Barometer")</a></li>
                                            <li><a href="/games/bubbles/">@Umbraco.GetDictionaryValue("Games.Bubbles", "Bubbles")</a></li>
                                            <li><a href="/games/quiz/">@Umbraco.GetDictionaryValue("Games.Quiz", "Quiz")</a></li>
                                            <li><a href="/games/cards/">@Umbraco.GetDictionaryValue("Games.Cards", "Cards")</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="">
                                    <div class="left-footer-heading">
                                        <p>@Umbraco.GetDictionaryValue("Tools", "Tools")</p>
                                    </div>
                                    <div class="right-footer-li">
                                        <ul class="list-unstyled">
                                            <li><a href="/tool-box/">@Umbraco.GetDictionaryValue("Tools.Toolbox", "Toolbox")</a></li>
                                            <li><a href="#!">@Umbraco.GetDictionaryValue("Tools.Championship", "Championship")</a></li>
                                            <li><a href="#!">@Umbraco.GetDictionaryValue("Tools.Certifications", "Certifications")</a></li>
                                            <li><a href="#!">@Umbraco.GetDictionaryValue("Tools.Virtual.Lab", "Virtual Lab")</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="">
                                    <div class="left-footer-heading">
                                        <p>@Umbraco.GetDictionaryValue("Company", "Company")</p>
                                    </div>
                                    <div class="right-footer-li">
                                        <ul class="list-unstyled">
                                            <li><a href="#!">@Umbraco.GetDictionaryValue("Company.About.Us", "About Us")</a></li>
                                            <li><a href="/company/references/">@Umbraco.GetDictionaryValue("Company.References", "References")</a></li>
                                            <li><a href="/company/news/">@Umbraco.GetDictionaryValue("Company.News", "News")</a></li>
                                            <li><a href="/company/pricing/">@Umbraco.GetDictionaryValue("Company.Pricing", "Pricing")</a></li>
                                            <li><a href="/company/faq/">@Umbraco.GetDictionaryValue("Company.FAQ", "FAQ")</a></li>
                                            <li><a href="#!">@Umbraco.GetDictionaryValue("Company.Contact", "Contact")</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="">
                                    <div class="left-footer-heading">
                                        <p>@Umbraco.GetDictionaryValue("Network", "Network")</p>
                                    </div>
                                    <div class="right-footer-li">
                                        <ul class="list-unstyled">
                                            <li><a style="color: black" href="/partnerships/partners/">@Umbraco.GetDictionaryValue("Network.Partners", "Partners")</a></li>
                                            <li><a style="color: black" href="#!">@Umbraco.GetDictionaryValue("Network.Consultancies", "Consultancies")</a></li>
                                            <li><a style="color: black" href="/businesses/">@Umbraco.GetDictionaryValue("Network.Businesses", "Businesses")</a></li>
                                            <li><a style="color: black" href="#!">@Umbraco.GetDictionaryValue("Network.Universities", "Universities")</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6">
                        <a class="copyrights pt-0 text-decoration-none" href="@GetIPublishedContentUrl(footerTermsConditionsButton)">Terms & Conditions</a>
                        <a class="copyrights pt-0 text-decoration-none" href="@GetIPublishedContentUrl(footerPrivacyCookiesButton)">Privacy & Cookies</a>
                        <a class="copyrights pt-0 text-decoration-none" href="@GetIPublishedContentUrl(footerGDPRButton)">GDPR</a>
                    </div>
                    <div class="col-md-6 text-end ">
                        <div class="footer-social">
                            <a href="@GetIPublishedContentUrl(linkinLink)" target="_blank" class="d-inline-block">
                                <img src="@GetIPublishedContentUrl(linkinIcon)" alt="social icons">
                            </a>
                            <a href="@GetIPublishedContentUrl(twitterLink)" target="_blank" class="d-inline-block">
                                <img src="@GetIPublishedContentUrl(twitterIcon)" alt="social icons">
                            </a>
                            <a href="@GetIPublishedContentUrl(facebookLink)" target="_blank" class="d-inline-block">
                                <img src="@GetIPublishedContentUrl(facebookIcon)" alt="social icons">
                            </a>
                            <a href="@GetIPublishedContentUrl(instaLink)" target="_blank" class="d-inline-block">
                                <img src="@GetIPublishedContentUrl(instaIcon)" alt="social icons">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="eucookielaw" class="cookie-notice" style="bottom: 0px;">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="cookie_text">
                                    <img src="~/media/c4akt3ae/icon_cookies.svg">
                                    This website uses cookies. You agree to the use of cookies by clicking on the page. <a href="#" target="_parent">Actee Cookie</a>.
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <a href="javascript:void(0);" class="js-remove-cookies">
                                    <div class="cookie_close_icon">
                                        <img src="~/media/fuxjh3pz/icon_cookies_close.svg">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
    <!--- Footer ---->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="~/js/slick.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#langSelector").click(function(){
                    location.href = '@langUrl';
                 });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.customer-logos').slick({
                slidesToShow: 7,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1500,
                arrows: false,
                dots: false,
                pauseOnHover: true,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 4
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        slidesToShow: 3
                    }
                }]
            });
            $('.testimonial-pics img').click(function () {
                $(".testimonial-pics img").removeClass("active");
                $(this).addClass("active");
                $(".testimonial-words").removeClass("active");
                $("#" + $(this).attr("alt")).addClass("active");
            });
            window.onscroll = function () { myFunction() };
            var header = document.getElementById("myHeader");
            var sticky = header.offsetTop;
            function myFunction() {
                if (window.pageYOffset > sticky) {
                    header.classList.add("sticky");
                } else {
                    header.classList.remove("sticky");
                }
            }
        });
        $('.inside_tab_list li').click(function () {
            $('.inside_tab_list li').removeClass("active");
            $(this).addClass("active");
        });
        $("#searchBtn").click(function () {
            debugger;
            if ($(".search_bar_holder").hasClass("hidden-search-area"))
                $(".search_bar_holder").removeClass("hidden-search-area");
            else
                $(".search_bar_holder").addClass("hidden-search-area");
        });
        $(window).scroll(function() {    
    var scroll = $(window).scrollTop();
    if (scroll >= 120) {
        
        $("#myHeader").addClass("sticky2");  
    }
     $(".toolbox_anchor_sec").click(function(){
    	$('html, body').animate({scrollTop: $('#videoScroll').offset().top -100 }, 400);
    });
        });  
           $(".js-remove-cookies").click(function(){
          $(".cookie-notice").hide();  
        });
		
		$(document).ready(function() {
			$(".inside_header_sec a.navbar-brand").append("<img id='theImg' src='/media/s3daozch/white-logo.png'/>");
		});
		
		
    </script>
        @*Support Starts here- Hubspot integration*@
    @*<div class="chat_icon clearfix" onclick="HideSingle()" id="singleButton">
            <a ><img src="~/assets/Images/Icons/Chat_icon.svg" alt=""></a>
        </div>*@
    <div style="display:none" id="DoubleButton">
        <div class="chat_icon-Button clearfix">
            <a><img src="~/assets/Images/Icons/Chat_Icon_Click.png" alt=""></a>
            <!-- Start of HubSpot Embed Code -->
            <script type="text/javascript" id="hs-script-loader" async="" defer="" src="//js.hs-scripts.com/4354848.js"></script> <!-- End of HubSpot Embed Code -->
        </div>
    </div>
    <script type="text/javascript">
        function HideSingle() {
            document.getElementById("DoubleButton").style.display = "Block";
            document.getElementById("singleButton").style.display = "none";
            var element = document.getElementById('hubspot-messages-iframe-container');
            element.setAttribute('style', 'display:initial !important');
            element.style.height = "92px";
            element.style.width = "108px";
        }
    </script><!-- End of HubSpot related code -->
    @RenderSection("PageJS", false)
    @RenderSection("NewsPageJS", false)
    @RenderSection("NetworkPartnerShipJS", false)
    @RenderSection("PartnersJS", false)
    @RenderSection("PricingJS",false)
    @RenderSection("ToolSinglePageJs",false)
    @RenderSection("HomeJS", false)
    @RenderSection("ContactJS", false)
    @RenderSection("certificationJS", false)
    @RenderSection("certificationSinglePageJs", false)
    @RenderSection("VirtualJS", false)
    @RenderSection("LandingJS", false)
    @RenderSection("seemoreJs",false)
    @RenderSection("faqJs", false)
    @*<div style="display:none" id="DoubleButton">
        <div class="chat_icon-Button clearfix">
            <a><img src="https://actee.com/assets/Images/Icons/Chat_Icon_Click.png" alt=""></a>
            <!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader"  src="https://js.hs-scripts.com/20281915.js"></script>
<!-- End of HubSpot Embed Code -->
             </div>
    </div>  
    <script type="text/javascript">
        function HideSingle() {
            document.getElementById("DoubleButton").style.display = "Block";
            document.getElementById("singleButton").style.display = "none";
            var element = document.getElementById('hubspot-messages-iframe-container');
            element.setAttribute('style', 'display:initial !important');
            element.style.height = "92px";
            element.style.width = "108px";
        }
    </script>*@
     <!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader"  src="https://js.hs-scripts.com/20281915.js"></script>
<!-- End of HubSpot Embed Code -->
    
</body>
</html>
