﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models;
@{
    Layout = "MasterPage.cshtml";
    var networkpartnerpage = Model.Value<IEnumerable<IPublishedElement>>("networkPartnership");
    var networkpartnershipcards = Model.Value<IEnumerable<IPublishedElement>>("networkPartnershipsCards");
    var networkbannerItems = Model.Value<IEnumerable<IPublishedElement>>("networkBanner");
    var popups = Model.Value<IEnumerable<IPublishedElement>>("popups");
    var cardcount = 0;
     var certifications = Model.Root().Children.Where(x => x.ContentType.Alias.Equals("certification")).FirstOrDefault();
    var courseList = certifications.Children.Where(x => x.ContentType.Alias.Equals("certificationSinglePage"));

    var Certificationlist = certifications.Children.Where(x => x.ContentType.Alias.Equals("certificationSinglePage"));
    
}
@functions{
    public string GetImageUrl(IPublishedContent obj)
    {
        return obj != null ? obj.Url() : string.Empty;
    }
}
<div class="inside-gray-header">
    <article class="inside_banner partners_bnr certifi_page">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-12">
                    <div class="content-block w-50 m-auto text-center">
                        <h2 class="games-heading-1">
                            @Html.Raw(@Model.Value("networkPartnershipHeading"))
                        </h2>
                        @Model.Value("networkPartnershipDescription")
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
<!-- network section ---->
<article class="network-page-sec">
    <div class="network-partnerships-sec">
        <div class="container custom_container network-page-box">
            <div class="row mt-5">
                <div class="col-md-12">
                    <h5 class="mt-4 tools-single-heading">@Model.Value("networkPartnershipHeading2")</h5>
                    @Model.Value("networkPartnershipDescription2")
                </div>
            </div>
            <h4 class="heding24Size">@Model.Value("networkPartnershipHeading3")</h4>
            <div class="row">
                @foreach (var item in networkpartnershipcards)
                {
                    <div class="col-md-6">
                        <div class="network_box_Holder">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title heding24Size">@item.Value("networkCardsHeading")</h5>
                                    <h6 class="card-subtitle mb-2 text-muted mt-2">@item.Value("networkCardsHeading2")</h6>
                                    @item.Value("networkCardsDescription")
                                    @{
                                        var networkCardsButton = item.Value<IEnumerable<IPublishedElement>>("networkCardButton");
                                        foreach (var cardButton in networkCardsButton)
                                        {
                                            var networkCardButtonText = cardButton.Value<string>("partnerCardButtonText");
                                            var networkCardButtonLink = cardButton.Value<string>("partnerCardButtonLink");
                                            <a href="@networkCardButtonLink" class="card-link">@networkCardButtonText</a>
                                        }
                                    }
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="w-100 yellowBgBtn border-0 mt-5 mb-3">
                                        @Umbraco.GetDictionaryValue("Common.SignupForAConstulant", "Sign up for a consultant certification")
                                    </button>
                                    <div class="text-center mt-1">
                                        <a href="#">@Umbraco.GetDictionaryValue("Common.LearMoreButton", "Learn more")</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    cardcount++;
                }
            </div>
            
            
             @if (courseList != null)
            {
                foreach (var item in courseList)
                {
                    var certificationContent = item.Value<IEnumerable<IPublishedElement>>("certificationContent");
                    <section class="light-box Certification-single">
                        <div class="container">
                            <div class="content">
                            @if (certificationContent != null)
                            {
                          <h4>@item.Name</h4>
                            <div class="certificate-sec">
                                @foreach (var content in certificationContent)
                                {
                                    var signuplink = content.Value<IEnumerable<Link>>("signUpButton");
                                    <div class="box">
                                        <h5>@content.Value("heading")</h5>
                                        <span class="date">@content.Value("dates")</span>
                                        <span class="days">@content.Value("numberOfDays")</span>
                                        <span class="language">Language: @content.Value("langauages")</span>
                                        <span class="price">Price:@content.Value("prices")</span>

                                        @if (signuplink != null && signuplink.Any())
                                        {
                                            {
                                                foreach (var link in signuplink)
                                                {
                                                    <a class="btn btn-primary btn-rect" href="@link.Url" @(Convert.ToBoolean(link.Target) ? "target=_blank" : string.Empty)>@link.Name</a>}
                                            }
                                        }

                                    </div>
                                }

                            </div>
                            }</div>
                            </div>
                        </section>

                            }


                            }

            </div>
            
            @foreach (var bannerItem in networkbannerItems)
            {
                <div class="face-bg-one">
                    <div class="container custom_container">
                        <div class="certified_consultants_box" style="background-image: url( @GetImageUrl(bannerItem.Value<IPublishedContent>("networkBackgroundImage")));">
                            <h4 class="tools-single-heading text-white">@bannerItem.Value("networkBannerText")</h4>
                        </div>
                    </div>
                </div>
                @bannerItem.Value("bannerDescription")
            }
        </div>
    
</article>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog network_dialog">
        <div class="modal-content">
            <div class="modal-body d-flex align-items-center">
                <div class="row">
                    @foreach (var item in popups)
                    {
                        var popupicon = item.Value<IPublishedContent>("popupIcon");
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header">
                                    <img src="@GetImageUrl(popupicon)" alt="" />
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title heding24Size">@item.Value("popupCardHeading")</h5>
                                    @item.Value("popupCardDescription")
                                    @{
                                        var popupCardsButton = item.Value<IEnumerable<IPublishedElement>>("popupCardSkills");
                                        foreach (var items in popupCardsButton)
                                        {
                                            var popupCardButtonText = items.Value<string>("partnerCardButtonText");
                                            var popupCardButtonLink = items.Value<string>("partnerCardButtonLink");
                                            <a href="@popupCardButtonLink" class="card-link">@popupCardButtonText</a>
                                        }
                                    }
                                    <a href="#" class="w-100 yellowBgBtn text-center border-0 mt-5 mb-3">@Umbraco.GetDictionaryValue("Pricing.GetStarted", "Get started")</a>
                                    <div class="text-center mt-1">
                                        <a href="#">@Umbraco.GetDictionaryValue("Common.NeedHelp", "Need help?")</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <div class="popupCancelBtn">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close window</button>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="/css/layout.css" rel="stylesheet" />

@section NetworkPartnerShipJS{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.customer-logos').slick({
                slidesToShow: 5,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1500,
                arrows: false,
                dots: false,
                pauseOnHover: true,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 4
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        slidesToShow: 3
                    }
                }]
            });
            window.onscroll = function () { myFunction() };
            var header = document.getElementById("myHeader");
            var sticky = header.offsetTop;
            function myFunction() {
                if (window.pageYOffset > sticky) {
                    header.classList.add("sticky");
                } else {
                    header.classList.remove("sticky");
                }
            }
        });
    </script>
}
