﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Newtonsoft.Json;
@{
    Layout = "MasterPage.cshtml";
    string stringActive = string.Empty;
    string newsCategoryIconClass = string.Empty;
    var newsCategories = Model.Root().Descendants().Where(x => x.ContentType.Alias.Equals("newsCategory")).ToList();
    var newsCategory = string.Empty;
    var newsId = Model.Id;
    List<IPublishedContent> allNews = new List<IPublishedContent>();
    if (!string.IsNullOrEmpty(Request.QueryString["newscategory"]) && Request.QueryString["newscategory"] != "All Posts")
    {
        newsCategory = Request.QueryString["newscategory"];
        allNews = Model.Children.ToList().Where(x => x.HasValue("newsType") && x.Value<string>("newsType").ToLower().Equals(newsCategory.ToLower())).ToList();
    }
    else if (Request.QueryString["newscategory"] == "All Posts" || string.IsNullOrEmpty(Request.QueryString["newscategory"]))
    {
        allNews = Model.Children.Where(x=>x.ContentType.Alias.Equals("singleNews")).ToList();
    }
    var page = Request.QueryString["newscategory"];
}
<!-- news section ---->
<div class="all_games_navbar sticky-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link  @(page == null?"active":"")" href="/company/news/">
							<svg xmlns="http://www.w3.org/2000/svg" class="yellowIcon" width="40" height="40" viewBox="0 0 40 40"><defs><style>.a{fill:none;}.b{fill:#FF9700;}</style></defs><rect class="a" width="40" height="40"/><path class="b" d="M42.75,45h-8.5A2.25,2.25,0,0,1,32,42.75v-8.5A2.25,2.25,0,0,1,34.25,32h8.5A2.25,2.25,0,0,1,45,34.25v8.5A2.25,2.25,0,0,1,42.75,45Zm15,0h-8.5A2.25,2.25,0,0,1,47,42.75v-8.5A2.25,2.25,0,0,1,49.25,32h8.5A2.25,2.25,0,0,1,60,34.25v8.5A2.25,2.25,0,0,1,57.75,45Zm-15,15h-8.5A2.25,2.25,0,0,1,32,57.75v-8.5A2.25,2.25,0,0,1,34.25,47h8.5A2.25,2.25,0,0,1,45,49.25v8.5A2.25,2.25,0,0,1,42.75,60Zm15,0h-8.5A2.25,2.25,0,0,1,47,57.75v-8.5A2.25,2.25,0,0,1,49.25,47h8.5A2.25,2.25,0,0,1,60,49.25v8.5A2.25,2.25,0,0,1,57.75,60Z" transform="translate(-26 -26)"/></svg>
							<span>All Post</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  @(page == "Games"?"active":"")" href="@Model.Url()?newscategory=Games">
							<svg xmlns="http://www.w3.org/2000/svg" class="grayIcon" width="40" height="40" viewBox="0 0 40 40"><defs><style>.a{fill:none;}.b{fill:#8F8F9A;}</style></defs><rect class="a" width="40" height="40"/><path class="b" d="M122.7,28.629c-1.086-6-5.669-9.708-12.947-9.818V17c-6.679-.1-11.786,4.785-13.121,11.628-1.48.554-3.106,2.089-2.954,3.725a4.131,4.131,0,0,0,3.675,3.77h0c2.281,5.4,6.672,8.875,12.314,8.875s10.056-3.48,12.337-8.875h0a4.111,4.111,0,0,0,3.652-3.77c.177-1.589-1.543-3.108-2.954-3.725Z" transform="translate(-89.668 -11)"/></svg>
							<span>Games</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(page == "Theory"?"active":"")" href="@Model.Url()?newscategory=Theory">
							<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" class="grayIcon" viewBox="0 0 40 40"><defs><style>.a{fill:none;}.b{fill:#8F8F9A;}</style></defs><rect class="a" width="40" height="40"/><path class="b" d="M108,44h-4a1,1,0,0,0,0,2h4a1,1,0,0,0,0-2Zm1-3h-6a1,1,0,1,0,0,2h6a1,1,0,1,0,0-2Zm4.089-22.082A10.007,10.007,0,0,0,96,26a10.265,10.265,0,0,0,3.063,7.477l.272.256C100.46,34.785,102,36.227,102,37.5V39a1,1,0,0,0,1,1h1.5a.5.5,0,0,0,.5-.5V32.176a.5.5,0,0,0-.321-.467,8.171,8.171,0,0,1-1.635-.9,1,1,0,1,1,1.161-1.625A4.505,4.505,0,0,0,106,30a4.535,4.535,0,0,0,1.8-.812,1,1,0,0,1,1.16,1.625,8.17,8.17,0,0,1-1.635.9.5.5,0,0,0-.321.467V39.5a.5.5,0,0,0,.5.5H109a1,1,0,0,0,1-1V37.5c0-1.242,1.523-2.683,2.634-3.736l.307-.291A10.055,10.055,0,0,0,116,26,9.948,9.948,0,0,0,113.088,18.918Z" transform="translate(-86 -11)"/></svg>
							<span>Theory</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  @(page == "Company"?"active":"")" href="@Model.Url()?newscategory=Company">
							<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" class="grayIcon" viewBox="0 0 40 40"><defs><style>.a{fill:none;}.b{fill:#8F8F9A;}</style></defs><rect class="a" width="40" height="40"/><path class="b" d="M43.071,56.143h-.7a.233.233,0,0,1-.233-.232V46.016a.232.232,0,0,0-.095-.19.234.234,0,0,0-.211-.034,6.149,6.149,0,0,1-1.652.277c-.069,0-.134,0-.2,0a6.338,6.338,0,0,1-3.083-.792.482.482,0,0,0-.467,0,6.336,6.336,0,0,1-3.082.792,6.214,6.214,0,0,1-3.06-.8.481.481,0,0,0-.472,0,6.334,6.334,0,0,1-3.1.8,6.219,6.219,0,0,1-3.078-.812.483.483,0,0,0-.476,0,6.219,6.219,0,0,1-3.078.813c-.064,0-.128,0-.2,0h0a6.148,6.148,0,0,1-1.708-.3.234.234,0,0,0-.209.033.232.232,0,0,0-.1.187v9.915a.233.233,0,0,1-.233.232h-.671A.95.95,0,0,0,16,57.03a.926.926,0,0,0,.258.683.936.936,0,0,0,.675.287h26.1A.95.95,0,0,0,44,57.113a.926.926,0,0,0-.258-.683.936.936,0,0,0-.675-.287ZM28.137,52.2a.233.233,0,0,1-.233.232H22.77a.233.233,0,0,1-.233-.232V48.482a.7.7,0,0,1,.7-.7h4.2a.7.7,0,0,1,.7.7Zm9.1,3.946h-4.2a.233.233,0,0,1-.233-.232V48.482a.7.7,0,0,1,.7-.7H36.77a.7.7,0,0,1,.7.7v7.429A.233.233,0,0,1,37.237,56.143ZM43.8,40.025l-2.5-5.716A4.173,4.173,0,0,0,37.485,32H22.519A4.173,4.173,0,0,0,18.7,34.309l-2.5,5.716a2.66,2.66,0,0,0,.169,2.284l.016.026c.029.045.079.116.11.161l.008.012.292.351a.433.433,0,0,0,.035.038l.292.28.024.021a4.063,4.063,0,0,0,.548.393v0a4.333,4.333,0,0,0,2.1.619h.144a4.451,4.451,0,0,0,3.027-1.179l.019-.018a.465.465,0,0,1,.635,0l.019.018a4.526,4.526,0,0,0,6.094,0,.468.468,0,0,1,.634,0,4.527,4.527,0,0,0,6.079.013.461.461,0,0,1,.625,0,4.494,4.494,0,0,0,3.051,1.165h.145a4.177,4.177,0,0,0,2.042-.621c.055-.033.109-.068.162-.1a4.151,4.151,0,0,0,1.065-1.034l.1-.153a.5.5,0,0,0,.028-.049A2.606,2.606,0,0,0,43.8,40.025Z" transform="translate(-10.004 -25)"/></svg>
							<span>Company</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(page == "Other"?"active":"")" href="@Model.Url()?newscategory=Other">
							<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" class="grayIcon" viewBox="0 0 40 40"><defs><style>.a{fill:none;}.b{fill:#8F8F9A;}</style></defs><rect class="a" width="40" height="40"/><path class="b" d="M59.182,32.825A2.778,2.778,0,0,0,57.2,32H49.518a1.914,1.914,0,0,0-1.345.556L32.813,47.912a2.8,2.8,0,0,0,0,3.957l7.312,7.312a2.8,2.8,0,0,0,3.959,0l15.353-15.35a1.913,1.913,0,0,0,.557-1.344V34.8a2.765,2.765,0,0,0-.812-1.975ZM54,40a2,2,0,1,1,2-2A2,2,0,0,1,54,40Z" transform="translate(-25.994 -26)"/></svg>
							<span>Other</span></a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn srchIconBtn" type="button"><img src="/img/icon-search.svg" alt=""></button>
                    </form>
                </nav>
            </div>
        </div>
    </div>
    <div class="searchBox">
        <div class="search_bar_holder">
            <form id="myform">
                <input class="form-control me-2" id="newsID" type="search" name="search" placeholder="Search" aria-label="Search">
                <img src="/img/icon-remove-gray.svg" class="removeBtn" alt="">
                <input type="hidden" id="hiddenID" name="newsId" value="@newsId" />
            </form>
        </div>
    </div>
</div>
<article class="toolbox_sec insideToolBarSec newsWrapper">
    <div class="container">
        <div class="row" id="update_news">
            @foreach (var singleNews in allNews)
            {
                var singleNewsImage = singleNews.Value<IPublishedContent>("newsImage");
                var date = Convert.ToDateTime(singleNews.Value("publishedDate")).ToString("dd MMMM, yyyy");
                <div class="col-md-4">
                    <div class="img-block">
                        <a href="@singleNews.Value("newsLink")">
                            <div class="imgHolderBox">
                                @if (singleNewsImage != null)
                                {
                                    <img class="w-100" src="@singleNewsImage.Url()">
                                }
                                <span class="newsYellowSpan">@singleNews.Value("newsType")</span>
                            </div>
                            <h5 class="mt-4">@singleNews.Value("newsHeading")</h5>
                            <p class="mt-3">@singleNews.Value("shortDescription")</p>
                            <span class="dateText">@date</span>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</article>
@section NewsPageJS{
    <script>
        $(document).ready(function () {
            $('.srchIconBtn').click(function () {
                debugger;
                $('.searchBox').addClass('show_div');
            })
            $('.removeBtn').click(function () {
                $('.searchBox').removeClass('show_div');
            })
        });
    </script>

    <script>
        $(function () {
            debugger;
            $("#myform").submit(function (e) {
                e.preventDefault();
                var searchVal = $("#newsID").val();
                var id = $("#hiddenID").val();
                //get the action-url of the form
                var actionurl = "/umbraco/surface/Games/SearchNews?id=" + id + "&searchVal=" + searchVal;
                //do your own request an handle the results
                $.ajax({
                    url: actionurl,
                    type: 'GET',
                    error: function (xhr) {
                        alert('Error: ' + xhr.statusText);
                    },
                    success: function (data) {
                        $("#update_news").html(data);
                    }
                });

            });

        });
    </script>
}