﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "MasterPage.cshtml";
    string stringActive = string.Empty;
    string partnerCategoryIconClass = string.Empty;
    var partnerpage = Model.Value<IEnumerable<IPublishedElement>>("partners");
    var partnerpagetabs = Model.Value<IEnumerable<IPublishedElement>>("pageTabs");
    List<IPublishedElement> allPartners = new List<IPublishedElement>();
    var partnercards = Model.Value<IEnumerable<IPublishedElement>>("partnerCards");
    var partnershipsPage = Model.Root().Children.Where(x => x.ContentType.Alias == "partnerships").FirstOrDefault();
    var partnerCARD = partnershipsPage.DescendantsOrSelf().Where(x=>x.ContentType.Alias == "partnerCards").ToList();
    allPartners.AddRange(partnerCARD);
    var popupscards = Model.Value<IEnumerable<IPublishedElement>>("popupsCards");
    var tabscount = 0;
    var cardcount = 0;
    var partners = Model.Root().Descendants().Where(x => x.ContentType.Alias.Equals("partners")).ToList();
    var partnertype = string.Empty;
    var partnerAddress = string.Empty;
    var partnerAddLst = new List<string>();
    var partnerId = Model.Id;
    var modalId = "ModalPopup";
    var modalIdHash = "#ModalPopup";
    int counter = 1;
    if (!string.IsNullOrEmpty(Request.QueryString["partnerpage"]) && Request.QueryString["partnerpage"] != "All Posts")
    {

        partnertype = Request.QueryString["partnerpage"];
        allPartners = allPartners.Where(x => x.Value<string>("partnerType").ToLower().Contains(partnertype.ToLower())).ToList();
    }
    var page = Request.QueryString["partnerpage"];
}
@functions{
    public string GetImageUrl(IPublishedContent obj)
    {
        return obj != null ? obj.Url() : string.Empty;
    }
}
<div class="inside-gray-header">
     @Html.Partial("_Header")
    <article class="inside_banner partners_bnr">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-12">
                    <div class="content-block w-50 m-auto text-center">
                        <h2 class="games-heading-1">@Model.Value("partnerPageHeading")</h2>
                        @Model.Value("partnerPageDescription")
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
<!-- partners section ---->
<article class="all_games_sec">
    <div class="all_games_navbar sticky-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link @(page == null?"active":"")" href="/partnerships/partners/">
                                <svg class="yellowIcon" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><defs><style>.a{fill:none;}.b{fill:#FF9700;}</style></defs><rect class="a" width="40" height="40"/><path class="b" d="M42.75,45h-8.5A2.25,2.25,0,0,1,32,42.75v-8.5A2.25,2.25,0,0,1,34.25,32h8.5A2.25,2.25,0,0,1,45,34.25v8.5A2.25,2.25,0,0,1,42.75,45Zm15,0h-8.5A2.25,2.25,0,0,1,47,42.75v-8.5A2.25,2.25,0,0,1,49.25,32h8.5A2.25,2.25,0,0,1,60,34.25v8.5A2.25,2.25,0,0,1,57.75,45Zm-15,15h-8.5A2.25,2.25,0,0,1,32,57.75v-8.5A2.25,2.25,0,0,1,34.25,47h8.5A2.25,2.25,0,0,1,45,49.25v8.5A2.25,2.25,0,0,1,42.75,60Zm15,0h-8.5A2.25,2.25,0,0,1,47,57.75v-8.5A2.25,2.25,0,0,1,49.25,47h8.5A2.25,2.25,0,0,1,60,49.25v8.5A2.25,2.25,0,0,1,57.75,60Z" transform="translate(-26 -26)"/></svg>
                                <span>All Partners</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(page == "company"?"active":"")" href="@Model.Url()?partnerpage=company">
                                <svg class="grayIcon" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><defs><style>.a{fill:none;}.b{fill:#8F8F9A;}</style></defs><rect class="a" width="40" height="40"/><path class="b" d="M43.071,56.143h-.7a.233.233,0,0,1-.233-.232V46.016a.232.232,0,0,0-.095-.19.234.234,0,0,0-.211-.034,6.149,6.149,0,0,1-1.652.277c-.069,0-.134,0-.2,0a6.338,6.338,0,0,1-3.083-.792.482.482,0,0,0-.467,0,6.336,6.336,0,0,1-3.082.792,6.214,6.214,0,0,1-3.06-.8.481.481,0,0,0-.472,0,6.334,6.334,0,0,1-3.1.8,6.219,6.219,0,0,1-3.078-.812.483.483,0,0,0-.476,0,6.219,6.219,0,0,1-3.078.813c-.064,0-.128,0-.2,0h0a6.148,6.148,0,0,1-1.708-.3.234.234,0,0,0-.209.033.232.232,0,0,0-.1.187v9.915a.233.233,0,0,1-.233.232h-.671A.95.95,0,0,0,16,57.03a.926.926,0,0,0,.258.683.936.936,0,0,0,.675.287h26.1A.95.95,0,0,0,44,57.113a.926.926,0,0,0-.258-.683.936.936,0,0,0-.675-.287ZM28.137,52.2a.233.233,0,0,1-.233.232H22.77a.233.233,0,0,1-.233-.232V48.482a.7.7,0,0,1,.7-.7h4.2a.7.7,0,0,1,.7.7Zm9.1,3.946h-4.2a.233.233,0,0,1-.233-.232V48.482a.7.7,0,0,1,.7-.7H36.77a.7.7,0,0,1,.7.7v7.429A.233.233,0,0,1,37.237,56.143ZM43.8,40.025l-2.5-5.716A4.173,4.173,0,0,0,37.485,32H22.519A4.173,4.173,0,0,0,18.7,34.309l-2.5,5.716a2.66,2.66,0,0,0,.169,2.284l.016.026c.029.045.079.116.11.161l.008.012.292.351a.433.433,0,0,0,.035.038l.292.28.024.021a4.063,4.063,0,0,0,.548.393v0a4.333,4.333,0,0,0,2.1.619h.144a4.451,4.451,0,0,0,3.027-1.179l.019-.018a.465.465,0,0,1,.635,0l.019.018a4.526,4.526,0,0,0,6.094,0,.468.468,0,0,1,.634,0,4.527,4.527,0,0,0,6.079.013.461.461,0,0,1,.625,0,4.494,4.494,0,0,0,3.051,1.165h.145a4.177,4.177,0,0,0,2.042-.621c.055-.033.109-.068.162-.1a4.151,4.151,0,0,0,1.065-1.034l.1-.153a.5.5,0,0,0,.028-.049A2.606,2.606,0,0,0,43.8,40.025Z" transform="translate(-10.004 -25)"/></svg>
                                <span>Companies</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(page == "consultant"?"active":"")" href="@Model.Url()?partnerpage=consultant">
                               <svg class="grayIcon" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><defs><style>.a{fill:none;}.b{fill:#8F8F9A;}</style></defs><rect class="a" width="40" height="40"/><path class="b" d="M63,48A15,15,0,1,0,78,63,15.017,15.017,0,0,0,63,48Zm-3.622,8.425a5.1,5.1,0,0,1,7.235.009,4.84,4.84,0,0,1,1.275,3.737C67.675,63,65.483,65.308,63,65.308S58.32,63,58.111,60.169A4.859,4.859,0,0,1,59.378,56.425ZM63,75.692a12.656,12.656,0,0,1-9.087-3.838,8.864,8.864,0,0,1,2.534-2.412,12.657,12.657,0,0,1,13.1,0,8.861,8.861,0,0,1,2.536,2.412A12.653,12.653,0,0,1,63,75.692Z" transform="translate(-43 -43)"/></svg>
                                <span>Consultants</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Model.Value("becomeAPartners")">
                                    <svg class="grayIcon" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><defs><style>.a{fill:none;}.b{fill:#8F8F9A;}</style></defs><rect class="a" width="40" height="40"/><rect class="b" width="24" height="3" rx="1.5" transform="translate(8 18.5)"/><rect class="b" width="24" height="3" rx="1.5" transform="translate(21.5 8) rotate(90)"/></svg>
                                    <span>Become a partner</span></a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <button class="btn srchIconBtn" type="button"><img src="~/img/icon-search.svg" alt=""></button>
                        </form>
                    </nav>
                </div>
            </div>
        </div>
        <div class="searchBox">
            <div class="search_bar_holder">
                <form id="myform">
                    <input class="form-control me-2" id="partnerID" type="search" placeholder="Search for companies or consultants" aria-label="Search">
                    <img src="~/img/icon-remove-gray.svg" class="removeBtn" alt="" />
                    <input type="hidden" id="hiddenID" name="partnerId" value="@partnerId" />
                </form>
            </div>
        </div>
    </div>
    <div class="all_partners_holder">
        <div class="container">
            <div class="row" id="update_partners">
                @foreach (var item in allPartners.OrderBy(n => Guid.NewGuid()))
                {
                    var cardimage = item.Value<IPublishedContent>("partnersImage");
                    var partnerdescription = Convert.ToString(item.Value("partnerDescription"));
                    <div class="col-md-4">
                        <div class="white-txt-block">
                            <div class="card">
                                <div class="card-header">
                                    @if (Convert.ToBoolean(item.Value("isLogo")) == true)
                                    {
                                        <img src="@GetImageUrl(cardimage)" alt="">
                                    }
                                    @if (Convert.ToBoolean(item.Value("isLogo")) != true)
                                    {
                                    <div class="roundUserImg">
                                        <img src="@GetImageUrl(cardimage)" alt="">
                                    </div>
                                    }
                                </div>
                                <div class="card-body" data-bs-toggle="modal" data-bs-target="@modalIdHash@counter">
                                    <h5 class="card-title">@item.Value("partnerName")</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">@item.Value("partnerAddress")</h6>
                                    <p>@Html.Truncate(partnerdescription, 100)</p>
                                    @{
                                        var partnerCardsButton = item.Value<IEnumerable<IPublishedElement>>("partnerSkills");
                                        foreach (var cardButton in partnerCardsButton)
                                        {
                                            var partnerCardButtonText = cardButton.Value<string>("partnerCardButtonText");
                                            var partnerCardButtonLink = cardButton.Value<string>("partnerCardButtonLink");
                                            <a href="@partnerCardButtonLink" class="card-link">@partnerCardButtonText</a>
                                        }
            
                                                    var skillsByAPI = item.Value<string>("skillsByAPI");
                                                    if (!string.IsNullOrEmpty(skillsByAPI))
                                                    {
                                                        var splitSkills = skillsByAPI.Split(',');
                                                        if (splitSkills.Count() > 0)
                                                        {
                                                            foreach (var splitSkill in splitSkills)
                                                            {
                                                                <a href="#" class="card-link">@splitSkill</a>
                                                            }

                                                        }
                                                    }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    cardcount++;
                    @*This is for popups cards *@
                    <div class="modal fade white-txt-block  partner-card-body @Convert.ToString(item.Value("partnerName")).Replace(" ","")-card-modal" id="@modalId@counter" tabindex="-1" aria-labelledby="@modalId@counter-Label" aria-hidden="true" style="display:none !important;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body d-flex align-items-center">
                                    <div class="card">
                                        <div class="card-header">
                                            @if (Convert.ToBoolean(item.Value("isLogo")) == true)
                                            {
                                                <img src="@GetImageUrl(item.Value<IPublishedContent>("partnersImage"))" alt="">
                                            }
                                            @if (Convert.ToBoolean(item.Value("isLogo")) != true)
                                            {
                                                <div class="roundUserImg">
                                                    <img src="@GetImageUrl(cardimage)" alt="">
                                                </div>
                                            }
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">@item.Value("partnerName")</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">@item.Value("partnerAddress")</h6>
                                            <h6 class="cardTitle" style="display:inline; margin-right:10px;">Email:</h6>@item.Value("partnerEmail")<br />
                                            <h6 class="cardTitle" style="display:inline; margin-right:10px;">Phone:</h6>@item.Value("contactNumber")<br />
                                            <h6 class="cardTitle" style="display:inline; margin-right:10px;">Languages:</h6>@item.Value("partnerLanguages")<br />
                                            @{
                                                var partnerDesignationUrl = item.Value<string>("partnerAddressLink");
                                            }
                                            @if (partnerDesignationUrl.Contains("https://"))
                                            {
                                                <a href="@partnerDesignationUrl" class="websitelink"><h6 class="cardTitle" style="display:inline; margin-right:10px;">Website Name:</h6><span>@item.Value("partnerAddressLink")</span></a>
                                            }
                                            else if (partnerDesignationUrl.Contains("http://"))
                                            {
                                                <a href="@partnerDesignationUrl" class="websitelink"><h6 class="cardTitle" style="display:inline; margin-right:10px;">Website Name:</h6><span>@item.Value("partnerAddressLink")</span></a>
                                            }
                                            else
                                            {
                                                <a href="@string.Format("https://"+partnerDesignationUrl)" class="websitelink"><h6 class="cardTitle" style="display:inline; margin-right:10px;">Website Name:</h6><span>@item.Value("partnerAddressLink")</span></a>
                                            }
                                            <div class="card-skill-box">
                                                <h6 class="cardTitle" style=" margin-top: 10px;">Skills</h6>
                                                @{
                                                    var cardsButton = item.Value<IEnumerable<IPublishedElement>>("partnerSkills");
                                                    foreach (var cardButton in cardsButton)
                                                    {
                                                        var partnerCardButtonText = cardButton.Value<string>("partnerCardButtonText");
                                                        var partnerCardButtonLink = cardButton.Value<string>("partnerCardButtonLink");
                                                        <a href="@partnerCardButtonLink" class="card-link">@partnerCardButtonText</a>
                                                    }

                                                    var skillsByAPIs = item.Value<string>("skillsByAPI");
                                                    if (!string.IsNullOrEmpty(skillsByAPI))
                                                    {
                                                        var splitSkills = skillsByAPIs.Split(',');
                                                        if (splitSkills.Count() > 0)
                                                        {
                                                            foreach (var splitSkill in splitSkills)
                                                            {
                                                                <a href="#" class="card-link">@splitSkill</a>
                                                            }

                                                        }
                                                    }
                                                }
                                            </div>
                                            <h6 class="cardTitle">Descriptions</h6>
                                            @item.Value("partnerDescription")
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center mt-5">
                                    <div class="popupCancelBtn">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        <button type="button" class="btn btn-secondary partner-modal-close-button" data-bs-dismiss="modal">Close window</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    counter++;
                }
            </div>
        </div>
    </div>
</article>

@section PartnersJS{
    <script type="text/javascript">
        //import { Console } from "console";

        $(document).ready(function () {
            $('.customer-logos').slick({
                slidesToShow: 5,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1500,
                arrows: false,
                dots: false,
                pauseOnHover: true,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 4
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        slidesToShow: 3
                    }
                }]
            });
            window.onscroll = function () { myFunction() };
            var header = document.getElementById("myHeader");
            var sticky = header.offsetTop;
            function myFunction() {
                if (window.pageYOffset > sticky) {
                    header.classList.add("sticky");
                } else {
                    header.classList.remove("sticky");
                }
            }
            $(document).ready(function () {
                $('.srchIconBtn').click(function () {
                    $('.searchBox').addClass('show_div');
                })
                $('.removeBtn').click(function () {
                    $('.searchBox').removeClass('show_div');
                })

            });
            $(".card-body").click(function () {
                //console.log("card title is: " + $(this).find(".card-title").text());
                $("." + $(this).find(".card-title").text().replace(/\s/g, "") + "-card-modal").show();
            });
            $(".partner-modal-close-button").click(function () {
                $(".partner-card-body").each(function () {
                    $(this).attr("style", "display: none !important");
                });
            });
        });

    </script>

    <script>
        $(function () {
            debugger;
            $("#myform").submit(function (e) {
                $("#update_partners").empty();
                $("#loader").show();
                e.preventDefault();
                var searchVal = $("#partnerID").val();
                var id = $("#hiddenID").val();
                //get the action-url of the form
                var actionurl = "/umbraco/surface/Games/SearchPartners?id=" + id + "&searchVal=" + searchVal;
                //do your own request an handle the results
                $.ajax({
                    url: actionurl,
                    type: 'GET',
                    error: function (xhr) {
                        alert('Error: ' + xhr.statusText);
                    },
                    success: function (data) {
                        $("#update_partners").html(data);
                    }
                });

            });

        });
    </script>
}
