﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "MasterPage.cshtml";
    var referencePages = Model.Children().Where(p => p.ContentType.Alias == "reference");
}
<div class="inside-gray-header">
    @Html.Partial("_Header")
    <article class="inside_banner partners_bnr">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-12">
                    <div class="content-block w-50 m-auto text-center">
                        <h2 class="games-heading-1">@Model.Value("mainHeading")</h2>
                        <p class="welcome-desc">
                            @Model.Value("description")
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </article>
</div>
<!-- partners section ---->
<article class="references_sec">
    <div class="references_holder">
        <div class="container">
            <div class="row">
                @foreach (var singleReference in referencePages)
                {
                    var referenceLogo = singleReference.Value<IPublishedContent>("logo");

                    <div class="col-md-4">
                        <div class="white-txt-block">
                            <div class="card">
                                <a href="@singleReference.Value("textLinks")">
                                    <div class="card-header">
                                        @if (referenceLogo != null)
                                        {
                                            <img src="@referenceLogo.Url()" alt="@referenceLogo.Name">
                                        }
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">@singleReference.Value("mainTitle")</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">@singleReference.Value("subTitle")</h6>
                                        <p class="card-text">@singleReference.Value("description")</p>
                                        <a href="@singleReference.Value("textLinks")" class="card-link">@singleReference.Value("linkText")</a>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</article>
