﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "MasterPage.cshtml";
    var pricingpage = Model.Value<IEnumerable<IPublishedElement>>("scalablePricing");
    var prices = Model.Children.Where(x => x.ContentType.Alias.Equals("pricePage")).ToList();
    var getstarted = Model.Value<IPublishedContent>("getStartedBackgroundImage");
    var features = Model.Value<IEnumerable<IPublishedElement>>("features");
    var support = Model.Value<IEnumerable<IPublishedElement>>("support");
    var access = Model.Value<IEnumerable<IPublishedElement>>("access");
    var data = Model.Value<IEnumerable<IPublishedElement>>("data");
    var customization = Model.Value<IEnumerable<IPublishedElement>>("customization");
    var whiteLabeling = Model.Value<IEnumerable<IPublishedElement>>("whiteLabeling");
    var playerEngagement = Model.Value<IEnumerable<IPublishedElement>>("playerEngagement");
    var readyGamesAndTools = Model.Value<IEnumerable<IPublishedElement>>("readyGamesAndTools");
    var system = Model.Value<IEnumerable<IPublishedElement>>("system");
    var pricingType = Model.Value<string>("pricingType");
    var yearlyRedirectURL = Model.Value<string>("yearlyRedirectionURL");
    var monthlyRedirectURL = Model.Value<string>("monthlyRedirectionURL");
    var page = Model.Name;
    var xrtaClass = "";
}
@functions{
    public string GetImageUrl(IPublishedContent obj)
    {
        return obj != null ? obj.Url() : string.Empty;
    }
}
<!-- Header section ---->
<div class="inside-gray-header">
     @Html.Partial("_Header")
    <article class="inside_banner pricing_bnr">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-12">
                    <div class="content-block w-50 m-auto text-center">
                        <h2 class="games-heading-1">@Model.Value("scalableHeading")</h2>
                        @Model.Value("scalableDescriptions")
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
       
<!--pricing sec--->
<article class="pricing-sec">
    <div class="container">
        <div class="row">
            @foreach (var item in prices)
            {
               if (item.Value<bool>("isPopular"))
                {
                    <div class="col-md-3">
                        <div class="card pricingCard popular">
                            <div class="card-body">
                                <h5 class="card-title fontSize20">@item.Value("priceCardHeading")<span class="popularSpan">@item.Value("popular")</span></h5>
                                <h6 class="tools-single-heading mt-3 mb-0">@item.Value("price")</h6>
                                <span class="cardSpan">@item.Value("priceHeading2")</span>
                                <div class="minHeightBox">
                                    @item.Value("priceDescription")
                                </div>
                                <a href="@item.Value("priceButtonLink")" class="card-link yellowBgBtn w-100 text-center">@item.Value("priceButtonText")</a>

                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3">
                        <div class="card pricingCard">
                            <div class="card-body">
                                <h5 class="card-title fontSize20">@item.Value("priceCardHeading")<span class="popularSpan">@item.Value("popular")</span></h5>
                                <h6 class="tools-single-heading mt-3 mb-0">@item.Value("price")</h6>
                                <span class="cardSpan">@item.Value("priceHeading2")</span>
                                <div class="minHeightBox">
                                    @item.Value("priceDescription")
                                </div>
                                <a href="@item.Value("priceButtonLink")" class="card-link yellowBgBtn w-100 text-center">@item.Value("priceButtonText")</a>

                            </div>
                        </div>
                    </div>

                }
            }
        </div>
         <div class="row text-center">
            <div class="col-md-12">
                <div class="customSwitchBtn">
                    <div class="form-check form-switch">
                        @switch (page)
                        {
                            case "Pricing Monthly":
                                xrtaClass = "pricing_Monthly";
                                break;
                        }
                        <span class="graySpan @xrtaClass">@Model.Value("monthlyText")</span>
                        @if (pricingType.Equals("Monthly Pricing"))
                        {
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
                        }
                        else if (pricingType.Equals("Yearly Pricing"))
                        {
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                        }
                        <label class="form-check-label" for="flexSwitchCheckChecked">@Model.Value("yearlyText") <span class="greenText">@Model.Value("savingText")</span></label>
                    </div>
                </div>
            <p class="my-5">@Model.Value("contactUsDescription")<a href="@Model.Value("contactUsLink")"> @Model.Value("contactUsText")</a> @Model.Value("contactUsDescription2")</p>
            </div>
        </div>
<!--Deepthi removed the on/off-->
        <div class="row">
            <div class="col-md-12">
                <div class="featureTable"> <!--Added below line-Deepthi-->
                    @if (pricingType.Equals("Yearly Pricing"))
                    {
                    <div class="text-center mb-5">
                        <a href="#">See full feature matrix<span class="caret"></span></a>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th class="tableHeading">Features</th>
                                    <th class="widthSecColom">Free</th>
                                    <th class="widthSecColom">Engagement</th>
                                    <th class="widthSecColom">Pro</th>
                                    <th class="widthSecColom">Company</th>
                                </tr>
                                @foreach (var item in features)
                                {
                                    <tr>
                                        <td class="widthTd">@item.Value("featureHeading")</td>
                                        @{
                                            var pricingfeature = item.Value<IEnumerable<IPublishedElement>>("pricingFeature");
                                            foreach (var items in pricingfeature)
                                            {
                                                if (items.Value<bool>("isFree"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("freeFeature")</td>
                                                }
                                                if (items.Value<bool>("isEngagement"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("engagementFeature")</td>

                                                }
                                                if (items.Value<bool>("isProApproach"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("proApproachFeature")</td>
                                                }
                                                if (items.Value<bool>("isLargeLevel"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("largeLevelFeature")</td>
                                                }
                                            }
                                        }
                                    </tr>
                                }
                                <tr class="borderTr">
                                    <td colspan="5" class="heightTd"></td>
                                </tr>
                                <tr>
                                    <td colspan="5"></td>
                                </tr>
                                <!-- Newly added-->
                                <tr>
                                    <th class="tableHeading">Player engagement</th>
                                    <th class="widthSecColom">Free</th>
                                    <th class="widthSecColom">Engagement</th>
                                    <th class="widthSecColom">Pro</th>
                                    <th class="widthSecColom">Company</th>
                                </tr>
                                @foreach (var item in playerEngagement)
                                {
                                    <tr>
                                        <td class="widthTd">@item.Value("featureHeading")</td>
                                        @{
                                            var pricingfeature = item.Value<IEnumerable<IPublishedElement>>("pricingFeature");
                                            foreach (var items in pricingfeature)
                                            {
                                                if (items.Value<bool>("isFree"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("freeFeature")</td>
                                                }
                                                if (items.Value<bool>("isEngagement"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("engagementFeature")</td>

                                                }
                                                if (items.Value<bool>("isProApproach"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("proApproachFeature")</td>
                                                }
                                                if (items.Value<bool>("isLargeLevel"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("largeLevelFeature")</td>
                                                }
                                            }
                                        }
                                    </tr>
                                }
                                <tr class="borderTr">
                                    <td colspan="5" class="heightTd"></td>
                                </tr>
                                <tr>
                                    <td colspan="5"></td>
                                </tr>
                                 <tr>
                                    <th class="tableHeading">Ready games and Tools</th>
                                    <th class="widthSecColom">Free</th>
                                    <th class="widthSecColom">Engagement</th>
                                    <th class="widthSecColom">Pro</th>
                                    <th class="widthSecColom">Company</th>
                                </tr>
                                @foreach (var item in readyGamesAndTools)
                                {
                                    <tr>
                                        <td class="widthTd">@item.Value("featureHeading")</td>
                                        @{
                                            var pricingfeature = item.Value<IEnumerable<IPublishedElement>>("pricingFeature");
                                            foreach (var items in pricingfeature)
                                            {
                                                if (items.Value<bool>("isFree"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("freeFeature")</td>
                                                }
                                                if (items.Value<bool>("isEngagement"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("engagementFeature")</td>

                                                }
                                                if (items.Value<bool>("isProApproach"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("proApproachFeature")</td>
                                                }
                                                if (items.Value<bool>("isLargeLevel"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("largeLevelFeature")</td>
                                                }
                                            }
                                        }
                                    </tr>
                                }
                                <tr class="borderTr">
                                    <td colspan="5" class="heightTd"></td>
                                </tr>
                                <tr>
                                    <td colspan="5"></td>
                                </tr>
                               <!--Ends here -->
                                <tr>
                                   <th class="tableHeading widthFirstColom">Game Builder function</th>
                                    <th class="widthSecColom">Free</th>
                                    <th class="widthSecColom">Engagement</th>
                                    <th class="widthSecColom">Pro</th>
                                    <th class="widthSecColom">Company</th>
                                </tr>
                                 @foreach (var item in customization)
                                {
                                    <tr>
                                        <td class="widthTd">@item.Value("featureHeading")</td>
                                        @{
                                            var pricingfeature = item.Value<IEnumerable<IPublishedElement>>("pricingFeature");
                                            foreach (var items in pricingfeature)
                                            {
                                                if (items.Value<bool>("isFree"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("freeFeature")</td>
                                                }
                                                if (items.Value<bool>("isEngagement"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("engagementFeature")</td>

                                                }
                                                if (items.Value<bool>("isProApproach"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("proApproachFeature")</td>
                                                }
                                                if (items.Value<bool>("isLargeLevel"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("largeLevelFeature")</td>
                                                }
                                            }
                                        }
                                    </tr>
                                }
                                <tr class="borderTr">
                                    <td colspan="5" class="heightTd"></td>
                                </tr>
                                <tr>
                                    <td colspan="5"></td>
                                </tr>
                                <!-- added a feature-->
                                <tr>
                                    <th class="tableHeading">System (LMS functionalities)</th>
                                    <th class="widthSecColom">Free</th>
                                    <th class="widthSecColom">Engagement</th>
                                    <th class="widthSecColom">Pro</th>
                                    <th class="widthSecColom">Company</th>
                                </tr>
                                @foreach (var item in system)
                                {
                                    <tr>
                                        <td class="widthTd">@item.Value("featureHeading")</td>
                                        @{
                                            var pricingfeature = item.Value<IEnumerable<IPublishedElement>>("pricingFeature");
                                            foreach (var items in pricingfeature)
                                            {
                                                if (items.Value<bool>("isFree"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("freeFeature")</td>
                                                }
                                                if (items.Value<bool>("isEngagement"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("engagementFeature")</td>

                                                }
                                                if (items.Value<bool>("isProApproach"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("proApproachFeature")</td>
                                                }
                                                if (items.Value<bool>("isLargeLevel"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("largeLevelFeature")</td>
                                                }
                                            }
                                        }
                                    </tr>
                                }
                                <tr class="borderTr">
                                    <td colspan="5" class="heightTd"></td>
                                </tr>
                                <tr>
                                    <td colspan="5"></td>
                                </tr>
                                <!-- end here-->
                                <tr>
                                    <th class="tableHeading widthFirstColom">White-Label Setup</th> 
                                    <th class="widthSecColom">Free</th>
                                    <th class="widthSecColom">Engagement</th>
                                    <th class="widthSecColom">Pro</th>
                                    <th class="widthSecColom">Company</th>
                                </tr>
                                  @foreach (var item in whiteLabeling) 
                                {
                                    <tr>
                                        <td class="widthTd">@item.Value("featureHeading")</td>
                                        @{
                                            var pricingfeature = item.Value<IEnumerable<IPublishedElement>>("pricingFeature");
                                            foreach (var items in pricingfeature)
                                            {
                                                if (items.Value<bool>("isFree"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("freeFeature")</td>
                                                }
                                                if (items.Value<bool>("isEngagement"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("engagementFeature")</td>

                                                }
                                                if (items.Value<bool>("isProApproach"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("proApproachFeature")</td>
                                                }
                                                if (items.Value<bool>("isLargeLevel"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("largeLevelFeature")</td>
                                                }
                                            }
                                        }
                                    </tr>
                                }
                                <tr class="borderTr">
                                    <td colspan="5" class="heightTd"></td>
                                </tr>
                                <tr>
                                    <td colspan="5"></td>
                                </tr>
                                <tr>
                                     <th class="tableHeading widthFirstColom">Facilitation tools</th>
                                    <th class="widthSecColom">Free</th>
                                    <th class="widthSecColom">Engagement</th>
                                    <th class="widthSecColom">Pro</th>
                                    <th class="widthSecColom">Company</th>
                                </tr>
                                @foreach (var item in access)
                                {
                                    <tr>
                                        <td class="widthTd">@item.Value("featureHeading")</td>
                                        @{
                                            var pricingfeature = item.Value<IEnumerable<IPublishedElement>>("pricingFeature");
                                            foreach (var items in pricingfeature)
                                            {
                                                if (items.Value<bool>("isFree"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("freeFeature")</td>
                                                }
                                                if (items.Value<bool>("isEngagement"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("engagementFeature")</td>

                                                }
                                                if (items.Value<bool>("isProApproach"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("proApproachFeature")</td>
                                                }
                                                if (items.Value<bool>("isLargeLevel"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("largeLevelFeature")</td>
                                                }
                                            }
                                        }
                                    </tr>
                                }
                                <tr class="borderTr">
                                    <td colspan="5" class="heightTd"></td>
                                </tr>
                                <tr>
                                    <td colspan="5"></td>
                                </tr>
                                <tr>
                                    <th class="tableHeading widthFirstColom">Visuality</th>
                                    <th class="widthSecColom">Free</th>
                                    <th class="widthSecColom">Engagement</th>
                                    <th class="widthSecColom">Pro</th>
                                    <th class="widthSecColom">Company</th>
                                </tr>
                              @foreach (var item in data)
                                {
                                    <tr>
                                        <td class="widthTd">@item.Value("featureHeading")</td>
                                        @{
                                            var pricingfeature = item.Value<IEnumerable<IPublishedElement>>("pricingFeature");
                                            foreach (var items in pricingfeature)
                                            {
                                                if (items.Value<bool>("isFree"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("freeFeature")</td>
                                                }
                                                if (items.Value<bool>("isEngagement"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("engagementFeature")</td>

                                                }
                                                if (items.Value<bool>("isProApproach"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("proApproachFeature")</td>
                                                }
                                                if (items.Value<bool>("isLargeLevel"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("largeLevelFeature")</td>
                                                }
                                            }
                                        }
                                    </tr>
                                }
                                <tr class="borderTr">
                                    <td colspan="5" class="heightTd"></td>
                                </tr>
                                <tr>
                                    <td colspan="5"></td>
                                </tr>
                                <tr>
                                  <th class="tableHeading widthFirstColom">Support</th> 
                                    <th class="widthSecColom">Free</th>
                                    <th class="widthSecColom">Engagement</th>
                                    <th class="widthSecColom">Pro</th>
                                    <th class="widthSecColom">Company</th>
                                </tr>
                                @foreach (var item in support) 
                                {
                                    <tr>
                                        <td class="widthTd">@item.Value("featureHeading")</td>
                                        @{
                                            var pricingfeature = item.Value<IEnumerable<IPublishedElement>>("pricingFeature");
                                            foreach (var items in pricingfeature)
                                            {
                                                if (items.Value<bool>("isFree"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("freeFeature")</td>
                                                }
                                                if (items.Value<bool>("isEngagement"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("engagementFeature")</td>

                                                }
                                                if (items.Value<bool>("isProApproach"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("proApproachFeature")</td>
                                                }
                                                if (items.Value<bool>("isLargeLevel"))
                                                {
                                                    <td class="widthSecColom"><img src="~/img/icon-check-yellow.svg" class="checkIcon" alt=""></td>
                                                }
                                                else
                                                {
                                                    <td class="widthSecColom">@items.Value("largeLevelFeature")</td>
                                                }
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    }  <!--end    -Deepthi-->
                </div>
            </div>
        </div>
    </div>
</article>
<article class="get-started text-center">
    <div class="container">
        <div class="get-startedin position-relative" style="background:url(@GetImageUrl(getstarted));background-size: cover;
    background-position: center center;">
            <p class="get-started-heading">@Model.Value("priceGetStartedSection")</p>
            @Model.Value("getStartedSectionDescription")
            <a class="btn-get-started-rect text-decoration-none d-inline-block" href="/network-partnerships/">@Model.Value("getStartedSectionButtonText")</a>
        </div>
    </div>
</article>
@section PricingJS{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.customer-logos').slick({
                slidesToShow: 5,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1500,
                arrows: false,
                dots: false,
                pauseOnHover: true,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 4
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        slidesToShow: 3
                    }
                }]
            });


            window.onscroll = function () { myFunction() };

            var header = document.getElementById("myHeader");
            var sticky = header.offsetTop;

            function myFunction() {
                if (window.pageYOffset > sticky) {
                    header.classList.add("sticky");
                } else {
                    header.classList.remove("sticky");
                }
            }

        });
         $("#flexSwitchCheckChecked").on("change", function () {
            var isChecked = $("#flexSwitchCheckChecked").prop("checked");
            if (isChecked) {
                var redirectionURL = '@yearlyRedirectURL'.split(',');
                var pageLang = location.href.includes('/ge/') ? 'German' : 'English';
                if (pageLang === 'English')
                    location.href = redirectionURL[0].trim();
                else
                    location.href = redirectionURL[1].trim();
            }
            else {
                var redirectionURL = '@monthlyRedirectURL'.split(',');
                var pageLang = location.href.includes('/ge/') ? 'German' : 'English';
                if (pageLang === 'English')
                    location.href = redirectionURL[0].trim();
                else
                    location.href = redirectionURL[1].trim();
            }
        });
    </script>
}