﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models
@using Umbraco.Web.Composing
@using Actee.Web.Helpers

@{
    Layout = "MasterPage.cshtml";
   
    var bannerimg = Model.Value<IPublishedContent>("bannerImage").Url();
    var subHeaderTabs = Model.Value<IEnumerable<Link>>("subHeaderTabs");
    var coursedropdown = Model.Value<IEnumerable<IPublishedElement>>("courseDetail");
    var selectOption = Model.Value<string>("selectOption");
    var umbracoHelper = Current.UmbracoHelper;
    var contentNode = umbracoHelper.ContentSingleAtXPath(String.Format("//{0}", "certificationSinglePage"));
    var courseList = contentNode.Children();
    var nodeid = Model.Id;
    var encodeId = Extensions.Encode(nodeid.ToString());
     var homepage = Model.Root();
    var settingsParent = homepage.Children.Where(x => x.ContentType.Alias.Equals("championshipHome")).FirstOrDefault();
    var settings = settingsParent.Children.Where(x => x.ContentType.Alias.Equals("settingFolder")).FirstOrDefault();

    var popoupNode = settings.Children.Where(x => x.ContentType.Alias.Equals("modelPopup")).FirstOrDefault();
    var modelpopup = Extensions.GetModelPopup(popoupNode);
    var productpladnid = Model.Value<string>("productPlanId");
    var count = 1;
}



<html lang="en">
<head>


    <link href="~/css/slick.css" rel="stylesheet" />
    <link href="~/css/layout.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <style>
        .inside_header_sec {
            background-image: url(@bannerimg);
        }
    </style>

</head>

<body>
        <div class="full_wrapper">
           

                    <section class="sub-header see-more-nav">
                    <div class="container">
                    <div class="row">
                    <div class="col-sm-8">
                    <ul class="sub-nav blog-filter course-scroll">
                    @if (subHeaderTabs.Any())
                    {
                        foreach (var item in subHeaderTabs)
                        {
                            var activeClass = string.Empty;
                            if (count == 1)
                            {
                                activeClass = "active";
                            }
                            <li class=@activeClass><a href=@item.Url>@item.Name</a></li>
                            count++;
                        }
                        
                    }
                   
                    </ul>
                    </div>
                    <div class="col-sm-4 text-right sm-text-center">
                    @if (selectOption == "Course")
                        {
                            <a href="javascript:void(0);" class="rounded_yellow_btn info_btn">@Model.Value("signUpButtonText")</a>
                        }
                        else
                        {
                            var coursename = Model.Value("heading");
                            var coursedate = Model.Value("startDate");
                           
                            var url = "https://app.actee.com/#/app/course-payment?ppid=" + productpladnid + "&course=" + coursename + "&date=" + coursedate ;
                            <a href="@url" class="rounded_yellow_btn info_btn">@Model.Value("signUpButtonText")</a>
                        }
                         @if (selectOption == "Course")
                        {

                    <div class="course_dropdown">
                    <div class="close_btn">
                    <a href="javascript:;" class="closeIcon">
                    </a>
                    </div>
                    <ul>
                        @if (coursedropdown != null && coursedropdown.Any())
                        {
                            foreach (var data in coursedropdown)
                            {
                            <li>
                                <h5>@data.Value("title")</h5>
                                <span>@data.Value("data") </span>
                            </li>
                            }
                        }
                      
                        <li>

                            <a href="javascript:void(0);" class="btn btn-primary btn-rect btn-block openCourseSignUpModal">SIGN UP NOW</a>
                        </li>
                    </ul>
                    </div>
                    }

                    </div>
                    </div>
                    </div>
                    </section>
                    <section class="light-box">
                    <div class="container">
                    <div class="block courses_content">
                    <h2>
                    @Model.Value("heading")
                    </h2>
                    <div id="description">
                   @Model.Value("descriptionSection")
                    </div>
                    <div id="practicalInfo">
                   @Model.Value("praticalInformation")
                    <div id="price">
                    @Model.Value("priceSection")
                    </div>
                    </div>
                    </div>
                        </div>
                       
                    </section>

                    <div class="modal modal_form fade course_signup" id="infoSignUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal_close"><a href="#" class="close-icon" data-dismiss="modal" aria-label="Close">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 23"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;}</style></defs><title>icon_close</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><line class="cls-1" x1="7.5" y1="7.5" x2="15.5" y2="15.5"/><line class="cls-1" x1="15.5" y1="7.5" x2="7.5" y2="15.5"/><circle class="cls-1" cx="11.5" cy="11.5" r="11"/></g></g></svg>
					</a></div>
                    <div class="modal-dialog" role="document">
                    <div class="">
                    <div class="">
                   <div class="input_form">
                            <div class="heading">
                                <h3>@Html.Raw(modelpopup.Value("CourseSignup_Heading"))</h3>
                                <span>@Model.Value("heading") - @Model.Value("startDate")</span>
                            </div>
                            @using (Html.BeginUmbracoForm("CourseSignup", "Course", null, new { id = "CourseSignupForm" }))
                            {
                                <div class="form-group">
                                    <input type="text" name="Name" class="form-control" placeholder="@Html.Raw(modelpopup.Value("namePlaceholder_Text"))" />
                                </div>
                                <div class="form-group">
                                    <input type="text" name="Email" class="form-control" placeholder="@Html.Raw(modelpopup.Value("emailPlaceholder_Text"))" />
                                </div>
                                <div class="form-group">
                                    <div>
                                        <select class="form-control" placeholder="Choose course type" name="course" id="course">
                                            @*<option value="">Choose Course Type</option>*@
                                            @if (courseList != null)
                                            {
                                                foreach (var item in courseList)
                                                {
                                                    <option value="@item.Name">@item.Name</option>
                                                  
                                                }
                                            }
                                        </select>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="Message" placeholder="@Html.Raw(modelpopup.Value("messagebox_Placeholder"))"></textarea>
                                </div>
                                <input type="hidden" name="modelID" id="modelID" value="@encodeId">
                                <div class="form-group text-center">
                                    <input type="submit" class="btn btn-rect" value="@Html.Raw(modelpopup.Value("signUpBtn_Text"))">
                                    @*<a href="#" class="btn btn-primary">SIGN UP NOW</a>*@
                                </div>
                            }
                            <div class="form-group text-center">
                                <span>@Html.Raw(modelpopup.Value("bottomtext"))</span>
                            </div>
                        </div>
                    
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>



                   

                   


                    <!--Model sign up-->
                    

                    <!-- login Modal -->
                    <div class="modal modal_form fade login-modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <a href="#" class="close-icon" data-dismiss="modal" aria-label="Close"><img src="/media/1119/icon_close-1.svg" alt=""></a>
                    <div class="modal-dialog" role="document">
                    <div class="login_nav text-right">
                    <ul>
                    <li><a href="#">Do not have an account?</a></li>
                    <li class="rounded_btn"><a href="javascript:'';" data-toggle="modal" data-target="#myModal" data-dismiss="modal">GET STARTED</a></li>
                    </ul>
                    </div>
                    <div class="row">
                    <div class="col-sm-6 offset-md-3 offset-sm-0">
                    <div class="input_form">
                    <div class="heading">
                    <h3>Sign in to Actee</h3>
                    <span>Please enter your details below or create an account.</span>
                    </div>

                    <div class="form-group">
                    <label>EMAIL ADDRESS</label>
                    <div class="input-control">
                    <input type="text" class="form-control" id="loginusername" placeholder="Chris@emailaddress.com" />
                    <i class="actee_icon mail"></i>
                    <span class="errormessage" style="display:none;">Enter a valid email</span>
                    </div>
                    </div>
                    <div class="form-group">
                    <label>PASSWORD<a href="#">Forgot password?</a></label>
                    <div class="input-control">
                    <input type="password" class="form-control" id="loginpassword" placeholder="password" />
                    <i class="actee_icon lock"></i>
                    </div>
                    </div>
                    <div class="form-group text-center">
                    <button type="submit" id="loginbtn" class="btn btn-primary btn-block">SIGN IN NOW</button>
                    </div>
                    <div class="login_with_social">
                    <div class="row">
                    <div class="col-sm-6">
                    <a href="javascript:;" onclick="FacebookAuth()" class="btn-border btn-block"><i class="icons fb"></i><span>Facebook Sign Up</span></a>
                    </div>
                    <div class="col-sm-6">
                    <a href="javascript:;" onclick="LinkedInAuth()" class="btn-border btn-block"><i class="icons linkdin"></i><span>Linkedin Sign Up</span></a>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>

                    <!-- Information Signup Modal -->
                    <!-- Success Message Modal -->
                    <div class="modal modal_form course_signup" id="myModalsuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal_close"><a href="#" class="btn-close-overlay" data-dismiss="modal" aria-label="Close"></a></div>
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-body">
                    <div class="success_modal">
                    <div class="logo_icon">
                    <img src="/media/1034/logo_dark.svg" class="" alt="">
                    </div>
                    <div class="sucess_msg">
                    <h2 class="text-center">Thank you for your message</h2>
                    <p>Thank you for your message. We'll get back to you promptly.</p>
                    <div class="success_modal_btn">
                    <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Sign up for newsletter!</button>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    <!-- Success Message Modal for Contact -->
                    <div class="modal modal_form course_signup" id="ContactSuccessPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal_close"><a href="#" class="btn-close-overlay" data-dismiss="modal" aria-label="Close"></a></div>
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-body">
                    <div class="success_modal">
                    <div class="logo_icon">
                    <img src="/media/1034/logo_dark.svg" class="" alt="">
                    </div>
                    <div class="sucess_msg">
                    <h2 class="text-center">Thank you for your message</h2>
                    <p>Thank you for your message. We'll get back to you promptly.</p>
                    <div class="success_modal_btn">
                    <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    <!--Error model-->
                    <div class="modal modal_form course_signup" id="myModalError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal_close"><a href="#" class="btn-close-overlay" data-dismiss="modal" aria-label="Close"></a></div>
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-body">
                    <div class="success_modal">
                    <div class="logo_icon">
                    <img src="/media/1034/logo_dark.svg" class="" alt="">
                    </div>
                    <div class="sucess_msg">
                    <h2 class="text-center">Thank you for your message</h2>
                    <p></p>
                    <div class="success_modal_btn">
                    <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>

                   
                    <!-- Social Modal -->
                    <div>
                    <div id="EmailPermissionPopup" style="display:none;">
                    <div class="ng-modal-overlay"></div>
                    <div class='ng-modal'>
                    <div class='ng-modal-dialog warning-popup'>
                    <div class="close_icon ng-modal-close" onclick="HideEmailPermissionPopup()">
                    <a href="javascript:;"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </div>
                    <div class='ng-modal-dialog-content'>
                    <div class="modal-body">
                    <div class="form-group">
                    <h2>You Need To Give Permission to Access Email Id</h2>
                    </div>
                    </div>
                    <div class="modal-footer align-center">
                    <a href="javascript:;" class="btn-link default-btn" onclick="HideEmailPermissionPopup()">Ok</a>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>

                    <div id="SocialAttachmentPopup" style="display:none;">
                    <div class="ng-modal-overlay"></div>
                    <div class='ng-modal'>
                    <div class='ng-modal-dialog warning-popup'>
                    <div class='ng-modal-dialog-content'>
                    <div class="modal-body">
                    <div class="form-group">
                    <h2>You are already login on this system with this email id</h2>
                    <strong id="txtCookieEmailId"></strong>
                    <div id="SocialAttachPassword">
                    <label>Enter Your Password Associated with Above Email ID</label>
                    <input type="password" id="SocialAttachPasswordValue" />
                    <span id="txtPasswordError" class="errormessage" style="display:none;">Enter Password</span>
                    </div>
                    <input type="hidden" id="hdnSocialName" />
                    <input type="hidden" id="hdnCookieEmailId" />
                    <input type="hidden" id="hdnSocialEmailId" />
                    <input type="hidden" id="hdnIsFacebookSocial" />
                    <input type="hidden" id="hdnIsLinkedinSocial" />
                    </div>
                    </div>
                    <div class="modal-footer align-center" id="showAttachNow" style="display:none;">
                    <a href="javascript:;" class="btn-link default-btn" onclick="onSocialAttachEmailNow()">Attach Now</a>
                    </div>
                    <div class="modal-footer align-center" id="showSocialAttachEmailNew">
                    <a href="javascript:;" class="btn-link default-btn" onclick="onSocialAttachEmail()">Attach With This Email Id</a>
                    <a href="javascript:;" class="btn-link default-btn" onclick="onSocialCreateNew()">Create New</a>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>




    @section seemoreJs
    {
                    <!-- Start of HubSpot Embed Code -->
                    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4354848.js"></script> <!-- End of HubSpot Embed Code -->    <div id="fb-root"></div>

                    <script src='https://connect.facebook.net/en_US/all.js'></script>
                    <script type="text/javascript">
                    (function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=293166717799503";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                    </script>
                    <script type="text/javascript" src="//platform.linkedin.com/in.js">

                    </script>


                    <!-- jQuery plugins -->
                    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>             

                    <script src="~/scripts/js/slick.min.js"></script>

                  
                    <script src="~/scripts/js/jquery.validate.min.js"></script>

                  
                    <script src="~/scripts/js/layout.js"></script>



                    <script type="text/javascript">
                    $(function () {
                    //$('.material').materialForm(); // Apply material
                    });
                    $(document).ready(function () {
                    $(".hover-border").hover(function () {
                    $(this).css('border-top-color', $(this).find(".btn-link").css("color"));
                    }, function () {
                    $(this).css('border-top-color', '');
                    });
                    if ($("#userticket").val() == "false") {
                    setTimeout(function () {
                    window.location.href = "http://relationtechnologies.com";
                    }, 10000);

                    }


                    });

                    </script>
                    <script>
                    $(document).ready(function () {
                    if ($("body").width() > 767) {
                    var employee_job_details = 0, preemployee_job_details = 0;
                    var social_icons = 0, presocial_icons = 0;
                    $(".employee_listing .block ul li").each(function () {
                    employee_job_details = $(this).find(".employee_details").find("h4").height();
                    if (preemployee_job_details < employee_job_details) {
                    preemployee_job_details = employee_job_details;
                    }
                    social_icons = $(this).find('.employee-box').find(".employee_details").find(".social_icon").outerHeight(true);
                    if (presocial_icons < social_icons) {
                    presocial_icons = social_icons;
                    }
                    //employee_job_details = $(this).find(".employee_details").find(".employee_job_details_box").find(".employee_job_details").find('h5').height();
                    //if (preemployee_job_details < employee_job_details) {
                    //    preemployee_job_details = employee_job_details;
                    //}
                    });
                    //$(".employee_listing .block ul li .employee_details .employee_job_details_box .employee_job_details h5").css("height", preemployee_job_details);
                    $(".employee_listing .block ul li .employee_details .social_icon").css("height", presocial_icons);
                    $(".employee_listing .block ul li .employee_details h4").css("height", preemployee_job_details);

                    preemployee_job_details = 0;
                    $(".employee_listing .block ul li").each(function () {
                    employee_job_details = $(this).find(".employee_details").find(".employee_job_details_box").find(".employee_job_details").height();
                    if (preemployee_job_details < employee_job_details) {
                    preemployee_job_details = employee_job_details;
                    }
                    });

                    $(".employee_listing .block ul li .employee_details .employee_job_details_box .employee_job_details").css("height", preemployee_job_details);

                    preemployee_job_details = 0;
                    $(".employee_listing .block ul li").each(function () {
                    employee_job_details = $(this).find(".employee_details").find(".employee_job_details_box").outerHeight(true);
                    if (preemployee_job_details < employee_job_details) {
                    preemployee_job_details = employee_job_details;
                    }
                    });

                    $(".employee_listing .block ul li .employee_details .employee_job_details_box").css("height", (preemployee_job_details - 60));

                    var employeethumbnail = 0, preemployeethumH = 0;
                    var employee_details = 0, preemployeeDetH = 0;;
                    $(".employee_listing .block ul li").each(function () {
                    employeethumbnail = $(this).find(".employee-thumbnail").height();
                    if (preemployeethumH < employeethumbnail) {
                    preemployeethumH = employeethumbnail;
                    }
                    employee_details = $(this).find(".employee_details").height();
                    if (preemployeeDetH < employee_details) {
                    preemployeeDetH = employee_details;
                    }
                    });
                    //$(".employee-thumbnail").css("height", preemployeethumH);
                    $(".employee_details").css("height", preemployeeDetH);

                    var subscription_boxes = 0, presubscription_boxesH = 0;
                    $(".subscription_boxes a ul").each(function () {
                    subscription_boxes = $(this).height();
                    if (subscription_boxes > presubscription_boxesH) {
                    presubscription_boxesH = subscription_boxes;
                    }
                    });

                    $(".subscription_boxes a ul").css("height", presubscription_boxesH);
                    }
                    });
                    </script>



                    <div style="display:none" id="DoubleButton">
                    <div class="chat_icon-Button clearfix">
                    <a><img src="/assets/Images/Icons/Chat_Icon_Click.png" alt=""></a>
                    <!-- Start of HubSpot Embed Code -->
                    <script type="text/javascript" id="hs-script-loader" async="" defer="" src="//js.hs-scripts.com/4354848.js"></script> <!-- End of HubSpot Embed Code -->
                    </div>
                    </div>
                    <script type="text/javascript">
                    function HideSingle() {
                    document.getElementById("DoubleButton").style.display = "Block";
                    document.getElementById("singleButton").style.display = "none";
                    var element = document.getElementById('hubspot-messages-iframe-container');
                    element.setAttribute('style', 'display:initial !important');
                    element.style.height = "92px";
                    element.style.width = "108px";
                    }
                    </script>
        }



<script type="text/javascript">

$('div#infoSignUpModal a.close-icon').click(function(){
	$('div#infoSignUpModal, .modal-backdrop.fade.show.dark').toggleClass('show');
	$('div#infoSignUpModal, .modal-backdrop.fade.dark').togglecss({'display':'none'});
	$('body').toggleClass('modal-open');
	$('body').togglecss({'padding-right':'0px'});
});
$("#CourseSignupForm input[type='button']").click(function(){
    window.location.reload();
})

</script>
                    </body>

                </html>
