﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "MasterPage.cshtml";
    var gamelist = Model.Root().Children.Where(x => x.ContentType.Alias.Equals("games")).FirstOrDefault();
    var bannerimg = Model.Value<IPublishedContent>("bannerImage")?.Url() ?? string.Empty;
    var tablist = Model.Value<IEnumerable<IPublishedElement>>("tabs");
    var basicsicon = Model.Value<IPublishedContent>("sectionIcon");
    var basicsslider = Model.Value<IEnumerable<IPublishedContent>>("rightSlider");
    var basicssteps = Model.Value<IEnumerable<IPublishedElement>>("basicsSteps");
    var playicon = Model.Value<IPublishedContent>("playIcon");
    var playslider = Model.Value<IEnumerable<IPublishedContent>>("leftSlider");
    var playsteps = Model.Value<IEnumerable<IPublishedElement>>("playStep");
    var toolboxicon = Model.Value<IPublishedContent>("toolBoxIcon");
    var toolboxsteps = Model.Value<IEnumerable<IPublishedElement>>("toolBoxSteps");
    var testbackground = Model.Value<IPublishedContent>("testBanner");
    var testgameicons = Model.Value<IEnumerable<IPublishedElement>>("testGamesIcons");
    var getstarted = Model.Value<IPublishedContent>("backgroundImage");
    var pricingsection = Model.Root().Descendants().Where(x => x.ContentType.Alias.Equals("scalablePricing")).FirstOrDefault();
    var pricingicon = pricingsection.Value<IPublishedContent>("pricingIcon");
    var tabcount = 0;
    var slidercount = 0;
    var playslidercount = 0;
    var page = Model.Name;
}
<head>
    <style>
        .inside_header_sec {
            background-image: url(@bannerimg);
        }
    </style>
</head>
@if (testbackground != null)
{
    <style>
       .test_game_sec {
           background-image: url(@testbackground.Url())
       }
    </style>
}
@functions{
    public string GetImageUrl(IPublishedContent obj)
    {
        return obj != null ? obj.Url() : string.Empty;
    }
}
<!-- Slider section ---->
<article class="inside_tab_sec">
    <div class="sticky-top tab-bg">
        <div class="container">

            <ul class="inside_tab_list">
                @if (tablist.Count() > 0)
                {
                    foreach (var tab in tablist)
                    {
                        <li class="@(tabcount == 0 ? "active" : "")">
                            <a href="@tab.Value("link")"><span>@tab.Value("numbers")</span><h3>@tab.Value("text1")</h3></a>
                        </li>
                        tabcount++;
                    }
                }
            </ul>
        </div>
    </div>
	
	<div class="scrollHolderBox">
		<div class="scrollHolderRow" id="basics_sec">
			<div class="container">
				<div class="slider_sections game-slider quiz-slider" >
            <div class="row">
                <div class="col-md-4">
                    <div class="content-block pe-4">
                         @Html.Raw(Model.Value("sectionIconUrl"))
                        <h4 class="games-heading-1 my-3">@Model.Value("sectionHeading")</h4>
                        @Model.Value("sectionDescription")
                        <a href="@Model.Value("testButtonLink")" class="btn-rect text-decoration-none mt-3">@Umbraco.GetDictionaryValue("Common.Test.A.Game", "Test a game")</a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div id="carouselExampleCaptions1" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators custom-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            @if (basicsslider.Count() > 0)
                            {
                                foreach (var image in basicsslider)
                                {
                                    <div class="carousel-item @(slidercount == 0 ?"active":"")">

                                        <img class="carousel-img-custom" src="@GetImageUrl(image)" alt="Learncircle">
                                    </div>
                                    slidercount++;
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="basicsBoxHolder">
                <div class="row">
                    @if (basicssteps.Count() > 0)
                    {
                        foreach (var step in basicssteps)
                        {
                            var iconbasic = step.Value<IPublishedContent>("basicsIcon");
                            <div class="col-md-6">
                                <div class="basic_sec_box">
                                     @Html.Raw(step.Value("basicsIconUrl"))
                                    <h4>@step.Value("basicsHeading")</h4>
                                    @step.Value("basicsDescription")
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
			</div>
		</div>
		<div class="scrollHolderRow" id="play_sec">
			<div class="container">
			<div class="slider_sections game-slider quiz-slider" >
            <div class="row">
                <div class="col-md-8">
                    <div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators custom-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            @if (playslider.Count() > 0)
                            {
                                foreach (var image in playslider)
                                {
                                    <div class="carousel-item @(playslidercount == 0 ?"active":"")">
                                        <div class="">
                                            <img class="carousel-img-custom" src="@GetImageUrl(image)" alt="Learncircle">
                                        </div>
                                    </div>
                                    playslidercount++;
                                }
                            }
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="content-block ps-4">
                         @Html.Raw(Model.Value("playiconUrl"))
                        <h4 class="games-heading-1 my-3">@Model.Value("playHeading")</h4>
                        @Model.Value("playDescriptions")
                        <a href="@Model.Value("testButtonLinks")" class="btn-rect text-decoration-none">@Umbraco.GetDictionaryValue("Common.Test.A.Game", "Test a game")</a>
                    </div>
                </div>
            </div>
            <div class="basicsBoxHolder">
                <div class="row">
                    @if (playsteps.Count() > 0)
                    {
                        foreach (var step in playsteps)
                        {
                            var iconplay = step.Value<IPublishedContent>("playIcon");
                            <div class="col-md-6">
                                <div class="basic_sec_box">
                                    @Html.Raw(@step.Value("iconUrl"))
                                    <h4>@step.Value("playHeading")</h4>
                                    @step.Value("playDescription")
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
			</div>
		</div>
		<div class="scrollHolderRow" id="toolbox_sec">
			<div class="container">
			
        <div class="toolbox_sec" >
            <div class="row">
                <div class="col-md-4">
                    <div class="content-block">
                        <img src="@GetImageUrl(toolboxicon)" alt="">
                        <p class="games-heading-1 mt-4">@Model.Value("toolBoxHeading")</p>
                        @Model.Value("toolBoxDescription")
                        <a href="/tool-box/" class="text-decoration-underline about-btn d-inline-block ">@Umbraco.GetDictionaryValue("Common.SeeAllTools", "See all tools")</a>
                    </div>
                </div>
                @if (toolboxsteps.Count() > 0)
                {
                    foreach (var step in toolboxsteps)
                    {
                        var toolsIcons = step.Value<IEnumerable<IPublishedElement>>("toolIcons");
                        var imagetoolbox = step.Value<IPublishedContent>("toolBoxImage");
                        <div class="col-md-4">
                            <div class="img-block">
                                <div class="img-holder-sec">
                                    <img class="w-100" src="@GetImageUrl(imagetoolbox)">
                                </div>
                                <h5 class="mt-4">@step.Value("toolBoxHeading")</h5>
                                @step.Value("toolBoxDescription")
                                <div class="toolbox_anchor_sec">
                                    @foreach (var tool in toolsIcons)
                                    {
                                        var icon = tool.Value<IPublishedContent>("toolIcon");
                                        <a href="#" class="me-3">
                                            <img src="@GetImageUrl(icon)" alt="" />
                                            @tool.Value("toolIconTitle")
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
			</div>
		</div>
		<div class="scrollHolderRow" id="test_game_sec">
			
			<div >
        <div class="test_game_sec">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="w-50 m-auto text-center testgameTextSec">
                            <h4 class="games-heading-1 text-white">@Model.Value("testGameHeading")</h4>
                            @Model.Value("testGameText")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row minusMarginBottom">
                @if (testgameicons.Count() > 0)
                {
                 var xtraClass = "";
                            switch (page)
                            {
                                case "Cycle":
                                    xtraClass = "cycle";
                                    break;
                                case "Barometer":
                                    xtraClass = "barometer";
                                    break;
                                case "Cards":
                                    xtraClass = "card";
                                    break;
                                case "Bubbles":
                                    xtraClass = "bubble";
                                    break;
                                case "Quiz":
                                    xtraClass = "quiz";
                                    break;
                            }
                    foreach (var testicon in testgameicons)
                    {
                        var testsIcons = testicon.Value<IEnumerable<IPublishedElement>>("testGameIcons");
                        var imagetestgame = testicon.Value<IPublishedContent>("testGameImage");
                        <div class="col-md-6">
                            <span class="row d-flex slid_box">
                                <div style="" class="col-md-4 popup-img @xtraClass">
                                    <a href="@testicon.Value("sliderImageLinks")"><img src="@GetImageUrl(imagetestgame)"></a>
                                </div>
                                <div class="col-md-8 popup-text d-flex align-items-center">
                                    <div>
                                        <h6>@testicon.Value("testGameHeading")</h6>
                                        <ul>
                                            @foreach (var testgame in testsIcons)
                                            {
                                                var test = testgame.Value<IPublishedContent>("testGameIcon");
                                                <li><img src="@GetImageUrl(test)" alt="">@testgame.Value("testGameTitle")</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </span>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="help_section text-center">
            <div class="container">
                <h5>@Model.Value("testGameCenterText")</h5>
                <a href="" class="text-decoration-underline about-btn d-inline-block ">@Model.Value("testGameButtonText")</a>
            </div>
        </div>
    </div>
			
		</div>
		
		
		
		
		<div class="scrollHolderRow" id="pricing_sec">
			
			<article class="light-box pricing-box" >
    <div class="container">
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="content-block">
                            <img src="@(pricingicon?.Url())">
                            <p class="faq-heading mt-4">@pricingsection.Value("pricingHeading")</p>
                            <div class="games-desc">
                                @pricingsection.Value("pricingText")
                            </div>
                        </div>
                        <div>
                            <a href="/company/pricing/" class="games-link-a">@Umbraco.GetDictionaryValue("Pricing.See.All.Plans", "See all plans")</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="price-cards">
                                    @pricingsection.Value("freeLearningHeading")
                                    <a class="btn-price-rect text-decoration-none d-flex align-items-center justify-content-center" href="/company/pricing/">@Umbraco.GetDictionaryValue("Pricing.GetStarted", "Get started")</a>
                                    @pricingsection.Value("freeLearningDescription")
                                    <a class="games-link-a mt-2 d-inline-block" href="/company/pricing/">@Umbraco.GetDictionaryValue("Pricing.See.All.Features", "See all features")</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="price-cards">
                                    @pricingsection.Value("paidLearningHeading")
                                    <a class="btn-price-rect text-decoration-none d-flex align-items-center justify-content-center" href="/company/pricing/">@Umbraco.GetDictionaryValue("Pricing.See.All.Plans", "See all plans")</a>
                                    <p class="contact-name"> @pricingsection.Value("paidLearningHeading2")</p>
                                    <div class="price-features-list">
                                        <div class="d-flex align-items-center justify-content-between engage_box">
                                            <p class="module-types-desc m-0">@pricingsection.Value("paidFeature1")</p>
                                            <a class="games-link-a" href="/company/pricing/">@Umbraco.GetDictionaryValue("Pricing.See.Plan", "See plan")</a>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between engage_box">
                                            <p class="module-types-desc m-0">@pricingsection.Value("paidFeature2")</p>
                                            <a class="games-link-a" href="/company/pricing/">@Umbraco.GetDictionaryValue("Pricing.See.Plan", "See plan")</a>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between engage_box">
                                            <p class="module-types-desc m-0">@pricingsection.Value("paidFeature3")</p>
                                            <a class="games-link-a" href="/company/pricing/">@Umbraco.GetDictionaryValue("Pricing.See.Plan", "See plan")</a>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between engage_box">
                                            <p class="module-types-desc m-0">@pricingsection.Value("paidFeature4")</p>
                                            <a class="games-link-a" href="/company/pricing/">@Umbraco.GetDictionaryValue("Pricing.See.Plan", "See plan")</a>
                                        </div>
                                    </div>
                                    <a class="games-link-a mt-2 d-inline-block" href="/company/pricing/">@Umbraco.GetDictionaryValue("Pricing.See.All.Features", "See all features")</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
			
		</div>
		<div class="scrollHolderRow" id="get_started_sec">
			<div class="container">
			
<!--  Get started --->
<article class="get-started inside-get-started text-center" >
    <div class="container">
        <div class="get-startedin position-relative" style="background:url(@GetImageUrl(getstarted));background-size: cover;
    background-position: center center;">
            <p class="get-started-heading">@Model.Value("getStartedHeading")</p>
            @Model.Value("getStartedDescription")
            <a class="btn-get-started-rect text-decoration-none d-inline-block" href="@Model.Value("button1Link")">@Umbraco.GetDictionaryValue("Home.TestAGame.For.Free", "Test a game for free")</a>
            <a class="started-link-a d-block" href="@Model.Value("button2Link")">@Umbraco.GetDictionaryValue("Header.CreateGameButton", "Create a game")</a>
        </div>
    </div>
</article>
			</div>
		</div>
		
	</div>
	
	
    <div class="container">
        
        
    </div>
    
</article>
<!-- Scalabe pricing css --->

@section PageJS
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.customer-logos').slick({
                slidesToShow: 5,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1500,
                arrows: false,
                dots: false,
                pauseOnHover: true,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 4
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        slidesToShow: 3
                    }
                }]
            });
            window.onscroll = function () { myFunction() };

            var header = document.getElementById("myHeader");
            var sticky = header.offsetTop;

            function myFunction() {
                if (window.pageYOffset > sticky) {
                    header.classList.add("sticky");
                } else {
                    header.classList.remove("sticky");
                }
            }

        });

        $('.inside_tab_list li').click(function () {
            $('.inside_tab_list li').removeClass("active");
            $(this).addClass("active");
        })

$(".inside_tab_list li").click(function(){
var x = $(this).index();   

	$('.inside_tab_sec .scrollHolderBox .scrollHolderRow').eq(x).css({'padding-top' : '170px'});
	
});
    </script>
}