﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "MasterPage.cshtml";
    var businesspage = Model.Value<IEnumerable<IPublishedElement>>("subpage");
    var img = Model.Value<IPublishedContent>("image");
}


<section class="light-box blog-detail">
    <div class="container">
        <img class="w-100" src="@img.Url()" style="height:125px;"/>
        <div class="module-types_desc">
            <h2>@Model.Value("contentHeading")</h2>
            @Model.Value("contents")
        </div>
        <div class="module-types_desc">
            @Model.Value("content")
        </div>
    </div>
    </section>
