﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "MasterPage.cshtml";
    var home = Model.Root();
    var toolspage = home.Children.Where(x => x.ContentType.Alias.Equals("toolBox")).FirstOrDefault();
    var toolsinglepage = toolspage.Children.Where(x => x.ContentType.Alias.Equals("toolsSinglePage"));
}
<div class="inside-gray-header">
    @Html.Partial("_Header")
    <article class="inside_banner toolBanner">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-12">
                    <div class="content-block w-50 m-auto text-center">
                        @Model.Value("title")
                        @Model.Value("description")
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
<!-- tool overview section ---->
<article class="toolbox_sec insideToolBarSec">
    <div class="container">
        <div class="row">
            @if (toolsinglepage.Count() > 0)
            {
                foreach (var item in toolsinglepage)
                {
                    var toolimg = item.Value<IPublishedContent>("rightImage");
                    var articleicon = item.Value<IPublishedContent>("toolaudioIcon");
                    var videoicon = item.Value<IPublishedContent>("toolboxIcon");
                    var toolBoxDesc = Convert.ToString(item.Value("toolboxDescriptionText"));
                    <div class="col-md-4">
                        
                            <div class="img-block" onclick="location.href='@item.Url()'" style="cursor:pointer">
                                <div class="imgHolderBox">
                                    <img class="w-100" src="@toolimg.Url()">
                                </div>
                                <a style="color:black;text-decoration:none">
                                    <h5 class="mt-4">@item.Value("toolboxHeadingText")</h5>
                                </a>
                                @Html.Truncate(toolBoxDesc, 70)

                            </div>
                            <div class="toolbox_anchor_sec">
                                @if (articleicon != null)
                                {
                                    <a href="@item.Value("toolaudioLink")" class="me-3"><img src="@articleicon.Url()" alt="">@item.Value("articleButtonText")</a>
                                }
                                @if (videoicon != null)
                                {
                                    <a href="@item.Value("toolboxButtonLink2")"><img src="@videoicon.Url()" alt="">@item.Value("videoLinkText")</a>
                                }
                            </div>
                        
                    </div>
                }
            }
        </div>
    </div>
</article>
