﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "MasterPage.cshtml";
    var toolboximage = Model.Value<IPublishedContent>("rightImage");
    var toolboxicon = Model.Value<IPublishedContent>("toolboxIcon");
    var socialmediaicon = Model.Value<IEnumerable<IPublishedElement>>("socialMediaIcon");
    var slidertab = Model.Value<IEnumerable<IPublishedElement>>("slider");
    var relatedtools = Model.Value<IEnumerable<IPublishedContent>>("relatedTool");
    var toolBoxPage = Model.Root().Descendants("toolBox").FirstOrDefault();
    var toolBoxContent = Umbraco.ContentAtXPath("//toolBox [@isDoc]").FirstOrDefault();
    var toolFbIcon = toolBoxContent.Value<IPublishedContent>("facebookIcon");
    var toolTwitterIcon = toolBoxContent.Value<IPublishedContent>("twitterIcon");
    var toolShareIcon = toolBoxContent.Value<IPublishedContent>("shareIcon");
    var slidercount = 0;
    var slidertabcount = 0;
}
@functions{
    public string GetImageUrl(IPublishedContent obj)
    {
        return obj != null ? obj.Url() : string.Empty;
    }
}
<!-- all games section ---->
<article class="tools-single-page-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @{
                    var backLink = "#";
                    IPublishedContent backButtonLinkPicker = Model.Value<IPublishedContent>("backButtonLink");
                    if (backButtonLinkPicker != null)
                    {
                        backLink = backButtonLinkPicker.Url();
                    }                    
                }
                <a href="@backLink" class="backBtn"> < <span>@Model.Value("backButtonText")</span></a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-7">
                <div class="img-block">
                    <img class="w-100" src="@GetImageUrl(toolboximage)">
                </div>
            </div>
            <div class="col-md-5">
                <div class="txt-block">
                    <h5 class="mt-4 tools-single-heading">@Model.Value("toolboxHeadingText")</h5>
                    @Model.Value("toolboxDescriptionText")
                    <div class="toolbox_anchor_sec">
                        <a href="#videoScroll" class="me-3"><img src="@GetImageUrl(toolboxicon)" alt="">@Model.Value("toolboxButtonText2")</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="conolly-spectrum-sec">
            <div class="row">
                <div class="col-md-1">
                    <div class="share-sec sticky-top">

                       <a href="https://www.linkedin.com/company/1348294/admin/"><img src="@GetImageUrl(toolFbIcon)"></a> 
                        <a href="@Model.Value("twitter")"><img src="@GetImageUrl(toolTwitterIcon)"></a>
                        <a href="@Model.Value("redirect")"><img src="@GetImageUrl(toolShareIcon)"></a>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="leftPaddingSec">
                        <div class="conolly-spectrum-text">
                            <h5 class="tools-single-heading">@Model.Value("toolboxHeadingVideo")</h5>
                            @Model.Value("toolboxDescriptionWithVideo")
                        </div>
                        <div class="mt-5 conollyTxtSec">
                            <h6 class="mt-5">@Model.Value("toolboxHeading3")</h6>
                            @Model.Value("toolboxPoints")
                            @if (!Model.Value<bool>("isNoTextForButton"))
                            {
                                <a href="@Model.Value("toolboxButton3Link")" class="yellowBgBtn mt-5">@Model.Value("toolboxTextButton3")</a>
                            }
                        </div>
                        <div class="tool_carousel_sec">
                            <div id="tool_carousel" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    @if (slidertab.Count() > 0)
                                    {
                                        foreach (var item in slidertab)
                                        {
                                            var tabclass = string.Empty;
                                            if (slidercount == 0)
                                            {
                                                tabclass = "active";
                                            }
                                            var sliderimg = item.Value<IPublishedContent>("sliderImage");
                                            <button type="button" data-bs-target="#tool_carousel" data-bs-slide-to="@slidercount" class="@tabclass" aria-label="Slide @slidercount"><span class="sliderHeadingTxt"><span>@( "0"+ (slidercount+1))</span>@item.Value("sliderHeadline")</span></button>
                                            slidercount++;

                                        }
                                    }
                                </div>

                                <div class="carousel-inner">
                                    @if (slidertab.Count() > 0)
                                    {
                                        foreach (var slider in slidertab)
                                        {
                                            var sliderclass = string.Empty;
                                            if (slidertabcount == 0)
                                            {
                                                sliderclass = "active";
                                            }
                                            var sliderimg = slider.Value<IPublishedContent>("sliderImage");
                                            <div class="carousel-item @sliderclass">
                                                <div class="carousel_item_img">
                                                    <img src="@GetImageUrl(sliderimg)" alt="" class="d-block w-100" alt="">
                                                </div>
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5 class="heding24Size">@slider.Value("sliderHeading")</h5>
                                                    @slider.Value("sliderDescription")
                                                    <a href="@slider.Value("buttonLink")">@slider.Value("buttonText")</a>
                                                </div>
                                            </div>
                                            slidertabcount++;
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <article class="toolbox_sec">
                <div class="row mb-5">
                    <div class="col-md-12">
                        <h5 class="tools-single-heading">@Model.Value("relatedToolHeading")</h5>
                    </div>
                </div>
                <div class="row">
                    @if (relatedtools != null)
                    {
                        foreach (var item in relatedtools)
                        {
                            <div class="col-md-4">
                                <div class="img-block">
                                    <div class="hiddenImgHolder">
                                        <img class="w-100" src="@(item.Value<IPublishedContent>("rightImage")?.Url())">
                                    </div>
                                    <h5 class="mt-4">@item.Value("toolboxHeadingText")</h5>
                                    @item.Value("toolboxDescriptionText")
                                    <div class="toolbox_anchor_sec">
                                        <a href="#" class="me-3"><img src="@(item.Value<IPublishedContent>("toolaudioIcon")?.Url())" alt="">Article</a>
                                        <a href="#"><img src="@(item.Value<IPublishedContent>("toolboxIcon")?.Url())" alt="">Video</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </article>
        </div>
    </div>
</article>
@section ToolSinglePageJs{
    <script>
        $('html,body').animate({
            scrollTop: $("#videoHeight").offset().top
        }, 400);
    </script>
}

