﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models
@using Newtonsoft.Json;
@{
    Layout = "MasterPage.cshtml";
    var bannerbottomlink = Model.Value<IEnumerable<Link>>("bannerBottomLinks");
    var sectionImage = Model.Value<IPublishedContent>("sectionImage");
    var EventmoduleNC = Model.Value<IEnumerable<IPublishedElement>>("sectionModule");
    var eventReferences = Model.Value<IEnumerable<Link>>("eventReferencesButton");
    var eventGetStart = Model.Value<IEnumerable<Link>>("eventGetStartedButton");
    var WorkshopmoduleNC = Model.Value<IEnumerable<IPublishedElement>>("workshopModules");
    var WorkshopReferences = Model.Value<IEnumerable<Link>>("workshopReferencesButton");
    var WorkshopGetStart = Model.Value<IEnumerable<Link>>("workshopGetStartedButton");
    var TrainingmoduleNC = Model.Value<IEnumerable<IPublishedElement>>("trainingModule");
    //var TrainingfooterBtn = Model.Content.HasValue("trainingFooterBtnlinks") ? Model.Content.GetPropertyValue<RelatedLinks>("trainingFooterBtnlinks") : null;
    var TrainingReferences = Model.Value<IEnumerable<Link>>("trainingReferencesButton");
    var TrainingGetStart = Model.Value<IEnumerable<Link>>("trainingGetStartedButton");
    var imageUrl = "https://app.actee.com/CasePictures/";
    var eventGames = Model.Root().Descendants().Where(x => x.ContentType.Alias.Equals("singleGame")).ToList();
    var TrainingGames = Model.Root().Descendants().Where(x => x.ContentType.Alias.Equals("singleGame")).ToList();
    var WorkshopGames = Model.Root().Descendants().Where(x => x.ContentType.Alias.Equals("singleGame")).ToList();
    var eventsmultiplePDFLinks = Model.HasValue("eventsMultiplePDFLinks") ? Model.Value<IEnumerable<IPublishedContent>>("eventsMultiplePDFLinks") : null;
    var workshopMultiplePDFLinks = Model.HasValue("workshopMultiplePDFLinks") ? Model.Value<IEnumerable<IPublishedContent>>("workshopMultiplePDFLinks") : null;
    var trainingMultiplePDFLinks = Model.HasValue("trainingMultiplePDFLinks") ? Model.Value<IEnumerable<IPublishedContent>>("trainingMultiplePDFLinks") : null;
    var image = Model.Value<IPublishedContent>("image").Url();
    var iconImage = Model.Value<IPublishedContent>("iconImage");
    var workshopImage = Model.Value<IPublishedContent>("workshopImage");
    var trainingImage = Model.Value<IPublishedContent>("trainingImage");
    var gameCategories = Model.Root().Descendants().Where(x => x.ContentType.Alias.Equals("gameCategoryPage")).ToList();
    List<IPublishedContent> allGames = new List<IPublishedContent>();
    var eventGamesLink = Model.Value<IEnumerable<Link>>("eventGames").ToList();
    var TrainingGamesLinks = Model.Value<IEnumerable<Link>>("trainingGames").ToList();
    var WorkshopGamesLinks = Model.Value<IEnumerable<Link>>("workshopGames").ToList();
    var modalId = "ModalPopup";
    var modalIdHash = "#ModalPopup";
    int counter = 1;
    allGames = Model.Root().Descendants().Where(x => x.ContentType.Alias.Equals("singleGame")).ToList();
    var home = Model.Root();
    var toolspage = home.Children.Where(x => x.ContentType.Alias.Equals("toolBox")).FirstOrDefault();
    var toolsinglepage = toolspage.Children.Where(x => x.ContentType.Alias.Equals("toolsSinglePage"));
}
@functions{
    public string GetIPublishedContentUrl(Link obj)
    {
        return obj != null ? obj.Url : string.Empty;
    }
    public string GetLanguageName(string jsonVal)
    {
        try
        {
            var json = JsonConvert.DeserializeObject<List<Language>>(jsonVal ?? string.Empty);
            if (json.Count() > 0)
            {
                return string.Join(",", json.Select(x => x.name).ToList());
            }
            else
            {
                return string.Empty; ;
            }
        }
        catch
        {
            try
            {
                var objListLang = new List<Language>() { new Language() };
                var jsonData = JsonConvert.DeserializeObject<Language>(jsonVal);
                if (jsonData != null)
                {
                    return jsonData.name;
                }
                else
                {
                    return string.Empty;
                }
            }
            catch
            {
                return string.Empty;
            }

        }
    }
    public class Language
    {
        public string name { get; set; }
        public string code { get; set; }
        public string state { get; set; }
    }
}
@functions{
    public string GetImageUrl(IPublishedContent obj)
    {
        return obj != null ? obj.Url() : string.Empty;
    }
}
<head>
    <style>
        .inside_header_sec {
            background-image: url(@image);
        }
    </style>
</head>
@* the fun starts here *@
<section class="sub-header virtul_sbhedr">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="sub-nav text-center">
                    @foreach (var item in bannerbottomlink)
                    {
                        <li><a href="@GetIPublishedContentUrl(item)">@item.Name</a></li>
                    }
                    <a href="/games/" target="_blank" class="rounded_yellow_btn">Try a Game</a>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="main-overview-sec">
    <div class="first-overview">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="content-block">
                        <h2>@Model.Value("sectiontitle")</h2>
                        <p>
                            @Html.Raw(Model.Value("sectionDetails"))
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-block">
                        <img src="@GetImageUrl(sectionImage)" />
                    </div>
                </div>
            </div>
            <div class="row">
                @if (EventmoduleNC != null)
                {
                    foreach (var item in EventmoduleNC)
                    {
                        <div class="col-md-4">
                            <a href="#">
                                <div class="module-box">
                                    <h3>@item.Value("contentHeading")</h3>
                                    <p>
                                        @Html.Raw(item.Value("contentDetails"))
                                    </p>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="gameBoxContent">
                        <h3>@Model.Value("toolTitle")</h3>
                        <p>
                            @Model.Value("toolDescription")
                        </p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        @if (eventGames != null)
                        {
                        <div class="all_games_holder">
                                        <div class="container">
                                            <div id="update_games" class="row">
                            @foreach (var item in eventGames)
                            {
                                //here we are checking that event games prop. have the links of the same....
                                if (eventGamesLink.Any(x => x.Url.Equals(item.Url())))
                                {
                                                if (eventGamesLink != null)
                                                {
                                                    int i = 0, j = 0;
                                                            var auhGameDescription = (item.HasValue("caseDescription")) ? item.Value<string>("caseDescription") : string.Empty;
                                                            var sectioncolor = string.Empty;
                                                            var bgcolor = string.Empty;
                                                            var parentCat = item.Parent.Value<string>("category");
                                                            if (parentCat == "ActeeChange")
                                                            {
                                                                sectioncolor = "purpleOverlay";
                                                                bgcolor = "purpleBg";
                                                            }
                                                            else if (parentCat == "ActeeCommunication")
                                                            {
                                                                sectioncolor = "greenOverlay";
                                                                bgcolor = "greenBg";
                                                            }
                                                            else if (parentCat == "ActeeLeadership")
                                                            {
                                                                sectioncolor = "redOverlay";
                                                                bgcolor = "redBg";
                                                            }
                                                            else if (parentCat == "Quiz")
                                                            {
                                                                sectioncolor = "redOverlay";
                                                                bgcolor = "redBg";
                                                            }
                                                            else if (parentCat == "Styletrade")
                                                            {
                                                                sectioncolor = "blueOverlay";
                                                                bgcolor = "blueBg";
                                                            }
                                                            string CaseId = item.Value<string>("uid");
                                                            var gameimg = item.Value<IPublishedContent>(imageUrl);
                                                            var imgName = item.Value<string>("imageUrl");
                                                            var userimg = item.Value<IPublishedContent>("gameUserImage");
                                                            var gameImg = item.Value<IPublishedContent>("gameImage");
                                                            var bottomcontent = item.Value<IEnumerable<IPublishedElement>>("gameList");
                                                            <div class="col-md-6" data-id="@item.Id">
                                                                <div class="img-block">
                                                                    <div class="all_games_img @sectioncolor">
                                                                        <a href="#" data-bs-toggle="modal" data-bs-target="@modalIdHash@counter" class="infoIcon">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                                                                                <defs>
                                                                                    <style>
                                                                                        .a {
                                                                                            fill: none;
                                                                                        }

                                                                                        .b {
                                                                                            fill: #6557F9;
                                                                                        }
                                                                                    </style>
                                                                                </defs>
                                                                                <rect class="a" width="40" height="40" />
                                                                                <path class="b" d="M71,56A15,15,0,1,0,86,71,15.017,15.017,0,0,0,71,56Zm0,6.15a1.95,1.95,0,1,1-1.95,1.95A1.95,1.95,0,0,1,71,62.15ZM74.6,79.1H68a1.2,1.2,0,0,1,0-2.4h2.1V70.1H68.9a1.2,1.2,0,1,1,0-2.4h2.4a1.2,1.2,0,0,1,1.2,1.2v7.8h2.1a1.2,1.2,0,1,1,0,2.4Z" transform="translate(-51 -51)" />
                                                                            </svg>
                                                                        </a>
                                                                        <!-- Modal -->
                                                                        <div class="modal fade infoPopup @Convert.ToString(item.Value("gameHeading")).Replace(" ","")-card-modal" id="@modalId@counter" tabindex="-1" aria-labelledby="@modalId@counter-Label" aria-hidden="true">
                                                                            <div class="modal-dialog">
                                                                                <div class="modal-content">
                                                                                    <div class="modal-header">
                                                                                        <div class="game-title ">
                                                                                            <div class="icon-bubble">
                                                                                                @Html.Raw(item.Parent.Value("sectionIconUrl"))
                                                                                            </div>
                                                                                            <h1 class="">@item.Value("gameHeading")</h1>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="modal-body">
                                                                                        <div class=" outer-box ">
                                                                                            <div class="inner-box game-details text-center">
                                                                                                <div class="mid">
                                                                                                    <div class="pt-1">
                                                                                                        @if (!string.IsNullOrEmpty(item.Value<string>("theory")))
                                                                                                        {
                                                                                                            <span class="icon"><img src="~/media/0h2jwkhe/icon-light-bulb.svg" alt=""></span>
                                                                                                            <p>@(item.Value<string>("theory"))</p>
                                                                                                        }
                                                                                                    </div>
                                                                                                    <div class="pt-1">
                                                                                                        @if (!string.IsNullOrEmpty(item.Value<string>("length")))
                                                                                                        {
                                                                                                            <span class="icon"><img src="~/media/40kikt1k/icon-duration.svg" alt=""></span>
                                                                                                            <p>@(item.Value<string>("length"))</p>
                                                                                                        }
                                                                                                    </div>
                                                                                                    <div class="pt-1">
                                                                                                        @if (!string.IsNullOrEmpty(item.Value<string>("language")))
                                                                                                        {
                                                                                                            <span class="icon"><img src="~/media/s1tnttj2/icon-language.svg" alt=""> </span>
                                                                                                            <p>
                                                                                                                @GetLanguageName(item.Value<string>("language"))
                                                                                                            </p>
                                                                                                        }
                                                                                                    </div>
                                                                                                    <div class="pt-1">
                                                                                                        @if (!string.IsNullOrEmpty(item.Value<string>("playedGame")))
                                                                                                        {
                                                                                                            <span class="icon playedIcon"><img src="~/media/oiiprcc0/played_icon.png" alt=""></span>
                                                                                                            <p>@(item.Value<string>("playedGame"))</p>
                                                                                                        }
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="bottom description">
                                                                                                    @if (!string.IsNullOrEmpty(auhGameDescription))
                                                                                                    {
                                                                                                        <h3>Description</h3>
                                                                                                        @Html.Raw(auhGameDescription)
                                                                                                    }
                                                                                                </div>
                                                                                                <div class="play-game">
                                                                                                    <p> <a class="bg-orange" href="@(item.Parent.Value<string>("testGamesButtonLink"))">@item.Parent.Value("testGamesButtonText")</a></p>
                                                                                                    <p> <a class="btn" href="@(item.Parent.Value<string>("playGameButtonLink"))">@item.Parent.Value("playGameButtonText")</a></p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="d-flex justify-content-center mt-5">
                                                                                        <div class="popupCancelBtn">
                                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                                            <button type="button" class="btn btn-secondary partner-modal-close-button" data-bs-dismiss="modal">Close window</button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        @if (!string.IsNullOrEmpty(imgName))
                                                                        {
                                                                            <img class="w-100" src="@imageUrl@imgName" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <img class="w-100" src="@(gameImg?.Url())" />
                                                                        }

                                                                        <span class="icon_box @bgcolor">
                                                                            <img src='@GetImageUrl(item.Parent.Value<IPublishedContent>("icon"))' alt="">@(item.Parent.Value<string>("moduleName"))
                                                                        </span>
                                                                        <div class="user_holder">
                                                                            <span class="user_img">
                                                                                <img src="@GetImageUrl(userimg)" alt="">
                                                                            </span>
                                                                            <span class="user_text">
                                                                                <a href="@item.Parent.Url()">@item.Value("gameUserName")</a>
                                                                                <span>@item.Value("userProfile")</span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <a href="@item.Parent.Url()" style="color:black; text-decoration:none"><h5 class="mt-4">@item.Value("gameHeading")</h5></a>
                                                                    <ul>
                                                                        @if (!string.IsNullOrEmpty(item.Value<string>("theory")))
                                                                        {
                                                                            <li><img src="/media/q3zlqddy/icon-light-bulb1.svg" alt=""><span>@(item.Value<string>("theory"))</span></li>
                                                                        }

                                                                        @if (!string.IsNullOrEmpty(item.Value<string>("length")))
                                                                        {
                                                                            <li><img src="/media/rxopvffo/icon-duration.svg" alt=""><span>@(item.Value<string>("length"))</span></li>
                                                                        }

                                                                        @if (!string.IsNullOrEmpty(GetLanguageName(item.Value<string>("language"))))
                                                                        {

                                                                            <li style=" word-break: break-all;align-items: start;"><img src="/media/rhilewub/icon-language1.svg" alt=""><span>@GetLanguageName(item.Value<string>("language"))</span></li>
                                                                        }
                                                                        @if (!string.IsNullOrEmpty(item.Value<string>("playedGame")))
                                                                        {
                                                                            <li style=" word-break: break-all;align-items: start;"><img src="~/media/quobbvpb/gray-played-icon.png" alt="" class="grayPlayedIcon"><span>@(item.Value<string>("playedGame"))</span></li>
                                                                        }
                                                                    </ul>
                                                                    <div class="game_tile_btn">
                                                                        <a href="@item.Parent.Value("hostButtonLink")">@item.Parent.Value("hostButtonText")</a>
                                                                        <a href="@item.Parent.Value("playButtonLink")"><button type="button">@item.Parent.Value("playButtonText")</button></a>
                                                                        <a href="@item.Parent.Value("editButtonLink")">@item.Parent.Value("editButtonText")</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            counter++;
                                                }

                                                if (eventGamesLink.Count() == 0)
                                                {
                                                    <h2>Games not found</h2>
                                                }
                                                    }
                            }

                                                    @if (toolsinglepage.Count() > 0)
                                                    {
                                                        foreach (var item in toolsinglepage)
                                                        {
                                                            if (eventGamesLink.Any(x => x.Url.Equals(item.Url())))
                                                            {
                                                                var toolimg = item.Value<IPublishedContent>("rightImage");
                                                                var articleicon = item.Value<IPublishedContent>("toolaudioIcon");
                                                                var videoicon = item.Value<IPublishedContent>("toolboxIcon");
                                                                var toolBoxDesc = Convert.ToString(item.Value("toolboxDescriptionText"));
                                                                <div class="col-md-6">

                                                                    <div class="img-block" onclick="location.href='@item.Url()'" style="cursor:pointer">
                                                                        <div class="imgHolderBox">
                                                                            <img class="w-100" src="@toolimg.Url()">
                                                                        </div>
                                                                        <a style="color:black;text-decoration:none">
                                                                            <h5 class="mt-4">@item.Value("toolboxHeadingText")</h5>
                                                                        </a>
                                                                        @Html.Truncate(toolBoxDesc, 70)

                                                                    </div>
                                                                    <div class="toolbox_anchor_sec">
                                                                        @if (articleicon != null)
                                                                        {
                                                                            <a href="@item.Value("toolaudioLink")" class="me-3"><img src="@articleicon.Url()" alt="">@item.Value("articleButtonText")</a>
                                                                        }
                                                                        @if (videoicon != null)
                                                                        {
                                                                            <a href="@item.Value("toolboxButtonLink2")"><img src="@videoicon.Url()" alt="">@item.Value("videoLinkText")</a>
                                                                        }
                                                                    </div>

                                                                </div>
                                                            }
                                                        }
                                                    }
                                            </div>
                                        </div>
                                    </div>
                            
                        }

                        @if (eventsmultiplePDFLinks != null)
                        {
                            foreach (var item in eventsmultiplePDFLinks)
                            {
                                IPublishedContent pdflink = item.Value<IPublishedContent>("singleRelatedLink");

                                <div class="col-md-4">
                                    <div class="new_game_box">
                                        <a target="_blank" href="@(pdflink != null ? pdflink.Url() : "javascript:void(0);")">
                                            <div class="casetiles-logo">
                                                <div class="game_box_thumbnail">
                                                    <img alt="" src="@(item.HasValue("image") ? item.Value<IPublishedContent>("image").Url() : string.Empty)">
                                                </div>
                                                <div class="game_img_overlay"></div>
                                            </div>
                                            <div class="casetiles-content">
                                                <p class="theory_names">
                                                    @if (pdflink != null)
                                                    {
                                                        @pdflink.Name
                                                    }
                                                </p>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            }
                        }


                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="startedBtn">

                        @*@Html.Raw(Model.Value("eventSectionFooterText"))*@

                        <div class="btn-sec btn-alt">
                            @foreach (var link in eventReferences)
                            {
                                <a href="@link.Url" class="btn btn-primary">@link.Name</a>
                            }
                            @foreach (var link in eventGetStart)
                            {
                                <a href="@link.Url" class="btn btn-primary">@link.Name</a>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="first-overview second">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="img-block">
                        <img src="@GetImageUrl(workshopImage)" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content-block">
                        <h2>@Model.Value("workshopTitle")</h2>
                        <p>
                            @Html.Raw(Model.Value("workshopDetails"))
                        </p>
                    </div>
                </div>

            </div>

            <div class="row">
                @if (WorkshopmoduleNC != null)
                {
                    foreach (var item in WorkshopmoduleNC)
                    {
                        <div class="col-md-4">
                            <a href="">
                                <div class="module-box">
                                    <h3>@item.GetProperty("contentHeading").Value()</h3>
                                    <p>
                                        @Html.Raw(item.GetProperty("contentDetails").Value())
                                    </p>
                                </div>
                            </a>
                        </div>
                    }
                }

            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="gameBoxContent">
                        <h3>@Model.Value("workshopToolTitle")</h3>
                        <p>
                            @Html.Raw(Model.Value("workshopToolDescription"))
                        </p>

                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        @if (WorkshopGames != null)
                        {
                        <div class="all_games_holder">
                                    <div class="container">
                                        <div id="update_games" class="row">
                            @foreach (var item in WorkshopGames)
                            {
                                if (WorkshopGamesLinks.Any(x => x.Url.Equals(item.Url())))
                                {
                                            if (WorkshopGamesLinks != null)
                                            {
                                                int i = 0, j = 0;
                                                        var auhGameDescription = (item.HasValue("caseDescription")) ? item.Value<string>("caseDescription") : string.Empty;
                                                        var sectioncolor = string.Empty;
                                                        var bgcolor = string.Empty;
                                                        var parentCat = item.Parent.Value<string>("category");
                                                        if (parentCat == "ActeeChange")
                                                        {
                                                            sectioncolor = "purpleOverlay";
                                                            bgcolor = "purpleBg";
                                                        }
                                                        else if (parentCat == "ActeeCommunication")
                                                        {
                                                            sectioncolor = "greenOverlay";
                                                            bgcolor = "greenBg";
                                                        }
                                                        else if (parentCat == "ActeeLeadership")
                                                        {
                                                            sectioncolor = "redOverlay";
                                                            bgcolor = "redBg";
                                                        }
                                                        else if (parentCat == "Quiz")
                                                        {
                                                            sectioncolor = "redOverlay";
                                                            bgcolor = "redBg";
                                                        }
                                                        else if (parentCat == "Styletrade")
                                                        {
                                                            sectioncolor = "blueOverlay";
                                                            bgcolor = "blueBg";
                                                        }
                                                        string CaseId = item.Value<string>("uid");
                                                        var gameimg = item.Value<IPublishedContent>(imageUrl);
                                                        var imgName = item.Value<string>("imageUrl");
                                                        var userimg = item.Value<IPublishedContent>("gameUserImage");
                                                        var gameImg = item.Value<IPublishedContent>("gameImage");
                                                        var bottomcontent = item.Value<IEnumerable<IPublishedElement>>("gameList");
                                                        <div class="col-md-6" data-id="@item.Id">
                                                            <div class="img-block">
                                                                <div class="all_games_img @sectioncolor">
                                                                    <a href="#" data-bs-toggle="modal" data-bs-target="@modalIdHash@counter" class="infoIcon">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                                                                            <defs>
                                                                                <style>
                                                                                    .a {
                                                                                        fill: none;
                                                                                    }

                                                                                    .b {
                                                                                        fill: #6557F9;
                                                                                    }
                                                                                </style>
                                                                            </defs>
                                                                            <rect class="a" width="40" height="40" />
                                                                            <path class="b" d="M71,56A15,15,0,1,0,86,71,15.017,15.017,0,0,0,71,56Zm0,6.15a1.95,1.95,0,1,1-1.95,1.95A1.95,1.95,0,0,1,71,62.15ZM74.6,79.1H68a1.2,1.2,0,0,1,0-2.4h2.1V70.1H68.9a1.2,1.2,0,1,1,0-2.4h2.4a1.2,1.2,0,0,1,1.2,1.2v7.8h2.1a1.2,1.2,0,1,1,0,2.4Z" transform="translate(-51 -51)" />
                                                                        </svg>
                                                                    </a>
                                                                    <!-- Modal -->
                                                                    <div class="modal fade infoPopup @Convert.ToString(item.Value("gameHeading")).Replace(" ", "")-card-modal" id="@modalId@counter" tabindex="-1" aria-labelledby="@modalId@counter-Label" aria-hidden="true">
                                                                        <div class="modal-dialog">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <div class="game-title ">
                                                                                        <div class="icon-bubble">
                                                                                            @Html.Raw(item.Parent.Value("sectionIconUrl"))
                                                                                        </div>
                                                                                        <h1 class="">@item.Value("gameHeading")</h1>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <div class=" outer-box ">
                                                                                        <div class="inner-box game-details text-center">
                                                                                            <div class="mid">
                                                                                                <div class="pt-1">
                                                                                                    @if (!string.IsNullOrEmpty(item.Value<string>("theory")))
                                                                                                    {
                                                                                                        <span class="icon"><img src="~/media/0h2jwkhe/icon-light-bulb.svg" alt=""></span>
                                                                                                        <p>@(item.Value<string>("theory"))</p>
                                                                                                    }
                                                                                                </div>
                                                                                                <div class="pt-1">
                                                                                                    @if (!string.IsNullOrEmpty(item.Value<string>("length")))
                                                                                                    {
                                                                                                        <span class="icon"><img src="~/media/40kikt1k/icon-duration.svg" alt=""></span>
                                                                                                        <p>@(item.Value<string>("length"))</p>
                                                                                                    }
                                                                                                </div>
                                                                                                <div class="pt-1">
                                                                                                    @if (!string.IsNullOrEmpty(item.Value<string>("language")))
                                                                                                    {
                                                                                                        <span class="icon"><img src="~/media/s1tnttj2/icon-language.svg" alt=""> </span>
                                                                                                        <p>
                                                                                                            @GetLanguageName(item.Value<string>("language"))
                                                                                                        </p>
                                                                                                    }
                                                                                                </div>
                                                                                                <div class="pt-1">
                                                                                                    @if (!string.IsNullOrEmpty(item.Value<string>("playedGame")))
                                                                                                    {
                                                                                                        <span class="icon playedIcon"><img src="~/media/oiiprcc0/played_icon.png" alt=""></span>
                                                                                                        <p>@(item.Value<string>("playedGame"))</p>
                                                                                                    }
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="bottom description">
                                                                                                @if (!string.IsNullOrEmpty(auhGameDescription))
                                                                                                {
                                                                                                    <h3>Description</h3>
                                                                                                    @Html.Raw(auhGameDescription)
                                                                                                }
                                                                                            </div>
                                                                                            <div class="play-game">
                                                                                                <p> <a class="bg-orange" href="@(item.Parent.Value<string>("testGamesButtonLink"))">@item.Parent.Value("testGamesButtonText")</a></p>
                                                                                                <p> <a class="btn" href="@(item.Parent.Value<string>("playGameButtonLink"))">@item.Parent.Value("playGameButtonText")</a></p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="d-flex justify-content-center mt-5">
                                                                                    <div class="popupCancelBtn">
                                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                                        <button type="button" class="btn btn-secondary partner-modal-close-button" data-bs-dismiss="modal">Close window</button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    @if (!string.IsNullOrEmpty(imgName))
                                                                    {
                                                                        <img class="w-100" src="@imageUrl@imgName" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <img class="w-100" src="@(gameImg?.Url())" />
                                                                    }

                                                                    <span class="icon_box @bgcolor">
                                                                        <img src='@GetImageUrl(item.Parent.Value<IPublishedContent>("icon"))' alt="">@(item.Parent.Value<string>("moduleName"))
                                                                    </span>
                                                                    <div class="user_holder">
                                                                        <span class="user_img">
                                                                            <img src="@GetImageUrl(userimg)" alt="">
                                                                        </span>
                                                                        <span class="user_text">
                                                                            <a href="@item.Parent.Url()">@item.Value("gameUserName")</a>
                                                                            <span>@item.Value("userProfile")</span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <a href="@item.Parent.Url()" style="color:black; text-decoration:none"><h5 class="mt-4">@item.Value("gameHeading")</h5></a>
                                                                <ul>
                                                                    @if (!string.IsNullOrEmpty(item.Value<string>("theory")))
                                                                    {
                                                                        <li><img src="/media/q3zlqddy/icon-light-bulb1.svg" alt=""><span>@(item.Value<string>("theory"))</span></li>
                                                                    }

                                                                    @if (!string.IsNullOrEmpty(item.Value<string>("length")))
                                                                    {
                                                                        <li><img src="/media/rxopvffo/icon-duration.svg" alt=""><span>@(item.Value<string>("length"))</span></li>
                                                                    }

                                                                    @if (!string.IsNullOrEmpty(GetLanguageName(item.Value<string>("language"))))
                                                                    {

                                                                        <li style=" word-break: break-all;align-items: start;"><img src="/media/rhilewub/icon-language1.svg" alt=""><span>@GetLanguageName(item.Value<string>("language"))</span></li>
                                                                    }
                                                                    @if (!string.IsNullOrEmpty(item.Value<string>("playedGame")))
                                                                    {
                                                                        <li style=" word-break: break-all;align-items: start;"><img src="~/media/quobbvpb/gray-played-icon.png" alt="" class="grayPlayedIcon"><span>@(item.Value<string>("playedGame"))</span></li>
                                                                    }
                                                                </ul>
                                                                <div class="game_tile_btn">
                                                                    <a href="@item.Parent.Value("hostButtonLink")">@item.Parent.Value("hostButtonText")</a>
                                                                    <a href="@item.Parent.Value("playButtonLink")"><button type="button">@item.Parent.Value("playButtonText")</button></a>
                                                                    <a href="@item.Parent.Value("editButtonLink")">@item.Parent.Value("editButtonText")</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        counter++;

                                            }

                                            if (WorkshopGamesLinks.Count() == 0)
                                            {
                                                <h2>Games not found</h2>
                                            }
                                                }
                            }
                                                    @if (toolsinglepage.Count() > 0)
                                                    {
                                                        foreach (var item in toolsinglepage)
                                                        {
                                                            if (WorkshopGamesLinks.Any(x => x.Url.Equals(item.Url())))
                                                            {
                                                                var toolimg = item.Value<IPublishedContent>("rightImage");
                                                                var articleicon = item.Value<IPublishedContent>("toolaudioIcon");
                                                                var videoicon = item.Value<IPublishedContent>("toolboxIcon");
                                                                var toolBoxDesc = Convert.ToString(item.Value("toolboxDescriptionText"));
                                                                <div class="col-md-6">

                                                                    <div class="img-block" onclick="location.href='@item.Url()'" style="cursor:pointer">
                                                                        <div class="imgHolderBox">
                                                                            <img class="w-100" src="@toolimg.Url()">
                                                                        </div>
                                                                        <a style="color:black;text-decoration:none">
                                                                            <h5 class="mt-4">@item.Value("toolboxHeadingText")</h5>
                                                                        </a>
                                                                        @Html.Truncate(toolBoxDesc, 70)

                                                                    </div>
                                                                    <div class="toolbox_anchor_sec">
                                                                        @if (articleicon != null)
                                                                        {
                                                                            <a href="@item.Value("toolaudioLink")" class="me-3"><img src="@articleicon.Url()" alt="">@item.Value("articleButtonText")</a>
                                                                        }
                                                                        @if (videoicon != null)
                                                                        {
                                                                            <a href="@item.Value("toolboxButtonLink2")"><img src="@videoicon.Url()" alt="">@item.Value("videoLinkText")</a>
                                                                        }
                                                                    </div>

                                                                </div>
                                                            }
                                                        }
                                                    }
                                        </div>
                                    </div>
                                </div>
                            
                        }

                        @if (workshopMultiplePDFLinks != null)
                        {
                            foreach (var item in workshopMultiplePDFLinks)
                            {
                                IPublishedContent pdflink = item.Value<IPublishedContent>("singleRelatedLink");

                                <div class="col-md-4">
                                    <div class="new_game_box">
                                        <a target="_blank" href="@(pdflink != null ? pdflink.Url() : "javascript:void(0);")">
                                            <div class="casetiles-logo">
                                                <div class="game_box_thumbnail">
                                                    <img alt="" src="@(item.HasValue("image") ? item.Value<IPublishedContent>("image").Url() : string.Empty)">
                                                </div>
                                                <div class="game_img_overlay"></div>
                                            </div>
                                            <div class="casetiles-content">
                                                <p class="theory_names">
                                                    @if (pdflink != null)
                                                    {
                                                        @pdflink.Name
                                                    }
                                                </p>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            }
                        }

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="startedBtn">

                        @Html.Raw(Model.Value("workshopFooterText"))

                        <div class="btn-sec btn-alt">
                            @foreach (var link in WorkshopReferences)
                            {
                               <a href="@link.Url" class="btn btn-primary">@link.Name</a>
                            }
                            @foreach (var link in WorkshopGetStart)
                            {
                               <a href="@link.Url; " class="btn btn-primary">@link.Name</a>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="first-overview third">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="content-block">
                        <h2>@Model.Value("trainingTitle")</h2>
                        <p>
                            @Html.Raw(Model.Value("trainingDetails"))
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-block">
                        <img src="@GetImageUrl(trainingImage)" />
                    </div>
                </div>
            </div>
            <div class="row">
                @if (TrainingmoduleNC != null)
                {
                    foreach (var item in TrainingmoduleNC)
                    {

                        <div class="col-md-4">
                            <a href="">
                                <div class="module-box">
                                    <h3>@item.GetProperty("contentHeading").Value()</h3>
                                    <p>
                                        @Html.Raw(item.GetProperty("contentDetails").Value())
                                    </p>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="gameBoxContent">
                        <h3>@Model.Value("trainingToolTitle")</h3>
                        <p>
                            @Html.Raw(Model.Value("trainingToolDescription"))
                        </p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        @if (TrainingGames != null)
                        {
                            <div class="all_games_holder">
                                        <div class="container">
                                            <div id="update_games" class="row">
                            @foreach (var item in TrainingGames)
                            {
                            
                                if (TrainingGamesLinks.Any(x => x.Url.Equals(item.Url())))
                                {

                                                if (TrainingGamesLinks != null)
                                                {
                                                    int i = 0, j = 0;
                                                            var auhGameDescription = (item.HasValue("caseDescription")) ? item.Value<string>("caseDescription") : string.Empty;
                                                            var sectioncolor = string.Empty;
                                                            var bgcolor = string.Empty;
                                                            var parentCat = item.Parent.Value<string>("category");
                                                            if (parentCat == "ActeeChange")
                                                            {
                                                                sectioncolor = "purpleOverlay";
                                                                bgcolor = "purpleBg";
                                                            }
                                                            else if (parentCat == "ActeeCommunication")
                                                            {
                                                                sectioncolor = "greenOverlay";
                                                                bgcolor = "greenBg";
                                                            }
                                                            else if (parentCat == "ActeeLeadership")
                                                            {
                                                                sectioncolor = "redOverlay";
                                                                bgcolor = "redBg";
                                                            }
                                                            else if (parentCat == "Quiz")
                                                            {
                                                                sectioncolor = "redOverlay";
                                                                bgcolor = "redBg";
                                                            }
                                                            else if (parentCat == "Styletrade")
                                                            {
                                                                sectioncolor = "blueOverlay";
                                                                bgcolor = "blueBg";
                                                            }
                                                            string CaseId = item.Value<string>("uid");
                                                            var gameimg = item.Value<IPublishedContent>(imageUrl);
                                                            var imgName = item.Value<string>("imageUrl");
                                                            var userimg = item.Value<IPublishedContent>("gameUserImage");
                                                            var gameImg = item.Value<IPublishedContent>("gameImage");
                                                            var bottomcontent = item.Value<IEnumerable<IPublishedElement>>("gameList");
                                                            <div class="col-md-6" data-id="@item.Id">
                                                                <div class="img-block">
                                                                    <div class="all_games_img @sectioncolor">
                                                                        <a href="#" data-bs-toggle="modal" data-bs-target="@modalIdHash@counter" class="infoIcon">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                                                                                <defs>
                                                                                    <style>
                                                                                        .a {
                                                                                            fill: none;
                                                                                        }

                                                                                        .b {
                                                                                            fill: #6557F9;
                                                                                        }
                                                                                    </style>
                                                                                </defs>
                                                                                <rect class="a" width="40" height="40" />
                                                                                <path class="b" d="M71,56A15,15,0,1,0,86,71,15.017,15.017,0,0,0,71,56Zm0,6.15a1.95,1.95,0,1,1-1.95,1.95A1.95,1.95,0,0,1,71,62.15ZM74.6,79.1H68a1.2,1.2,0,0,1,0-2.4h2.1V70.1H68.9a1.2,1.2,0,1,1,0-2.4h2.4a1.2,1.2,0,0,1,1.2,1.2v7.8h2.1a1.2,1.2,0,1,1,0,2.4Z" transform="translate(-51 -51)" />
                                                                            </svg>
                                                                        </a>
                                                                        <!-- Modal -->
                                                                        <div class="modal fade infoPopup @Convert.ToString(item.Value("gameHeading")).Replace(" ", "")-card-modal" id="@modalId@counter" tabindex="-1" aria-labelledby="@modalId@counter-Label" aria-hidden="true">
                                                                            <div class="modal-dialog">
                                                                                <div class="modal-content">
                                                                                    <div class="modal-header">
                                                                                        <div class="game-title ">
                                                                                            <div class="icon-bubble">
                                                                                                @Html.Raw(item.Parent.Value("sectionIconUrl"))
                                                                                            </div>
                                                                                            <h1 class="">@item.Value("gameHeading")</h1>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="modal-body">
                                                                                        <div class=" outer-box ">
                                                                                            <div class="inner-box game-details text-center">
                                                                                                <div class="mid">
                                                                                                    <div class="pt-1">
                                                                                                        @if (!string.IsNullOrEmpty(item.Value<string>("theory")))
                                                                                                        {
                                                                                                            <span class="icon"><img src="~/media/0h2jwkhe/icon-light-bulb.svg" alt=""></span>
                                                                                                            <p>@(item.Value<string>("theory"))</p>
                                                                                                        }
                                                                                                    </div>
                                                                                                    <div class="pt-1">
                                                                                                        @if (!string.IsNullOrEmpty(item.Value<string>("length")))
                                                                                                        {
                                                                                                            <span class="icon"><img src="~/media/40kikt1k/icon-duration.svg" alt=""></span>
                                                                                                            <p>@(item.Value<string>("length"))</p>
                                                                                                        }
                                                                                                    </div>
                                                                                                    <div class="pt-1">
                                                                                                        @if (!string.IsNullOrEmpty(item.Value<string>("language")))
                                                                                                        {
                                                                                                            <span class="icon"><img src="~/media/s1tnttj2/icon-language.svg" alt=""> </span>
                                                                                                            <p>
                                                                                                                @GetLanguageName(item.Value<string>("language"))
                                                                                                            </p>
                                                                                                        }
                                                                                                    </div>
                                                                                                    <div class="pt-1">
                                                                                                        @if (!string.IsNullOrEmpty(item.Value<string>("playedGame")))
                                                                                                        {
                                                                                                            <span class="icon playedIcon"><img src="~/media/oiiprcc0/played_icon.png" alt=""></span>
                                                                                                            <p>@(item.Value<string>("playedGame"))</p>
                                                                                                        }
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="bottom description">
                                                                                                    @if (!string.IsNullOrEmpty(auhGameDescription))
                                                                                                    {
                                                                                                        <h3>Description</h3>
                                                                                                        @Html.Raw(auhGameDescription)
                                                                                                    }
                                                                                                </div>
                                                                                                <div class="play-game">
                                                                                                    <p> <a class="bg-orange" href="@(item.Parent.Value<string>("testGamesButtonLink"))">@item.Parent.Value("testGamesButtonText")</a></p>
                                                                                                    <p> <a class="btn" href="@(item.Parent.Value<string>("playGameButtonLink"))">@item.Parent.Value("playGameButtonText")</a></p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="d-flex justify-content-center mt-5">
                                                                                        <div class="popupCancelBtn">
                                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                                            <button type="button" class="btn btn-secondary partner-modal-close-button" data-bs-dismiss="modal">Close window</button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        @if (!string.IsNullOrEmpty(imgName))
                                                                        {
                                                                            <img class="w-100" src="@imageUrl@imgName" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <img class="w-100" src="@(gameImg?.Url())" />
                                                                        }

                                                                        <span class="icon_box @bgcolor">
                                                                            <img src='@GetImageUrl(item.Parent.Value<IPublishedContent>("icon"))' alt="">@(item.Parent.Value<string>("moduleName"))
                                                                        </span>
                                                                        <div class="user_holder">
                                                                            <span class="user_img">
                                                                                <img src="@GetImageUrl(userimg)" alt="">
                                                                            </span>
                                                                            <span class="user_text">
                                                                                <a href="@item.Parent.Url()">@item.Value("gameUserName")</a>
                                                                                <span>@item.Value("userProfile")</span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <a href="@item.Parent.Url()" style="color:black; text-decoration:none"><h5 class="mt-4">@item.Value("gameHeading")</h5></a>
                                                                    <ul>
                                                                        @if (!string.IsNullOrEmpty(item.Value<string>("theory")))
                                                                        {
                                                                            <li><img src="/media/q3zlqddy/icon-light-bulb1.svg" alt=""><span>@(item.Value<string>("theory"))</span></li>
                                                                        }

                                                                        @if (!string.IsNullOrEmpty(item.Value<string>("length")))
                                                                        {
                                                                            <li><img src="/media/rxopvffo/icon-duration.svg" alt=""><span>@(item.Value<string>("length"))</span></li>
                                                                        }

                                                                        @if (!string.IsNullOrEmpty(GetLanguageName(item.Value<string>("language"))))
                                                                        {

                                                                            <li style=" word-break: break-all;align-items: start;"><img src="/media/rhilewub/icon-language1.svg" alt=""><span>@GetLanguageName(item.Value<string>("language"))</span></li>
                                                                        }
                                                                        @if (!string.IsNullOrEmpty(item.Value<string>("playedGame")))
                                                                        {
                                                                            <li style=" word-break: break-all;align-items: start;"><img src="~/media/quobbvpb/gray-played-icon.png" alt="" class="grayPlayedIcon"><span>@(item.Value<string>("playedGame"))</span></li>
                                                                        }
                                                                    </ul>
                                                                    <div class="game_tile_btn">
                                                                        <a href="@item.Parent.Value("hostButtonLink")">@item.Parent.Value("hostButtonText")</a>
                                                                        <a href="@item.Parent.Value("playButtonLink")"><button type="button">@item.Parent.Value("playButtonText")</button></a>
                                                                        <a href="@item.Parent.Value("editButtonLink")">@item.Parent.Value("editButtonText")</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            counter++;
                                                }

                                                if (TrainingGamesLinks.Count() == 0)
                                                {
                                                    <h2>Games not found</h2>
                                                }
                                                         }
                            }

                                                    @if (toolsinglepage.Count() > 0)
                                                    {
                                                        foreach (var item in toolsinglepage)
                                                        {
                                                            if (TrainingGamesLinks.Any(x => x.Url.Equals(item.Url())))
                                                            {
                                                                var toolimg = item.Value<IPublishedContent>("rightImage");
                                                                var articleicon = item.Value<IPublishedContent>("toolaudioIcon");
                                                                var videoicon = item.Value<IPublishedContent>("toolboxIcon");
                                                                var toolBoxDesc = Convert.ToString(item.Value("toolboxDescriptionText"));
                                                                <div class="col-md-6">

                                                                    <div class="img-block" onclick="location.href='@item.Url()'" style="cursor:pointer">
                                                                        <div class="imgHolderBox">
                                                                            <img class="w-100" src="@toolimg.Url()">
                                                                        </div>
                                                                        <a style="color:black;text-decoration:none">
                                                                            <h5 class="mt-4">@item.Value("toolboxHeadingText")</h5>
                                                                        </a>
                                                                        @Html.Truncate(toolBoxDesc, 70)

                                                                    </div>
                                                                    <div class="toolbox_anchor_sec">
                                                                        @if (articleicon != null)
                                                                        {
                                                                            <a href="@item.Value("toolaudioLink")" class="me-3"><img src="@articleicon.Url()" alt="">@item.Value("articleButtonText")</a>
                                                                        }
                                                                        @if (videoicon != null)
                                                                        {
                                                                            <a href="@item.Value("toolboxButtonLink2")"><img src="@videoicon.Url()" alt="">@item.Value("videoLinkText")</a>
                                                                        }
                                                                    </div>

                                                                </div>
                                                            }
                                                        }
                                                    }
                                            </div>
                                        </div>
                                    </div>
                        }
                        @if (trainingMultiplePDFLinks != null)
                        {
                            foreach (var item in trainingMultiplePDFLinks)
                            {
                                IPublishedContent pdflink = item.Value<IPublishedContent>("singleRelatedLink");

                                <div class="col-md-4">
                                    <div class="new_game_box">
                                        <a target="_blank" href="@(pdflink != null ? pdflink.Url() : "javascript:void(0);")">
                                            <div class="casetiles-logo">
                                                <div class="game_box_thumbnail">

                                                    <img alt="" src="@(item.HasValue("image") ? item.Value<IPublishedContent>("image").Url() : string.Empty)">

                                                </div>
                                                <div class="game_img_overlay"></div>
                                            </div>
                                            <div class="casetiles-content">
                                                <p class="theory_names">
                                                    @if (pdflink != null)
                                                    {
                                                        @pdflink.Name
                                                    }
                                                </p>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            }
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="startedBtn">

                        @*@Html.Raw(Model.Value("trainingFooterText"))*@

                        <div class="btn-sec btn-alt">
                            @foreach (var link in TrainingReferences)
                            {
                                <a href="@link.Url" class="btn btn-primary">@link.Name</a>
                            }
                            @foreach (var link in TrainingReferences)
                            {
                                <a href="@link.Url" class="btn btn-primary">@link.Name</a>

                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/scripts/resize-box.js"></script>
@section VirtualJS{
    <script>
        $(function () {
            $(window).resize(function () {
                if ($(window).width() >= 768) {
                    $(".main-overview-sec .module-box h3").resizeBoxnew();
                    $(".module-box").resizeBoxWithOuterHeightNew();
                    $(".main-overview-sec .new_game_box .casetiles-content").resizeBoxWithOuterHeightForTile();
                }
                else {
                    $(".main-overview-sec .module-box h3").css("height", "auto");
                    $(".module-box").css("height", "auto");
                    $(".main-overview-sec .new_game_box .casetiles-content").css("height", "auto");
                }
            });


            if ($(window).width() >= 768) {
                $(".main-overview-sec .module-box h3").resizeBoxnew();
                $(".module-box").resizeBoxWithOuterHeightNew();
                $(".main-overview-sec .new_game_box .casetiles-content").resizeBoxWithOuterHeightForTile();
            }
            else {
                $(".main-overview-sec .module-box h3").css("height", "auto");
                $(".module-box").css("height", "auto");
                $(".main-overview-sec .new_game_box .casetiles-content").css("height", "auto");
            }
        });
    </script>
}
