﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    var root = Model.Root();
    var SiteLogo = root.Value<IPublishedContent>("logo");
    var gamelist = root.Children.Where(x => x.ContentType.Alias.Equals("games")).FirstOrDefault();
    var singlegame = gamelist.Children.Where(x => x.ContentType.Alias.Equals("gameCategoryPage")).FirstOrDefault();
    var insideheader = string.Empty;
    var navclass = string.Empty;
    var gameCategories = root.Descendants().Where(x => x.ContentType.Alias.Equals("gameCategoryPage")).ToList();
    var gamesPage = root.Descendants().Where(x => x.ContentType.Alias.Equals("games")).FirstOrDefault();
    var homePage = root;
    var headerGameMenu = root.Value<IEnumerable<IPublishedContent>>("gameMenu");
    var headerToolsMenu = root.Value<IEnumerable<IPublishedContent>>("toolsMenu");
    var headerNetworkMenu = root.Value<IEnumerable<IPublishedContent>>("networkMenu");
    var headerCompanyMenu = root.Value<IEnumerable<IPublishedContent>>("companyMenu");
    var seeAllgamesIcon = root.Value<IPublishedContent>("allGamesImage");
    var seeAllgamesLink = root.Value<IPublishedContent>("allGamesLink");
}

@functions{
    public string GetIPublishedContentUrl(IPublishedContent obj)
    {
        return obj != null ? obj.Url() : string.Empty;
    }
}

@if (Model.ContentType.Alias == "gameCategoryPage")
{ 
insideheader = "insideheader";
    navclass = "insideNav";
}
else if (Model.ContentType.Alias == "landingSubPage")
{
    insideheader = "insideheader";
    navclass = "insideNav";
}
else if (Model.ContentType.Alias == "championshipHome")
{
    insideheader = "insideheader";
    navclass = "insideNav";
}
else if (Model.ContentType.Alias == "overviewConsultancies")
{
    insideheader = "insideheader";
    navclass = "insideNav";
}
else if  (Model.ContentType.Alias == "seeMorePage")
{
    insideheader = "insideheader";
    navclass = "insideNav";
}
else
{
    navclass = "bg-light";
}
<header id="myHeader" class="@insideheader">
    <nav class="navbar navbar-expand-lg navbar-light @navclass">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                @if (SiteLogo != null)
                {
                    <img src="@SiteLogo.Url()" />
                }
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                             @root.Value("headerGamesText")
                        </a>
                        <ul class="dropdown-menu game-submenu games" aria-labelledby="navbarDropdown">
                            <div class="sub-menu-items p-2rem">
                                <p class="sec-desc">@root.Value("gameMenuTitle")</p>
                                <div class="row">
                                    @if (headerGameMenu != null)
                                    {
                                        foreach (var gameCategory in headerGameMenu)
                                        {
                                            var img = gameCategory.Value<IPublishedContent>("headerGamesIcon");
                                            <div class="col-md-6">
                                                <a href="@(gameCategory?.Url())" class="text-decoration-none">
                                                    <div class="row pt-2rem">
                                                        <div class="col-2 col-md-2 pe-0">
                                                            <img src="@(img?.Url())" alt="">
                                                        </div>
                                                        <div class="col-10 col-md-10 left-footer-heading pe-0">
                                                            <p class="submenu">@gameCategory.Value("headerGamesNames")</p>
                                                            <p class="sub-menu-desc">@Html.Truncate(gameCategory.Value<string>("headerGameDescription"), 20)</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    }
                                    @*@foreach (var gameCategory in headerGameMenu)
                                    {
                                        var img = gameCategory.Value<IPublishedContent>("headerGamesIcon");
                                        <div class="col-md-6">
                                            <a href="@(gameCategory?.Url())" class="text-decoration-none">
                                                <div class="row pt-2rem">
                                                    <div class="col-2 col-md-2 pe-0">
                                                        <img src="@(img?.Url())" alt="">
                                                    </div>
                                                    <div class="col-10 col-md-10 left-footer-heading pe-0">
                                                        <p class="submenu">@gameCategory.Value("headerGamesNames")</p>
                                                        <p class="sub-menu-desc">@Html.Truncate(gameCategory.Value<string>("headerGameDescription"), 20)</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    }*@
                                    <div class="col-md-6">
                                        <a href="@GetIPublishedContentUrl(seeAllgamesLink)" class="">
                                            <div class="row pt-2rem">
                                                <div class="col-md-2 col-2 pe-0">
                                                    <img src="@GetIPublishedContentUrl(seeAllgamesIcon)" alt="">
                                                </div>
                                                <div class="align-items-center d-flex col-md-10 col-10 left-footer-heading pe-0">
                                                    <p class="submenu">@root.Value("allGamesText")</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @root.Value("headerToolsText")
                        </a>
                        <ul class="dropdown-menu game-submenu" aria-labelledby="navbarDropdown">
                            <div class="sub-menu-items p-2rem">
                                <p class="sec-desc">@root.Value("toolsMenuTitle")</p>
                                <div class="row">
                                    @if (headerToolsMenu != null)
                                    {
                                        foreach (var tools in headerToolsMenu)
                                        {
                                            var img = tools.Value<IPublishedContent>("toolsHeaderIcons");
                                            <div class="col-md-6">
                                                <a href="@(tools?.Url())" class="text-decoration-none">
                                                    <div class="row pt-2rem">
                                                        <div class="col-2 col-md-2 pe-0">
                                                            <img src="@GetIPublishedContentUrl(img)" alt="">
                                                        </div>
                                                        <div class="col-10 col-md-10 left-footer-heading pe-0">
                                                            <p class="submenu">@tools.Value("toolsHeaderName")</p>
                                                            <p class="sub-menu-desc">@Html.Truncate(tools.Value<string>("toolsHeaderDescriptions"), 20)</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    }
                                    </div>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                           @root.Value("headerCompanyText")
                        </a>
                        <ul class="dropdown-menu game-submenu" aria-labelledby="navbarDropdown">
                            <div class="sub-menu-items p-2rem">
                                <p class="sec-desc">@root.Value("companyMenuTitle")</p>
                                <div class="row">
                                    @if (headerCompanyMenu != null)
                                    {
                                        foreach (var company in headerCompanyMenu)
                                        {
                                            var img = company.Value<IPublishedContent>("toolsHeaderIcons");
                                            <div class="col-md-6">
                                                <a href="@(company?.Url())" class="text-decoration-none">
                                                    <div class="row pt-2rem">
                                                        <div class="col-2 col-md-2 pe-0">
                                                            <img src="@GetIPublishedContentUrl(img)" alt="">
                                                        </div>
                                                        <div class="col-10 col-md-10 left-footer-heading pe-0">
                                                            <p class="submenu">@company.Value("toolsHeaderName")</p>
                                                            <p class="sub-menu-desc">@Html.Truncate(company.Value<string>("toolsHeaderDescriptions"), 20)</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    }
                                    </div>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                           @root.Value("headerNetworkText")
                        </a>
                        <ul class="dropdown-menu game-submenu" aria-labelledby="navbarDropdown">
                            <div class="sub-menu-items p-2rem">
                                <p class="sec-desc">@root.Value("networkMenuTitle")</p>
                                <div class="row">
                                    @if (headerCompanyMenu != null)
                                    {
                                        foreach (var network in headerNetworkMenu)
                                        {
                                            var img = network.Value<IPublishedContent>("toolsHeaderIcons");
                                            <div class="col-md-6">
                                                <a href="@(network?.Url())" class="text-decoration-none">
                                                    <div class="row pt-2rem">
                                                        <div class="col-2 col-md-2 pe-0">
                                                            <img src="@GetIPublishedContentUrl(img)" alt="">
                                                        </div>
                                                        <div class="col-10 col-md-10 left-footer-heading pe-0">
                                                            <p class="submenu">@network.Value("toolsHeaderName")</p>
                                                            <p class="sub-menu-desc">@Html.Truncate(network.Value<string>("toolsHeaderDescriptions"), 20)</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    }
                                    </div>
                            </div>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav me-right mb-2 mb-lg-0 d-flex align-items-center right-join">
                    <li class="nav-item">
                        <a class="nav-link text-decoration-underline" href="@homePage.Value("joinAGameLink")">@Umbraco.GetDictionaryValue("Header.JoinGame", "Join a game")</a>
                    </li>
                    <li class="nav-item">
                        <a href="@homePage.Value("createAGameLink")" class="nav-link create-gamebtn text-decoration-none d-flex align-items-center justify-content-center">@Umbraco.GetDictionaryValue("Header.CreateGameButton", "Create a game")</a>
                    </li>
                    <li class="nav-item">
                        <button type="button" id="langSelector" class="langage border-0 bg-light shadow-none ps-0">
                            <svg xmlns="#!www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 40 40">
                                <defs>
                                    <style>
                                        .a {
                                            fill: none;
                                        }

                                        .b {
                                            fill: var(--grey-dark-1b1b1f)
                                        }
                                    </style>
                                </defs>
                                <rect class="a" width="40" height="40" />
                                <g transform="translate(-27 -27)"><path class="b" d="M172.173,88.311a22.268,22.268,0,0,0,.757-4.543.3.3,0,0,0-.3-.311h-4.758a.3.3,0,0,0-.3.294v3.7a.3.3,0,0,0,.277.293,18.316,18.316,0,0,1,3.951.763A.3.3,0,0,0,172.173,88.311Zm-1.15,2.2A17.414,17.414,0,0,0,167.9,89.9a.3.3,0,0,0-.329.287v4.369a.3.3,0,0,0,.453.248,7.963,7.963,0,0,0,2.735-3.042c.13-.225.327-.613.447-.85a.287.287,0,0,0-.185-.4Zm-5.912-.6a17.2,17.2,0,0,0-3.118.591.334.334,0,0,0-.171.455c.12.238.268.543.394.771a7.918,7.918,0,0,0,2.762,3.076.3.3,0,0,0,.453-.248V90.185a.279.279,0,0,0-.32-.273Zm.021-6.455h-4.758a.3.3,0,0,0-.3.311,22.322,22.322,0,0,0,.754,4.543.3.3,0,0,0,.374.2,18.228,18.228,0,0,1,3.951-.761.3.3,0,0,0,.278-.293V83.751a.3.3,0,0,0-.3-.295ZM167.9,74.87a15.789,15.789,0,0,0,3.114-.612.288.288,0,0,0,.185-.4c-.12-.239-.286-.581-.413-.81a7.809,7.809,0,0,0-2.762-3.08.3.3,0,0,0-.453.248v4.368a.3.3,0,0,0,.329.288Zm-.031,6.443h4.758a.294.294,0,0,0,.3-.307,22.6,22.6,0,0,0-.747-4.568.3.3,0,0,0-.374-.2,18.729,18.729,0,0,1-3.957.8.3.3,0,0,0-.278.289v3.69A.3.3,0,0,0,167.873,81.314Zm-2.895-11.346a7.76,7.76,0,0,0-2.777,3.105c-.128.228-.281.543-.4.781a.289.289,0,0,0,.185.4,15.1,15.1,0,0,0,3.117.614.3.3,0,0,0,.329-.287V70.215a.3.3,0,0,0-.451-.248Zm.175,7.078a18.546,18.546,0,0,1-3.957-.8.3.3,0,0,0-.374.2,22.594,22.594,0,0,0-.747,4.568.294.294,0,0,0,.3.307h4.758a.295.295,0,0,0,.3-.291V77.335A.3.3,0,0,0,165.153,77.046Z" transform="translate(-119.498 -35.385)" /><path class="b" d="M57.607,36.394a15,15,0,1,0,0,21.213,15,15,0,0,0,0-21.213ZM41.683,58.709a14.672,14.672,0,0,1-.836-1.317c-.134-.247-.324-.62-.451-.879a.488.488,0,0,0-.69-.212c-.288.161-.67.383-.946.565a9.863,9.863,0,0,1-1.578-1.5,16.661,16.661,0,0,1,2.036-1.229c.125-.067.185-.143.146-.28a25.1,25.1,0,0,1-.944-5.5.292.292,0,0,0-.288-.279h-3.8a.134.134,0,0,1-.134-.114A6.581,6.581,0,0,1,34.143,47a6.446,6.446,0,0,1,.058-.957.134.134,0,0,1,.134-.114h3.8a.262.262,0,0,0,.287-.243,24.958,24.958,0,0,1,.938-5.48.292.292,0,0,0-.147-.342,17.454,17.454,0,0,1-2-1.2,11.372,11.372,0,0,1,1.55-1.527c.273.179.629.382.915.543a.528.528,0,0,0,.737-.229c.126-.259.268-.548.406-.8a14.863,14.863,0,0,1,.84-1.333A12.388,12.388,0,0,1,47,34.143a12.707,12.707,0,0,1,5.393,1.236,13.543,13.543,0,0,1,.8,1.272c.173.312.358.694.513,1.026a.287.287,0,0,0,.4.13c.36-.195.751-.419,1.094-.645a11.475,11.475,0,0,1,1.554,1.54,16.4,16.4,0,0,1-1.946,1.159.291.291,0,0,0-.146.343,23.35,23.35,0,0,1,.927,5.451.29.29,0,0,0,.288.276l3.792,0a.134.134,0,0,1,.134.114,7.865,7.865,0,0,1,0,1.917.134.134,0,0,1-.134.115H55.874a.291.291,0,0,0-.288.279,24.6,24.6,0,0,1-.929,5.444.3.3,0,0,0,.147.348c.335.173.708.367,1.029.564s.64.407.946.625a11.567,11.567,0,0,1-1.54,1.535c-.163-.108-.358-.23-.525-.331-.115-.067-.327-.185-.445-.252a.456.456,0,0,0-.656.228c-.128.264-.323.642-.46.887a14.224,14.224,0,0,1-.827,1.308,12.9,12.9,0,0,1-10.643,0Z" transform="translate(0 0)" /></g>
                            </svg></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
