﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    var allNewsContent = Model.Root().Descendants().Where(x => x.ContentType.Alias.Equals("news")).FirstOrDefault();
}
<article class="inside_banner toolBanner">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-12">
                <div class="content-block w-50 m-auto text-center">
                    <h2 class="games-heading-1">@allNewsContent.Value("heading")</h2>
                    <p class="welcome-desc">
                        @allNewsContent.Value("description")
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>