﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    var partnersPage = Model.Root().Descendants().Where(x => x.ContentType.Alias.Equals("partners")).FirstOrDefault();
}
<article class="inside_banner partners_bnr">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-12">
                <div class="content-block w-50 m-auto text-center">
                    <h2 class="games-heading-1">@partnersPage.Value("partnerPageHeading")</h2>
                    @partnersPage.Value("partnerPageDescription")
                </div>
            </div>
        </div>
    </div>
</article>