﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<List<IPublishedContent>>
@{

}
<div class="row">
        @foreach (var singleNews in Model)
        {
            var singleNewsImage = singleNews.Value<IPublishedContent>("newsImage");
            var date = Convert.ToDateTime(singleNews.Value("publishedDate")).ToString("dd MMMM, yyyy");
            <div class="col-md-4">
                <div class="img-block">
                    <div class="imgHolderBox">
                        @if (singleNewsImage != null)
                        {
                            <img class="w-100" src="@singleNewsImage.Url()">
                        }
                        <span class="newsYellowSpan">@singleNews.Value("newsType")</span>
                    </div>
                    <h5 class="mt-4">@singleNews.Value("newsHeading")</h5>
                    <p class="mt-3">@singleNews.Value("shortDescription")</p>
                    <span class="dateText">@date</span>
                </div>
            </div>
        }
</div>