﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IEnumerable<IPublishedElement>>
@{
    var modalId = "ModalPopup";
    var modalIdHash = "#ModalPopup";
    int counter = 1;
    var cardcount = 0;
}
@functions{
    public string GetImageUrl(IPublishedContent obj)
    {
        return obj != null ? obj.Url() : string.Empty;
    }
}

<div class="all_partners_holder">
    <div class="container">
        <div class="row" id="update_partners">
            @foreach (var item in Model)
            {
                var cardimage = item.Value<IPublishedContent>("partnersImage");
                var partnerdescription = Convert.ToString(item.Value("partnerDescription"));
                <div class="col-md-4">
                    <div class="white-txt-block">
                        <div class="card">
                            <div class="card-header">
                                @if (Convert.ToBoolean(item.Value("isLogo")) == true)
                                {
                                    <img src="@GetImageUrl(cardimage)" alt="">
                                }
                                @if (Convert.ToBoolean(item.Value("isLogo")) != true)
                                {
                                    <div class="roundUserImg">
                                        <img src="@GetImageUrl(cardimage)" alt="">
                                    </div>
                                }
                            </div>
                            <div class="card-body" data-bs-toggle="modal" data-bs-target="@modalIdHash@counter">
                                <h5 class="card-title">@item.Value("partnerName")</h5>
                                <h6 class="card-subtitle mb-2 text-muted">@item.Value("partnerAddress")</h6>
                                <p>@Html.Truncate(partnerdescription, 100)</p>
                                @{
                                    var partnerCardsButton = item.Value<IEnumerable<IPublishedElement>>("partnerSkills");
                                    foreach (var cardButton in partnerCardsButton)
                                    {
                                        var partnerCardButtonText = cardButton.Value<string>("partnerCardButtonText");
                                        var partnerCardButtonLink = cardButton.Value<string>("partnerCardButtonLink");
                                        <a href="@partnerCardButtonLink" class="card-link">@partnerCardButtonText</a>
                                    }
                                    
                                                    var skillsByAPI = item.Value<string>("skillsByAPI");
                                                    if (!string.IsNullOrEmpty(skillsByAPI))
                                                    {
                                                        var splitSkills = skillsByAPI.Split(',');
                                                        if (splitSkills.Count() > 0)
                                                        {
                                                            foreach (var splitSkill in splitSkills)
                                                            {
                                                                <a href="#" class="card-link">@splitSkill</a>
                                                            }

                                                        }
                                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                cardcount++;
                @*This is for popups cards *@
                <div class="modal fade white-txt-block  partner-card-body @Convert.ToString(item.Value("partnerName")).Replace(" ","")-card-modal" id="@modalId@counter" tabindex="-1" aria-labelledby="@modalId@counter-Label" aria-hidden="true" style="display:none !important;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body d-flex align-items-center">
                                <div class="card">
                                    <div class="card-header">
                                        @if (Convert.ToBoolean(item.Value("isLogo")) == true)
                                        {
                                            <img src="@GetImageUrl(item.Value<IPublishedContent>("partnersImage"))" alt="">
                                        }
                                        @if (Convert.ToBoolean(item.Value("isLogo")) != true)
                                        {
                                            <div class="roundUserImg">
                                                <img src="@GetImageUrl(cardimage)" alt="">
                                            </div>
                                        }
                                    </div>
                                    <div class="card-body">
                                            <h5 class="card-title">@item.Value("partnerName")</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">@item.Value("partnerAddress")</h6>
                                            <h6 class="cardTitle" style="display:inline; margin-right:10px;">Email:</h6>@item.Value("partnerEmail")<br />
                                            <h6 class="cardTitle" style="display:inline; margin-right:10px;">Phone:</h6>@item.Value("contactNumber")<br />
                                            <h6 class="cardTitle" style="display:inline; margin-right:10px;">Languages:</h6>@item.Value("partnerLanguages")<br />
                                            @{
                                                var partnerDesignationUrl = item.Value<string>("partnerAddressLink");
                                            }
                                            @if (partnerDesignationUrl.Contains("https://"))
                                            {
                                                <a href="@partnerDesignationUrl" class="websitelink"><h6 class="cardTitle" style="display:inline; margin-right:10px;">Website Name:</h6><span>@item.Value("partnerAddressLink")</span></a>
                                            }
                                            else if (partnerDesignationUrl.Contains("http://"))
                                            {
                                                <a href="@partnerDesignationUrl" class="websitelink"><h6 class="cardTitle" style="display:inline; margin-right:10px;">Website Name:</h6><span>@item.Value("partnerAddressLink")</span></a>
                                            }
                                            else
                                            {
                                                <a href="@string.Format("https://"+partnerDesignationUrl)" class="websitelink"><h6 class="cardTitle" style="display:inline; margin-right:10px;">Website Name:</h6><span>@item.Value("partnerAddressLink")</span></a>
                                            }
                                            <div class="card-skill-box">
                                                <h6 class="cardTitle" style=" margin-top: 10px;">Skills</h6>
                                                @{
                                                    var cardsButton = item.Value<IEnumerable<IPublishedElement>>("partnerSkills");
                                                    foreach (var cardButton in cardsButton)
                                                    {
                                                        var partnerCardButtonText = cardButton.Value<string>("partnerCardButtonText");
                                                        var partnerCardButtonLink = cardButton.Value<string>("partnerCardButtonLink");
                                                        <a href="@partnerCardButtonLink" class="card-link">@partnerCardButtonText</a>
                                                    }

                                                    var skillsByAPIs = item.Value<string>("skillsByAPI");
                                                    if (!string.IsNullOrEmpty(skillsByAPI))
                                                    {
                                                        var splitSkills = skillsByAPIs.Split(',');
                                                        if (splitSkills.Count() > 0)
                                                        {
                                                            foreach (var splitSkill in splitSkills)
                                                            {
                                                                <a href="#" class="card-link">@splitSkill</a>
                                                            }

                                                        }
                                                    }
                                                }
                                            </div>
                                            <h6 class="cardTitle">Descriptions</h6>
                                            @item.Value("partnerDescription")
                                        </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center mt-5">
                                <div class="popupCancelBtn">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    <button type="button" class="btn btn-secondary partner-modal-close-button" data-bs-dismiss="modal">Close window</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                counter++;
            }
        </div>
    </div>
</div>