﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<List<IPublishedElement>>
@{
    var count = 0;
    var id = "#accId";
    var area = "accId";
    var labelBy = "labelBy";
    List<string> obj = new List<string>();
}
<div class="col-md-8">
    @foreach (var faqCatName in Model)
    {
        var catName = faqCatName.Value<IPublishedContent>("categoryName").Name;
        obj.Add(catName);
        <div class="faq_accordions">
            @if (obj.Select(x => x.Equals(catName)).Count().Equals(1))
            {
                <p class="accordion-title"> @catName</p>
            }

            <div class="categorya">
                <div class="accordion accordion-flush" id="accordionFlushExample">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="@(labelBy + count)">
                            <button class="accordion-button collapsed shadow-none border-0 bg-light ps-0" type="button" data-bs-toggle="collapse" data-bs-target="@(id + count)" aria-expanded="false" aria-controls="@(area + count)">
                                @faqCatName.Value("categoryHeading")
                            </button>
                        </h2>
                        <div id="@(area + count)" class="accordion-collapse collapse" aria-labelledby="@(labelBy + count)" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body ps-0">@faqCatName.Value("categoryDescription")</div>
                        </div>
                    </div>
                    @{
                        count++;
                    }
                </div>
            </div>
        </div>
    }
</div>