﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IEnumerable<IPublishedElement>>
@{
    var modalId = "ModalPopup";
    var modalIdHash = "#ModalPopup";
    int counter = 1;
    var cardcount = 0;
}
@functions{
    public string GetImageUrl(IPublishedContent obj)
    {
        return obj != null ? obj.Url() : string.Empty;
    }
}
<div class="all_partners_holder">
    <div class="container">
        <div class="row" id="update_partners">
            @foreach (var item in Model)
            {
                var cardimage = item.Value<IPublishedContent>("partnersImage");
                var partnerdescription = Convert.ToString(item.Value("partnerDescription"));
                <div class="col-md-4">
                    <div class="white-txt-block">
                        <div class="card">
                            <div class="card-header">
                                @if (Convert.ToBoolean(item.Value("isLogo")) == true)
                                {
                                    <img src="@GetImageUrl(cardimage)" alt="">
                                }
                                @if (Convert.ToBoolean(item.Value("isLogo")) != true)
                                {
                                    <div class="roundUserImg">
                                        <img src="@GetImageUrl(cardimage)" alt="">
                                    </div>
                                }
                            </div>
                            <div class="card-body" data-bs-toggle="modal" data-bs-target="@modalIdHash@counter">
                                <h5 class="card-title">@item.Value("partnerName")</h5>
                                <h6 class="card-subtitle mb-2 text-muted">@item.Value("partnerAddress")</h6>
                                <p>@Html.Truncate(partnerdescription, 200)</p>
                                @{
                                    var partnerCardsButton = item.Value<IEnumerable<IPublishedElement>>("partnerSkills");
                                    foreach (var cardButton in partnerCardsButton)
                                    {
                                        var partnerCardButtonText = cardButton.Value<string>("partnerCardButtonText");
                                        var partnerCardButtonLink = cardButton.Value<string>("partnerCardButtonLink");
                                        <a href="@partnerCardButtonLink" class="card-link">@partnerCardButtonText</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                cardcount++;
                @*This is for popups cards *@
                <div class="modal fade white-txt-block  partner-card-body @Convert.ToString(item.Value("partnerName")).Replace(" ","")-card-modal" id="@modalId@counter" tabindex="-1" aria-labelledby="@modalId@counter-Label" aria-hidden="true" style="display:none !important;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body d-flex align-items-center">
                                <div class="card">
                                    <div class="card-header">
                                        @if (Convert.ToBoolean(item.Value("isLogo")) == true)
                                        {
                                            <img src="@GetImageUrl(item.Value<IPublishedContent>("partnersImage"))" alt="">
                                        }
                                        @if (Convert.ToBoolean(item.Value("isLogo")) != true)
                                        {
                                            <div class="roundUserImg">
                                                <img src="@GetImageUrl(cardimage)" alt="">
                                            </div>
                                        }
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Value("partnerName")</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">@item.Value("partnerAddress")</h6>
                                        @item.Value("partnerDescription")
                                        @{
                                            var cardsButton = item.Value<IEnumerable<IPublishedElement>>("partnerSkills");
                                            foreach (var cardButton in cardsButton)
                                            {
                                                var partnerCardButtonText = cardButton.Value<string>("partnerCardButtonText");
                                                var partnerCardButtonLink = cardButton.Value<string>("partnerCardButtonLink");
                                                <a href="@partnerCardButtonLink" class="card-link">@partnerCardButtonText</a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center mt-5">
                                <div class="popupCancelBtn">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    <button type="button" class="btn btn-secondary partner-modal-close-button" data-bs-dismiss="modal">Close window</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                counter++;
            }
        </div>
    </div>
</div>