﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    var bannerimg = Model.Value<IPublishedContent>("bannerImage");
}
<section class="banner inner_page_banner virtual_bnr">
    <div class="slide">
            <div class="container">
                <div class="content">
                    <h1 class="games-heading-1 text-white">@Model.Value("bannerHeading")</h1>
                    <p>@Model.Value("bannerDescription")</p>
                </div>
            </div>
        </div>
    </div>
</section>