﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    var gamelist = Model.Root().Children.Where(x => x.ContentType.Alias.Equals("games")).FirstOrDefault();
    var singlegame = gamelist.Children.Where(x => x.ContentType.Alias.Equals("gameCategoryPage")).FirstOrDefault();
}
<article class="inside_bann_slider">
    <div class="container">
        <div class="d-flex align-items-center">
            <div class="content-block text-center w-50">
                <h2 class="games-heading-1 text-white">@Model.Value("bannerHeading")</h2>
                @Model.Value("bannerText")
            </div>
        </div>
    </div>
</article>