﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    var image = Model.Value<IPublishedContent>("image");
}
@functions{
    public string GetImageUrl(IPublishedContent obj)
    {
        try
        {
            return obj != null ? obj.Url() : string.Empty;
        }
        catch
        {
            return string.Empty;
        }

    }
}
<section class="banner inner_page_banner virtual_bnr">
    <div class="slide">
        <div class="item ">
            <div class="container">
                <div class="content">
                    <h1 class="games-heading-1 text-white">@Html.Raw(Model.Value("heading"))</h1>
                    <p>@Html.Raw(Model.Value("description"))</p>
                </div>
            </div>
        </div>
    </div>
</section>
